[2021-09-27 06:02] kwonangela7 commented on #366
I'm able to access Brooks' [style](https://api.mapbox.com/styles/v1/bjessup/ckooyp5jf1e0717p6ojtjol3d.html?fresh=true&title=copy&access_token=pk.eyJ1IjoiYmplc3N1cCIsImEiOiJja29hdThpMW0wNTB0Mm5va3hiMTg3MDg4In0.cOpsPQrnbE5-k05WMtLvog#9/37.78/-122.4241) publicly, but there's some error copying it over to my account that I just asked Brooks and Kabirdas about. I think we can consider this ticket close

[2021-09-27 06:03] #366 closed, assigned to kwonangela7

[2021-09-29 02:03] exchrotek commented on #366
@theecrit ready for your review, as all the acceptance criteria have been. This is from sprint ending on 9/27

[2021-09-29 02:04] exchrotek commented on #365
@kwonangela7  to break down further in the next sprint. Some of the sub-tasks that result may require pair programming.

[2021-09-29 02:09] kwonangela7 opened #370 "Identify success criteria for #237 and #315"

[2021-09-29 02:11] kwonangela7 commented on #370
#237

[2021-10-06 02:20] exchrotek commented on #358
Niels met with Jonathan and they talked about using plugins/tools. Niels looked into Overlay plugin for Figma, which allows a lot of the front end designed in Figma to be translated to React JS code.

[2021-10-12 17:41] theecrit commented on #358
FYI this is a dev issue, not a design issue. The designs are done (the linked wires). I may revamp the labels to make those distinctions more clear.

[2021-10-13 02:12] theecrit opened #372 "[Placeholder] Add About content to app"

[2021-10-13 03:27] theecrit commented on #362
Instructions I'm using to update front-end content (may or may not be helpful for documentation; this is really noob-centric; assumes you've already copied the repo locally):

Create and check out new branch based on an existing branch:
- `git status`
- `git checkout {existing-branch}`
- `git pull origin develop`
- `git checkout -b {new-branch-name}`

Navigate to front-end directory:
- `cd {direct

[2021-10-13 03:41] theecrit opened #374 "Update content and respective global nav options"
## Description

The current global navigation includes links to `About`, `Upload`, and `Maps`. These options need to be updated to reflect the MVP information architecture.

### Acceptance criteria
- [x] New pages created for:
  - [x] West Oakland's Air
  - [ ] ~Get Involved (@theecrit to update content)~
- [x] Global nav includes the following options with functional links to the appropriate page

[2021-10-13 03:50] theecrit commented on #358
Updated wireframes to correct file!

[2021-10-13 04:12] theecrit opened #375 "Typo in error message when selecting a single file to upload"
**Describe the bug**
The word "cvs" should read "csv" in the error displayed when user uploads only a single file.

**To Reproduce**
Steps to reproduce the behavior:
1. Select "Upload" from global nav
2. Select a file from the finder
3. Observe typo in warning displayed

**Expected behavior**
The file type should be described as a "csv" not a "cvs"

** System info **
 - Device: MacBook Pro
 - OS:

[2021-10-13 04:14] theecrit opened #376 "[BLOCKED] API Request URL is incorrect. Needs to be updated with Environment variable"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
<img width="800" alt="Screen Shot 2021-10-12 at 10 42 14 PM" src="https://user-images.githubusercont

[2021-10-15 19:24] ontoneio commented on #376
Currently the site deploys from the main branch. The reason for the error is because the request is being sent to an incorrect API url. It's an environment variable that needs to be fixed.

[2021-10-15 19:27] ontoneio commented on #376
![image](https://user-images.githubusercontent.com/24515434/137542684-4b112e6f-2d21-474f-a7e5-31e3daa631fc.png)

[2021-10-20 21:46] theecrit opened #377 "Sticky footer not sticking"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /about or /maps
2. View footer links overlapping the page content

**Expected behavior**
Footer component should stick to the bottom of the browser window and resize when window size changes, while remaining stuck to bottom of window. There should be a comfortable ma

[2021-10-26 22:42] theecrit commented on #246
Adding notes from @TangoYankee re: proper tests to run:

[2021-10-27 02:28] exchrotek commented on #346
Still need to resolve CORS error on the backend. Tim and Angela's web dev friends may be a good resource.

[2021-10-30 16:03] TangoYankee commented on #237
I see the third acceptance criteria: "see the min or max of air quality per 3 meters" used to be its own issue- #315 . I think it should be split back into its own issue for three reasons.

1) The first two acceptance criteria are already complex
2) The third criteria appears to be an independent feature
3) I think we will want designs that clarify what it looks like to display the min and max, wi

[2021-10-30 16:14] TangoYankee commented on #237
The classification for PM2.5 is available in this chart:
![Measurement to AQI](https://user-images.githubusercontent.com/11068062/139540817-aa32d8cf-b762-460c-beaf-c45ebaccf1e9.PNG)

The dustrak measures in mg. The conversion of m to μ is 10^3 μ to m.

[2021-10-30 17:36] TangoYankee commented on #237
Still need to write the tests. But, this is the progress I was able to make today.
![color categories](https://user-images.githubusercontent.com/11068062/139543271-f0963174-f0be-4c8b-868e-d1f0b2bbae64.PNG)

The yellow is hard to see. But, it's correct.

[2021-10-30 20:19] theecrit commented on #237
I'm actually not super clear what the difference is between criteria 2 & 3, other than one addressing when there's more than reading for a single geolocation.

@kwonangela7 Can you shed any light here?

[2021-11-01 20:00] TangoYankee commented on #237
I made two updates.
1) We were using a [`Marker`](https://visgl.github.io/react-map-gl/docs/api-reference/marker) for each data point. This was making our map slow to zoom and pan. As referenced in the description, I swapped it with a style [layer](https://visgl.github.io/react-map-gl/docs/api-reference/layer) for all data points. It's much smoother now.
2) The EPA document lists specific rgb leve

[2021-11-01 20:07] #244 closed, assigned to wendy-wm-wu

[2021-11-01 20:14] TangoYankee commented on #331
Resource for developers: [Adding interaction to points in a data layer](https://docs.mapbox.com/mapbox-gl-js/example/center-on-feature/)

[2021-11-01 20:14] #361 closed, assigned to TangoYankee

[2021-11-02 04:42] kwonangela7 commented on #237
@theecrit that's exactly the distinction! These stylings are from the meeting we had with Brian a while back (captured from my handwritten notes) and I wanted to lay them down explicitly on this ticket. We're using max as the aggregator for both situations; #2 is for aggregating multiple readings for a single geolocation and #3 is for aggregating multiple readings over a certain area (Brian sugges

[2021-11-02 04:43] kwonangela7 commented on #237
@theecrit tagging you for the comment above as I'm not sure if Github sent the notification due to some formatting issue I had when I first posted the comment.

[2021-11-02 05:05] kwonangela7 commented on #237
Shoot @TangoYankee -- sorry, I should have made this more obvious on the ticket itself as opposed to just it being a comment but Brooks and Kabirdas actually implemented #2 in Mapbox itself! Kabirdas opened up PR #364 so that we could do stylings in Mapbox (and also use the one Brooks already created for #2, check it out [here](https://api.mapbox.com/styles/v1/bjessup/ckooyp5jf1e0717p6ojtjol3d.htm

[2021-11-02 12:34] TangoYankee commented on #237
Having the feature depend on an outside style is fragile. If the map breaks or we need to change it, it is difficult or impossible for another developer to manage it.

The application is designed to use react and mapbox directly in the front end. This allows any developer to have direct access to how the data is displayed. It also gives us more control to optimize its performance and add new featu

[2021-11-17 01:34] mnorelli commented on #362
Prior to the `npm start` should be this instruction:
`npm install` to get all the required libraries

and there are many deprecated libraries here...

[2021-11-20 18:45] kwonangela7 commented on #365
I'm closing this ticket as it's essentially a duplicate of #237

[2021-11-20 18:45] #365 closed, assigned to nobody

[2021-11-20 18:51] kwonangela7 commented on #315
Per Tim's suggestion (see [comment](https://github.com/openoakland/woeip/issues/237#issuecomment-955389956)) I am reopening this issue and removing it from #237.

[2021-11-20 18:56] kwonangela7 commented on #315
@TangoYankee, I will follow up with Jess directly about the designs for the max/min. I'm not sure if we have any atm but I imagine we can come up with something relatively quickly.

Is there any other information needed from me (other than the designs) to ensure this ticket is ready to be worked on? I'm not sure if the backend is set up so that we can actually aggregate the data points as such, so

[2021-11-20 19:18] kwonangela7 commented on #237
I went ahead and moved the third item into #315; thanks for your patience!

~~@TangoYankee I put this ticket back in needs definition b/c item #2 needs more. What I currently have for designs for item #2 are the [wireframes](https://www.figma.com/file/IZw8VvX1CsRc764CTvg4aRSU/WOAQ-Wireframes-Parent-File?node-id=340%3A5671) for the Figma prototype linked in a previous comment. However, the design s

[2021-11-21 01:25] TangoYankee commented on #315
@kwonangela7 How are we defining `per 3m`, as the routes often meander. Are we picking every nth reading and finding the readings that are within a 1.5m radius from the reference reading? Are we establishing a grid of 3m by 3m cells and then aggregating all of the readings within that cell? Are we outlining an "ideal" route, picking points along the "ideal" route and then finding readings with a 1

[2021-11-24 21:18] TangoYankee commented on #362
@mnorelli please open an issue with a list of deprecated libraries

[2021-11-29 08:06] kwonangela7 commented on #315
Those are really good questions.. 🤔 (and sorry for the late response!)

I'm going to think on it a bit more, and see if I can pick the team's brain (namely Jess / Niels since they were at the meeting) on Tuesday and get back to you in a few days. My gut feeling is that we want to establish a grid of 3m by 3m cells and then aggregating all of the readings within that cell, and that we aren't trying

[2021-11-30 02:14] TangoYankee commented on #315
@kwonangela7 Honestly, I think the simplest approach is to be a little loose with the idea of "3m". Instead, we create groups of size "n" . For example, we could group together every 50 consecutive readings. Those 50 readings will cover some time t. In most circumstances, the collectors will be walking during the collection. The groupings should naturally follow a relatively consistent geographic

[2021-11-30 21:09] theecrit commented on #246
Fixed in #379

[2021-11-30 21:09] #246 closed, assigned to theecrit

[2021-11-30 21:11] theecrit commented on #377
Fixed in #379

[2021-11-30 21:11] #377 closed, assigned to TangoYankee

[2021-11-30 22:21] theecrit commented on #339
Both URLs are working now, so closing this issue.

[2021-11-30 22:21] #339 closed, assigned to nobody

[2021-11-30 22:22] theecrit commented on #296
I'm not seeing this fixed in #379 but let me know if I'm missing something.

[2021-11-30 22:32] theecrit commented on #372
Duplicate of #374

[2021-11-30 22:32] #372 closed, assigned to theecrit

[2021-11-30 22:50] theecrit commented on #265
Duplicate of #276

[2021-11-30 22:50] #265 closed, assigned to nobody

[2021-11-30 22:52] theecrit commented on #259
@wendy-wm-wu Do you know which PR this fix ended up in? Would love to document that before officially closing this issue.

[2021-11-30 23:04] theecrit commented on #199
My guess is a sign-in link based on the more recent work from @wendy-wm-wu and @sribbleinc.

[2021-12-01 01:40] mnorelli opened #383 "Update needed libraries referenced in woeip/web/package.json"
### Description
Issue https://github.com/openoakland/woeip/issues/362#issuecomment-941882933 provides instructions for locally hosting the front-end for developers unable to run `docker-compose up -d --build`.  Accessing `woeip/web/package.json` with `npm install`, yields a list of deprecated libraries.

@hapi/topo@3.1.6: This version has been deprecated and is no longer supported or maintained
@h

[2021-12-01 01:42] mnorelli commented on #362
Done, as https://github.com/openoakland/woeip/issues/383#issue-1067854875

[2021-12-01 16:15] theecrit commented on #276
Updated instructions for bullet #2 in issue above (for running front-end locally):

Clone repo to your local machine and navigate to the front-end directory:
- `cd ~/{local path}/woeip/web`

Create and check out new branch based on an existing branch:
- `git status` (tells you which branch you're on)
- `git checkout {existing-branch}` (checks out the branch you want to work from)
- `git pull origi

[2021-12-01 16:19] #358 closed, assigned to mnorelli

[2021-12-01 21:57] TangoYankee commented on #296
It is certainly possible I missed something. However, not all of the environments would immediately see a difference. Which environments haven't updated?

[2021-12-04 08:13] kwonangela7 commented on #315
@TangoYankee I can't picture yet how that would be translated into code 🤔 but I think that makes more intuitive sense.

Also FYI after the Tuesday worksession this ticket got pushed back as a post-MVP enhancement, but I think this concept relates to other tickets as well. I'll be updating the other ticket you commented on a bit more to fill you in on what we discussed within the next few days.

[2021-12-06 21:43] wendy-wm-wu commented on #259
@theecrit - https://github.com/openoakland/woeip/pull/323

[2021-12-07 14:41] #259 closed, assigned to sribbleinc, Ajay-Vishwanath, wendy-wm-wu

[2021-12-07 20:58] mnorelli commented on #315
Fascinating discussion.  Is this the best place to comment now that this ticket is moved to post-MVP?  Please let me know where else to comment on this display discussion useful to other tickets.

There are established GIS processes to filter data this way, for example the [generalize](https://desktop.arcgis.com/en/arcmap/10.3/tools/editing-toolbox/generalize.htm) geoprocess.  And @TangoYankee I t

[2021-12-08 00:07] TangoYankee commented on #315
@mnorelli this is cool

[2021-12-14 17:59] theecrit commented on #237
@kwonangela7

Are you referring to the pop-up for an individual geolocation? That is covered by #331 and is not within the scope of this issue, so shouldn't be a blocker. This issue is for the route path display only.

[2022-01-12 02:04] kwonangela7 commented on #237
@theecrit -- you're totally right, and I finally got around to updating the comment above. Sorry for the confusion!

[2022-01-12 03:38] kwonangela7 commented on #237
@mnorelli, Tim actually has a PR open for this work! https://github.com/openoakland/woeip/pull/380

I'm going to take you off as an assignee for this ticket since Tim completed it, but I added you as a reviewer to the PR as I thought you'd be a great person to do it! Hopefully this is okay with you, but take yourself as an assignee if not.

(Apologies that I didn't realize this work was already do

[2022-01-12 06:03] kwonangela7 commented on #315
After some back and forth, we're keeping this in the MVP :) I'll be updating the ticket shortly.

[2022-01-12 06:40] #370 closed, assigned to kwonangela7

[2022-01-12 06:42] kwonangela7 opened #385 "As a user looking at a single collection session, I would like to see the appropriate amount of data points depending on the zoom level I've selected"
## Description
The user would like to see more of the individual data points when they zoom into the map, and less of the individual data points when they zoom out.

### Strategy

*Shape of the data*
![Sample data collection](https://user-images.githubusercontent.com/11068062/139733695-759b13c7-c14a-441b-8ddf-833160470b32.PNG)

*Problem*
The amount of data points may be overwhelming for the user t

[2022-01-12 06:48] kwonangela7 commented on #315
Ticket has been updated!

[2022-01-12 06:49] kwonangela7 commented on #315
@TangoYankee @theecrit I created #385 to capture the requirement and implementation details around the zoom levels that we talked about, and linked it to this ticket as well. Please feel free to update either ticket accordingly! ^^

[2022-01-19 02:33] #237 closed, assigned to TangoYankee

[2022-01-19 22:32] TangoYankee commented on #376
The variables is incorrect on the [`main`](https://github.com/openoakland/woeip/blob/main/web/.env.production) branch but correct on the [`develop`](https://github.com/openoakland/woeip/blob/develop/web/.env.production) branch. There should be no new code required to fix this. We should be able to push `develop` to `main` and that should resolve the issue. @wendy-wm-wu @theecrit @ontoneio

[2022-01-26 03:04] exchrotek commented on #376
- [ ] push develop to main

[2022-01-26 03:06] #329 closed, assigned to TangoYankee

[2022-01-26 03:27] exchrotek commented on #331
Resource: https://visgl.github.io/react-map-gl/

[2022-02-02 03:51] #276 closed, assigned to mnorelli

[2022-02-02 03:55] exchrotek commented on #331
Michael is getting used to ReactJS. He has it so you can now hover over an area and a pop up shows the data value and x,y coordinates.

[2022-02-02 04:03] exchrotek commented on #376
Jonathan said there was some chatter about moving away netlify since it might not be useful anymore? However, Tim wants the netlify repo to be transferred over to an OpenOakland account (away from Jonathan's personal) and we will continue to try to integrate it.

This issue is BLOCKED until netlify integration is complete.

[2022-02-02 04:36] exchrotek opened #389 "Wireframes draft of website layout on mobile device"
"As a WO resident I'd like to be able to see the website presentably laid out on my phone so that is more navigable and usable."

Acceptance Criteria:
TBD

[2022-02-06 04:41] gsehrlich opened #395 "As a user, I want to be able to see what dates in the calendar have data."
**Is your feature request related to a problem? Please describe.**
After uploading some data, if I close the page and return to it, I can't see which dates have data without opening each date one at a time.

**Describe the solution you'd like**
The calendar should have a marker or color coding for dates that have data. If there were some way to zoom out to a twelve-month or multi-year view, that m

[2022-02-07 21:55] mnorelli commented on #395
Love this idea.  And... I would find it helpful that when clicking Save after uploading a pair of collection files, the Maps page opens to the date collected of those files.  Would this necessitate a new issue?

[2022-02-08 03:44] theecrit commented on #395
@mnorelli

It does this already! :D Let me know if it's not working for you and we can open a bug issue.

[2022-02-08 03:50] theecrit commented on #395
I think this is a really useful story to add (I could've sworn it used to do this, but I just tested it and sure enough it does not).

It also raises a larger question around how we handle time. We've been prioritizing the data collector audience, which has resulted in us taking a very session-specific view of the data. But residents (and others) may want a view of AQ over time, or in aggregate. E

[2022-02-08 04:44] theecrit opened #401 "Update "duplicate files" error warning"
## Description
The current error text is a little cold and the styling uses a systems notification style instead of our regular error warning.

## Proposed solution
Friendlier copy along the lines of:

## Open questions
What solutions should we suggest for the user?
- Override the existing session data.
- Add the data as a new session.
- Cancel the upload.
- Some combination of the above?

## Scre

[2022-02-09 03:48] theecrit opened #402 "[Placeholder] 404 when trying to download files associated with a map"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-02-09 03:57] theecrit commented on #362
Docker sets up an NGNX server and database, helps handle migrations for DB, each needs to be dealt with.

[2022-02-09 04:18] theecrit commented on #357
Maybe look at the component order.

[2022-02-10 01:58] mnorelli opened #403 "As a new volunteer, I'd like to have clear instructions for installing the WOAQ application locally"
**Describe the bug**
The README instructions are still confusing to new volunteers and mix together the Docker method with the command line git and npm method for installing the app.

**Expected behavior**
A newcomer of any comfort level with Docker and git and npm should be able to follow the README step-by-step and get (a) a working app running locally, and (b) know how to make edits to the code

[2022-02-10 02:34] mnorelli opened #404 "As a new volunteer, I would like a team onboarding process that includes basic information and ways I can contribute based on my needs."
**Is your feature request related to a problem? Please describe.**
Based on a casual mention by @theecrit on 2/8/22 hack night during a discussion of the README instructions for new developers, new folks are a little confused when getting started with our team.  We take time in hack nights to meet people newly interested in the project, of course, but after that, getting new folks to the next step

[2022-02-10 02:44] mnorelli opened #405 "(Retire Trello?) As a volunteer, I would like to access current project information"
**Is your feature request related to a problem? Please describe.**
A new data developer volunteer found the Trello board and heard that it mostly contained outdated information.  There was mention at the 2/8/22 hack night that this resource might need to be retired, and the still-needed parts added to GitHub project management.  There was discussion also if using just one project management system

[2022-02-11 16:42] gsehrlich commented on #405
Thanks Michael! I had an alternative to put out there, which is to use Trello as the primary board and [integrate it with GitHub](https://blog.trello.com/github-and-trello-integrate-your-commits). I've never tried this before but would be happy to do a little research to see if the extra step it creates for developers and project managers would be significant or pretty minimal.

[2022-02-11 19:42] hawser commented on #405
Thanks Gabriel and Michael! I have installed the integration and will see how it works!

[2022-02-12 00:43] hawser commented on #405
The labels in Trello are different, maybe we could have a discussion about this on hacknight. Trello has a blog about this "Power-Up" integration [here](https://blog.trello.com/github-and-trello-integrate-your-commits)

[2022-02-12 04:48] exchrotek commented on #403
@mnorelli  by any chance do you know what some of the common pitfalls or obstacles newcomers encounter during installation & deployment of the WOAQ web app locally?

I remember at one point when you first started, the port # for Docker you had to deviate from the instructions in order to get it working (correct me if I'm misremembering), but was there anything else you faced that you'd like to sha

[2022-02-12 05:25] theecrit commented on #405
Power-ups are generally paid (I think).

For the tagging/labels, the GH repo is overdue for a simplification; I feel like we have way too many labels to be useful. I like the idea of streamlining and maintaining as much consistency as possible.

[2022-02-12 18:41] mnorelli commented on #403
@theecrit had some challenges, Anna and Frances asked me some questions about it, and Gabriel (these three folks are not joined to GitHub) and I had the question about whether npm was needed if Docker was successful.  In my case, I had an old project that was using port 3000; I just needed to kill that process for Docker to complete, so that issue was particular to me.

I had the sense that we cou

[2022-02-13 02:23] gsehrlich commented on #403
Two comments based on my experience. 1. On my machine, Docker came with Docker Compose, so we might want to clarify that the latter is sometimes (or always?) a redundant instruction. 2. There's no need to run npm install, since Docker is doing that. Everything else worked perfectly for me!

[2022-02-13 23:19] hawser commented on #405
Power-ups are now free! They recently changed their policy.

Niels

[2022-02-15 00:29] mnorelli commented on #395
Glad you have the same experience <whew!>
I'm watching [Tim's code walkthru](https://drive.google.com/file/d/1li3jC1CL54S5Lk1NsdrGsdQWw0_su6V-/view) and see that the route that's supposed to load the /maps page at the /upload page's upload file date is set in `../web/src/components/upload/confirm.js.`  The problem might be related or connected to this?

[2022-02-15 02:00] mnorelli commented on #385
I wonder if heatmapping is the way to go here, to show the general character of clusters of points without having to show each and every point.  It's pretty neat that in this Mapbox example, [Create a heatmap layer](https://docs.mapbox.com/mapbox-gl-js/example/heatmap-layer/) that you can actually zoom all the way down until the constituent points of the heatmap representation can be seen.  Maybe

[2022-02-15 03:04] theecrit commented on #385
Let's think about the actual use case. For our current priority audience (volunteer data collectors), they are learning generally about the connection between emissions sources in the environment and the air pollution that results. So the representation of that particulate reading on the geopoint is kind of the bridging of that connection. I worry that a heat map might pull them out of the the lea

[2022-02-15 18:47] mnorelli commented on #395
@gsehrlich notes that, for him, the map page does resolve to the uploaded files' collection date.  Maybe there is something local affecting this for each of us and not the code?

And @gsehrlich and I talked about time in relation to the data, especially relating to trends over time.  Looking forward to an exploration around this!

[2022-02-16 01:50] mnorelli commented on #331
#331 breakdown of steps to implement

~~- [ ]  set click listener on a point~~
does it make sense to create listeners for every point?
why not just collect a mouse click and see what's under it?

Instead
- [x] return point values on hover
- [x] get the value for the first point
- [x] write value and other properties to a popup
- [x] get time and date values and show them for first point

Configure

[2022-02-16 03:21] exchrotek commented on #331
To play Devils 😈 advocate, and because I genuinely don't know, what are
the disadvantages of having an onClick listener for every point on the map?

Is this currently a decision for whether hover or click should display the
pop up box  of metadata for each point?

On Tue, Feb 15, 2022, 5:50 PM Michael Norelli ***@***.***>
wrote:

[2022-02-16 04:39] mnorelli commented on #331
Please bring devils!  Thanks, @exchrotek !

I found it really easy to implement a return of points around an x/y versus a listener-per-point, which I guessed would add processing load and a slew of events to manage.  In this novice's estimation, the Mapbox solution for this seemed simpler, more familiar to me, more elegant.

 And, no, not a fixed decision to hover instead of click.  I thought (ple

[2022-02-16 06:44] exchrotek commented on #331
Hahahaha 😈😈😈

Correct me I'm wrong, but it sounds like the onClick is just using a very
common event handler from the React library. By Mapbox solution, are you
referring to some mind of  hover event handler is built into mapbox?

On Tue, Feb 15, 2022, 8:39 PM Michael Norelli ***@***.***>
wrote:

[2022-02-16 06:49] exchrotek commented on #331
Yikes I had plenty of typos using mobile there.

Basically what I was trying to say, is the hover option less process
intensive because it's a built in event handler in Mapbox? And is the click
event handler you're considering the one that is part of one of the common
React library? Is there a click handler in built to Mapbox as well?

On Tue, Feb 15, 2022, 10:44 PM Brian D Fu ***@***.***> wrote:

[2022-02-16 07:16] exchrotek commented on #385
I am a big fan if heatmaps broadly speaking because of how they convey
trends and info visually quite well. However, in the interest of having
volunteers better understand the data they are collecting, I could see how
a heat map could abstract some of that understanding away.

A specific scenario that comes to mind is if they walk by a smoker and the
air quality readings suddenly get significantly

[2022-02-16 15:31] theecrit commented on #385
I haven't read this thoroughly, but is there a solution here?

https://docs.mapbox.com/help/troubleshooting/working-with-large-geojson-data/

Again, we're not the first ones to tackle this challenge so it seems like it's a matter of seeing how else this has been done?

[2022-02-19 00:37] gsehrlich commented on #395
So I've dived into the code and I think I know how I could implement this. As a newcomer to software development and React and Django, I'm not sure if this is the best way of doing it. Feel free to weigh in—I'd appreciate it!

Currently, the user picking a date from the datepicker triggers the frontend to ask the backend for the metadata about the collections on that single date. Then it uses the

[2022-02-21 07:27] exchrotek commented on #395
In practice, if we were writing this app and expected millions of users to be uploading collections of data from the Dustrak, maybe then that could be a problem? Perhaps you could impose a pre-defined size limit or date-range limit of loading just for good practice. Only if they click in the UI to the previous year do you query the collections table for another year's worth of data and highlight t

[2022-02-21 23:12] gsehrlich commented on #395
Thanks! Thinking about it some more, I realized the size of the metadata would only be a problem if there are hundreds of collections per day, which the calendar doesn't need to know anyway. I'll leave the date-specific functionality as is and write a new calendar-styling query that just gets the first collection on each day.

[2022-02-23 00:17] mnorelli commented on #331
I was a little confused before.  I'm using the onHover method inside of ReactMapGL component.  (It so reminds me of the Mapbox hover event, I assumed it was so.)  I don't actually know the performance hit vs. hella onClick listeners, but it's so much less work since the data is added as one big layer made from an array of points, not individual points that have to be handled.  I think this is inte

[2022-02-23 00:37] mnorelli commented on #331
We'll need to decide if this works as a hover or if it should be a click.  Again, getting back to the topic raised in a thread I can't find now, it all depends on how WOEIP uses or wants to interact with these data.

[2022-02-23 00:51] exchrotek commented on #331
Sounds like something that would benefit from some ux input! If you're
making tonight's meeting, I'm sure Niels, Jess, Frances, and Anna can chime
in!

On Tue, Feb 22, 2022, 4:37 PM Michael Norelli ***@***.***>
wrote:

[2022-02-23 12:37] mnorelli commented on #403
Add text about memory requirements for Docker, per Anna's experience.

[2022-02-23 19:34] exchrotek commented on #331
Michael, random thought came to mind. 😈 Hovering wouldn't work on a mobile
device. Regardless of what is chosen for desktop version, if we wanted to
accommodate mobile users, we would need to have onClick enabled for mobile
at the very least

On Tue, Feb 22, 2022, 4:51 PM Brian D Fu ***@***.***> wrote:

[2022-02-24 03:54] exchrotek opened #418 "[RISK] What is WOEIP's plan to sustain collection of data?"
How was WOEIP able to convince people to volunteer to collect data with the Dustrak? Is this something that they can sustain over time?

Is it fair to say that the viability of our app is largely dependent on WOEIP's success with the volunteer effort? Because we are essentially building a product that relies heavily on volunteer effort, we may need to even start thinking about how we can improve p

[2022-02-26 06:08] exchrotek opened #419 "[RISK] Start tracking KPIs & other relevant success metrics"
Re-examine the metrics we want to track

[2022-02-26 06:19] exchrotek commented on #418
I wonder if there's any merit to us trying to form a partnership with Habitat for Humanity or Youth Spirit Artworks, both nonprofits in Oakland, to organically increase volunteers for this cause. I don't know how big of an effort this would be though for OpenOakland to reach out to the other 2 groups to form some partnership.

As an aside, in general I think it'd be a super cool idea for OpenOakla

[2022-02-26 16:13] theecrit commented on #419
We have a pretty thorough set of KPIs identified but don't necessarily have all the right metrics for them, or have a plan in place for tracking/reporting; maybe we could update this issue to focus on that instead?

See this folder (and the "WOAQ Impact Challenge" deck in particular: https://drive.google.com/drive/folders/1J7P7kyYwRLH2byFV2behbi01n6SoEf0V

[2022-02-26 17:38] theecrit commented on #418
Our goal isn't to manage WOEIP's volunteer program so I would be hesitant to focus our efforts there. Our focus has been to provide the tooling to support our partner's work. They have a program and don't generally have problems recruiting volunteers for data collection. Their need is the tech infrastructure.

More broadly, they do have staffing needs and we could conceivably provide some consulta

[2022-02-26 17:41] exchrotek commented on #418
Good to know! Then it seems like this risk is nonexistent then!

On Sat, Feb 26, 2022, 9:38 AM Jess Sand ***@***.***> wrote:

[2022-02-27 04:05] exchrotek commented on #418
@hawser  Hey niels, before I close this issue and consider it resolved, I wanted to give you a chance to chime in! Did you have any thoughts or comments about this issue?

[2022-02-27 22:15] exchrotek opened #427 "Website Comparative Analysis"
Link to comp analysis:
https://docs.google.com/spreadsheets/d/1M7TsYku3hNvHnPLpWFjkmh6-wR3aZjoPVA9VmI-L2ds/edit#gid=624412922

[2022-03-02 01:14] mnorelli commented on #331
The code I'll request be pulled will not yet:
- be accessible to screen readers
- implement onClick for mobile

I'm hoping we can accept the hover code for desktop and make a new issue to cover those items

[2022-03-02 01:21] exchrotek commented on #331
Perfect, and yes totally agree that this specific issue only concerns
desktop version, not mobile; that should be a separate issue like you
mentioned. I may be speaking out of turn, but I imagine Jess wants to
prioritize MVP completion of desktop before we do any actual coding for
mobile view. Nonetheless, having this conversation already will be useful
for later.

On Tue, Mar 1, 2022, 5:14 PM Mic

[2022-03-02 03:55] exchrotek commented on #427
First pass at website competitive analysis done

[2022-03-02 04:00] exchrotek commented on #395
Last sub tasks to get done:
Get rid of "Today" button element
Change background of date in the month to white

[2022-03-02 06:53] exchrotek commented on #375
Fixed "cvs" to "csv". Opened a new PR

[2022-03-02 18:30] hawser commented on #331
I did a basic search for hover alternatives on mobile, it seems as if there really aren't any. The advice I found stated, "You can manage hover effects with touchscreens but it can be a little awkward. You may be better off designing them out altogether and using something else entirely. If you’re set on using them on your desktop site, you generally have three alternatives to hover effects on mob

[2022-03-02 18:40] exchrotek commented on #331
We might just be able to get away with having both onClick and onHover in
code. Then, the UI doesn't have to change at all. Not sure if map box api
allows for that, but general reactJS it should be possible I believe. That
would seemingly accommodate mobile users, and the experience doesn't change
for desktop users. This is assuming that having onHover is inactive on
mobile and doesn't somehow ind

[2022-03-02 18:44] hawser commented on #418
@theecrit has a more current understanding of what is going on at WOEIP and I would agree with what she has said. I would say that it is a great idea to get an understanding on how to increase and retain volunteers, because it would  be helpful for OpenOakland, that is a larger question that your question has implied.

[2022-03-02 18:48] hawser commented on #389
[https://snazzymaps.com/](url) is a good way to visualize how maps might look in our designs.

[2022-03-04 07:49] #418 closed, assigned to exchrotek, hawser, theecrit

[2022-03-13 04:51] exchrotek opened #433 "Research & prework for #389"
The precursor to Issue #389

Acceptance Criteria  by Frances, Anna:
- Written Problem Statement,
- "How might we?" questions
-  Affinity diagram

[2022-03-22 00:10] mnorelli commented on #404
**Additional resources**
_Jess mentions these might be overkill but worth streamlining for us.  See [her Slack message](https://openoakland.slack.com/archives/C02FG2BUX/p1644874201000569)_

[Onboarding deck](https://docs.google.com/presentation/d/127UC7q5JOgc5oPev4bbEdydchany-rVBkPRn4w6DMek/edit#slide=id.gc2fde1aeae_0_508), Hack for LA
[HackforLA onboarding](https://docs.google.com/presentation/d/

[2022-03-22 00:30] mnorelli commented on #385
Additional resource

[Mapbox point clustering](https://docs.mapbox.com/mapbox-gl-js/example/cluster/)

[2022-03-23 22:15] dabryant11 commented on #357
I've got a fix for this but having a 403 issue when trying to push can someone help me? :)

[2022-03-24 03:33] exchrotek commented on #357
@theecrit @TangoYankee  is this a lack of permissions issue causing the 403 error?

[2022-03-24 11:33] theecrit commented on #357
Hmm, not sure. @dabryant11, can you describe the steps you're taking that produce the 403?

[2022-03-24 20:20] mnorelli commented on #357
I got 403's before Jess gave me edit rights for my first PR...

On Thu, Mar 24, 2022 at 4:33 AM Jess Sand ***@***.***> wrote:

[2022-03-24 23:57] dabryant11 commented on #357
Thank you all for the replies! It seems that it may a permissions issue because I created a new branch, made the fix, git add, git commit then git push and received this error
<img width="782" alt="Screen Shot 2022-03-24 at 4 56 58 PM" src="https://user-images.githubusercontent.com/74263550/160028666-8827cdbd-53f8-4faf-bf4b-991dc14c9c03.png">
@theecrit @mnorelli @exchrotek

[2022-03-25 17:20] theecrit commented on #357
@dabryant11 Okay, try now? I've added you as a collaborator, so hopefully that works. I can tweak permissions if needed.

[2022-03-26 01:26] TangoYankee commented on #395
As the application moves toward using start date as a way to navigate around data, it may be beneficial to update the database structure. A start date model/table could help keep these requests performant. The `start_date` field could be its primary key. Each start date could have a one to many relationship with the collections taken on that date. We could add a "start_date" endpoint that will ret

[2022-03-29 20:52] dabryant11 commented on #357
It seems like there may need to be a tweak? 😅
<img width="476" alt="Screen Shot 2022-03-29 at 1 51 59 PM" src="https://user-images.githubusercontent.com/74263550/160705046-b5bc12d4-f4c5-44f6-8ba3-e9a0e56ce4e3.png">
@theecrit

[2022-03-30 01:36] theecrit commented on #357
@dabryant11 Ack, sorry — you should be good now!!

[2022-04-01 19:45] gsehrlich opened #437 "When I click on the currently-selected date on the datepicker, it behaves unexpectedly"
**Describe the bug**
The datepicker clears the text field showing the selected date. The date doesn't change. When the datepicker is opened next, it opens to the current month instead of the month containing the previously selected date.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure you have uploaded at least one day of data.
2. Go to the Maps page. The page should automatically

[2022-04-01 22:02] theecrit opened #439 "Update Acknowledgments on About page"
## Description

We want to add the latest project contributors (alphabetical by last name) to the _Acknowledgments > Core team_ section of the About page:

- Brian
- Anna Keyser Bolaños
- Gabriel Ehrlich
- Frances Nadine
- Michael Norelli

Bonus points for adjusting the columns to span the full width of the container.

[2022-04-01 22:14] gsehrlich opened #441 "As a user, I want to navigate easily the full multi-year extent of the data-having days"
**Is your feature request related to a problem? Please describe.**
The datepicker now shows which days have data but only one month at a time, with no way to know in advance if going forward or backward in time will show you more data.

**Describe the solution you'd like**
Ideally we would use something like what @mnorelli suggested: an easy way to see an entire year at once, perhaps modeled off o

[2022-04-01 22:17] gsehrlich commented on #441
There's also this whole-year datepicker. https://react.rocks/example/react-yearly-calendar

[2022-04-01 23:05] theecrit opened #442 "When hovering over a dot near the map's border, I'd like to the pop-up to appear fully within the map frame"
**Is your feature request related to a problem? Please describe.**
Currently when I hover over the map near the edge, the data pop-up gets cut off by the frame and I can't view the whole thing.

**Describe the solution you'd like**
I'd like to be able to view the entire pop-up. One approach would be to detect which edge the pop-up is near and pop it up to either the right or left, depending on pos

[2022-04-02 12:16] #395 closed, assigned to gsehrlich

[2022-04-02 12:25] TangoYankee commented on #442
To achieve the left/right detection, attach a [element refs](https://learnreact.design/posts/react-useref-by-example) to the mapbox and the hover panel. Then, get their dimensions using `getBoundingClientRect`.

To make the hoverpanel appear over the whole page: first, try giving it a z-index. If that doesn't work, Move it from being nested in the box and instead place it higher it in the DOM.

[2022-04-02 12:33] TangoYankee opened #443 "Calendar in production build greys out all dates"
**Describe the bug**
When viewing the production application, the map calendar shows grey boxes in place of all its dates.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a production build with `npm run build`
2. Serve the application with `serve build`
3. View the map calendar

**Expected behavior**
All dates are viewable. Dates with sessions are clickable and have custom styling. D

[2022-04-02 12:43] TangoYankee opened #444 "Have CORS_ALLOWED_ORIGINS change based on environment"
**Is your feature request related to a problem? Please describe.**
Allowed origins should be based on the environment where the application is running

**Describe the solution you'd like**
Based on an environment variable, change the allowed origins to match the environment.

- Develop Env: ["http://localhost:3000", "http://127.0.0.1:3000", "http://lvh.me"]
- Prod Env: ["https://woaq.org"]

**Desc

[2022-04-02 12:47] TangoYankee commented on #383
We can make sure that our direct dependencies are on the latest stable versions. Unfortunately, there are no guarantees that these direct dependencies are also on the latest versions of their dependencies. ...dependencies all the way... down. So, we may always get some deprecation warnings.

[2022-04-02 12:53] #350 closed, assigned to nobody

[2022-04-02 12:54] TangoYankee commented on #353
This is necessary for CI/CD implementation

[2022-04-02 12:56] #296 closed, assigned to TangoYankee

[2022-04-02 12:56] #294 closed, assigned to nobody

[2022-04-02 13:07] TangoYankee opened #445 "Upgrade Authentication Token method to JWT"
**Is your feature request related to a problem? Please describe.**
We are currently using Basic Auth Tokens as a first iteration. However, JWTs provide a more robust solution

**Describe the solution you'd like**
Implement JWT Authentication. Manage tokens and refresh tokens

**Describe alternatives you've considered**
Keeping basic auth tokens

**Additional context**
Basic Auth Tokens provides a

[2022-04-02 13:16] TangoYankee opened #446 "Login, Register, and Logout On Page Error Feedback"
Replace the alert that appears for login, logout, and register errors with an on-page error message that reuses existing components

**Labels**
- [x] Add a status label
  - `needs definition`
  - `needs help`
  - `ready to work on`
  - `in progress`
  - `backlog`
- [x] Add additional labels as needed

### For Developers
**Technical Resources**
Reuse Semantic and Existing UI Components as much as p

[2022-04-02 15:49] TangoYankee opened #447 "As a user, I should not be able to login when I already have an active session"
**Describe the bug**
Users can technically access the `auth/login` path when already logged in. This will replace their current credentials with new ones. These means the previous credentials will be lost and the associated session cannot be logged out.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ''/auth/login" path when already logged in
2. Go through the sign in process

**Expect

[2022-04-02 15:53] TangoYankee commented on #91
Addressed by #435

[2022-04-02 15:54] TangoYankee commented on #346
Partially addressed by #435

[2022-04-02 15:54] TangoYankee commented on #347
Partially addressed by #435

[2022-04-02 16:29] TangoYankee opened #448 "Production Configuration for Authentication"
**Describe the bug**
When attempting a production build with changes in #435, attempting to register an account was undermined by a CORS error. In the docker console the proxy had an ssl handshake error.

**To Reproduce**
Steps to reproduce the behavior:
1. Create production build of the whole application
2. Attempt to register a user

**Expected behavior**
The CORS Settings in Django should allow

[2022-04-02 16:52] TangoYankee commented on #448
Reverting the NGINX conf did not resolve the issue

[2022-04-03 17:48] gsehrlich commented on #443
Fascinating, thanks. I did some questionable styling that worked in development but may have broken the production application. I'd love to take on this issue if I can get some help from someone building and serving the production code locally; my first attempt just now resulted in some nonsensical syntax errors. In the meantime I can start debugging using woaq.org.

[2022-04-03 18:17] gsehrlich commented on #443
Looks like the graying-out problem happens because the production application parses custom styling differently somehow.

1. It's interpreting `opacity: 100%` on menu.css line 13 as `opacity: 1%`, hence the gray background showing through.
2. The ordering is different, so <style> is overriding menu.css instead of vice versa, hence the gray background in .clndr-days instead of white, and other diff

[2022-04-03 23:16] dabryant11 commented on #357
good to go and PR posted - thank you! @theecrit

[2022-04-24 18:37] gsehrlich opened #458 "Update header with new logo"
@francesnadine has designed a new logo that needs to be put on the website.

**Labels**
- [x] Add a status label
  - `needs definition`
  - `needs help`
  - `ready to work on`
  - `in progress`
  - `backlog`
- [x] Add additional labels as needed

### For Developers
**Affected Components**
Not sure

**Design Documentation**
Ask @gsehrlich or @francesnadine for the SVG or JPEG.

[2022-04-25 16:24] theecrit commented on #458
Can someone attach the image file to this issue? Thanks!

[2022-04-25 16:27] gsehrlich commented on #458
SVG:
![woaq logo](https://user-images.githubusercontent.com/11000354/165132339-3f5af08d-bca3-4dd0-8b27-1229d1d8aeae.svg)
JPG:
![woaq logo](https://user-images.githubusercontent.com/11000354/165132347-505dd5be-e39a-4881-9c7d-aa2dde89b262.jpg)

[2022-04-28 18:12] gsehrlich opened #460 ""Files match" message when files don't match"
**Describe the bug**
Arbitrary pairs of files will trigger a "Success! Your files match"  message.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Upload"
2. Create two blank text files
3. Drag and drop both into the upload field
4. See success message

**Expected behavior**
The files are rejected with a "Files don't match" message or a "Neither file is in a GPS or DusTrak format" mes

[2022-05-02 04:16] exchrotek opened #462 "Displaying map data points in units of AQI"
***NO LONGER NEEDED***
__________________________________________________________________________________________________________________________________________

As a West Oakland resident, I'd like to see the map data in units and values that are familiar and follow standard convention so that my understanding and interpretation of the data is intuitive.

**Acceptance Criteria**:
- Units being d

[2022-05-02 04:22] exchrotek commented on #462
Useful link for post-mvp activities as we begin to incorporate both spatial and temporal averaging of PM 2.5 data:
https://www.airnow.gov/sites/default/files/2020-05/aqi-technical-assistance-document-sept2018.pdf

[2022-05-04 01:47] gsehrlich opened #464 "Different PM2.5 units being used interchangeably"
See issue #237.

Per a Slack conversation (edited for clarity and correctness):

There are not two but three different kinds of units under discussion here:
* PM2.5 **mass concentration in milligrams per cubic meter** (what the DusTrak records) or **micrograms per cubic meter** (what the EPA uses in their AQI calculation table).
* PM2.5 **particle count in PPM (parts per million)**, which appears

[2022-05-04 02:35] exchrotek commented on #462
NO LONGER NEEDED.

Refer to https://github.com/openoakland/woeip/issues/464

[2022-05-04 02:35] #462 closed, assigned to gsehrlich

[2022-05-04 05:43] gsehrlich commented on #331
Per conversation today with @exchrotek (and a previous comment by Michael), we need a hover box to stay open when the cursor moves so that the user can access the question mark button shown in the wireframes (referred to here as "EPA AQI link"). We thought on hover the box should open and on click it should _stay_ open.

If we implement this, I'm thinking on hover the cursor should also change to

[2022-05-11 02:29] #375 closed, assigned to exchrotek

[2022-05-11 02:32] theecrit commented on #357
Issue can be closed once we resolve/address the failing test in PR #452

[2022-05-11 02:39] theecrit commented on #331
@theecrit to write up post-MVP issue for full educational window.

[2022-05-11 02:43] theecrit commented on #376
Fixed.

[2022-05-11 02:43] #376 closed, assigned to TangoYankee, wendy-wm-wu

[2022-05-11 02:53] theecrit commented on #362
Consider prioritizing this issue as a fast-follow to MVP.

[2022-05-11 02:54] #439 closed, assigned to gsehrlich

[2022-05-11 03:11] theecrit commented on #315
Completed in #331/PR #429

[2022-05-11 03:11] #315 closed, assigned to nobody

[2022-05-11 03:15] theecrit commented on #385
Won't fix.

[2022-05-11 03:15] #385 closed, assigned to mnorelli

[2022-05-11 03:17] theecrit commented on #116
Won't fix.

[2022-05-11 03:17] #116 closed, assigned to ontoneio

[2022-05-11 03:18] theecrit opened #466 "[Placeholder] Implement sufficient security protocols"
## Description

See a current team member for details.

[2022-05-11 03:22] theecrit commented on #464
Add criteria:

- [ ] Indicate units of measure at bottom of map or somewhere.

[2022-05-11 03:25] theecrit commented on #460
Seems like the checks being run aren't catching file format. We have an error message for that in the wires.

[2022-05-11 20:46] dabryant11 commented on #357
@theecrit seems like the only issue with testing was a warning and @gsehrlich said that this could be ignored (https://github.com/openoakland/woeip/pull/452) please confirm and if so I will merge

[2022-05-11 20:55] gsehrlich commented on #357
@dabryant11 The warning in drop.test.js can be ignored, but there was a new warning related to your PR that I'm not familiar with. I wouldn't recommend ignoring it

[2022-05-13 23:25] theecrit opened #467 "Add content to homepage"
## Description

The current home page is blank, which will be confusing for the user. We want to add some basic MVP-level content to orient the user and help them get started.

- [x] Brief explanation of WOAQ
- [x] Call to action pointing to the map view
- [x] Some sort of path to indicate interest in becoming a data collector (MVP version is probably just to push to the WOEIP newsletter sign-up,

[2022-05-19 22:18] #443 closed, assigned to gsehrlich

[2022-05-20 06:40] #458 closed, assigned to nobody

[2022-05-20 06:42] gsehrlich commented on #442
For a different issue ( the last piece of #331), I switched the hover implementation to use a react-map-gl element called Popup, which has the desired behavior by default. I'll reference this issue in the PR.

[2022-05-20 06:43] #437 closed, assigned to gsehrlich

[2022-05-20 06:48] gsehrlich opened #470 "Production app can't find the icon from the manifest"
**Describe the bug**
When the home page loads, the console throws an error, "Error while trying to use the following icon from the Manifest: https://woaq.org/logo192.png (Download error or resource isn't a valid image)".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to woaq.org.
2. Open the console (in Chrome on Windows, Ctrl + Shift + i).
3. See error.

**Expected behavior**
I'm not su

[2022-05-20 15:54] theecrit commented on #470
@gsehrlich  I'm thinking this should be post-MVP until we can confirm that something is actually breaking the use of the tool. Thoughts?

[2022-05-20 15:55] theecrit commented on #442
@gsehrlich  Amazing, thanks!

[2022-05-20 16:52] gsehrlich commented on #470
@theecrit Agreed.

[2022-05-20 16:55] gsehrlich opened #471 "As a developer, I would like to know how to deploy the production app"
**Is your feature request related to a problem? Please describe.**
We have an up-to-date video walkthrough in the team drive, but the written instructions in `.github/deployment.md` are out of date.

**Describe the solution you'd like**
Update `deployment.md` with step-by-step instructions for deploying the `develop` branch to the live server as described in the video.

**Resource**
[Here's a link

[2022-05-20 16:58] theecrit commented on #471
@gsehrlich  Can you drop the link to the video here, too?

[2022-05-20 19:26] gsehrlich commented on #471
Good idea! Just updated the OP.

[2022-06-03 11:23] Temidayo32 commented on #471
Hi, I am new here, I would like to know what I need to do to solve this issue.

From the issue, I can tell the developer is making a documentation request for a "how-to" guide on how to deploy the production app.

However, I am a little confused. @gsehrlich  commented a solution of updating the out of date documentation with step by step instructions for deploying the `develop` branch.

But the is

[2022-06-03 15:52] theecrit commented on #471
Hi @Knowledgeissweet, thanks very much for looking into this! I believe the specific process we're trying to capture in documention is explained in the video linked in the issue. Watching the video and documenting the steps explained there may be the easiest way forward.

For context, we currently push all new changes to the `develop` branch. When we're ready to release those changes to the live w

[2022-06-03 17:09] Temidayo32 commented on #471
Thanks @theecrit for the response.  I will check out the video and work on the documentation. Thanks

[2022-06-03 17:25] gsehrlich commented on #471
@Knowledgeissweet Glad to hear you're interested! Sorry about the unclear issue description; what @theecrit said is right. Individual contributors' pull requests are first merged into `develop`, which is the repository's default branch. The changes merged to `develop` can be tested together before deployment.

Each time we want to deploy recent changes into production at woaq.org, we start by merg

[2022-06-03 18:21] gsehrlich commented on #464
Edited OP to include new criterion.

[2022-06-03 18:24] gsehrlich commented on #374
(Edited) Just checked some boxes. Do we still want "West Oakland's Air" in MVP?

[2022-06-03 20:55] theecrit commented on #374
@gsehrlich I've got a branch going locally and have managed to create the pages and update the nav menu. But I'm having trouble with the `export const {page-name} = () => (` on line 4 of the `index.js` file — I'm not sure what to replace {page-name} with to get the content container to display.

[2022-06-03 21:15] gsehrlich commented on #374
Oh nice! Whatever you replace `{page-name}` with will be the variable you use to render the component. For example, in web/src/components/home, it's called `Home`. Then, in web/src/components/nav/switch.js, you need to import it and add it like the other pages. Let me know if that works!

[2022-06-03 21:17] theecrit commented on #374
I think I'm having trouble with the apostrophe in "West Oakland's Air" — I've tried all of the following approaches to no avail:

`'West Oakland's Air'`
`"West Oakland's Air"`
`West Oakland\'s Air`
`"West Oakland\'s Air"`
`'West Oakland\'s Air'`

ETA: and also `west-oaklands-air`, which is the assigned slug in `bar.js`.
`

[2022-06-03 21:20] gsehrlich commented on #374
I’d suggest `WestOaklandsAir`. It doesn’t have to match the actual title;
you just need to refer back to it in switch.js. But it does have to follow
javascript variable naming conventions.

On Fri, Jun 3, 2022 at 2:17 PM Jess Sand ***@***.***> wrote:

[2022-06-03 21:25] theecrit commented on #374
Oh, derp! I completely missed updating `switch.js`. Thank you, worked a treat!

[2022-06-06 17:48] #442 closed, assigned to gsehrlich

[2022-06-06 17:48] #467 closed, assigned to theecrit

[2022-06-06 17:52] #34 closed, assigned to nobody

[2022-06-06 18:09] #460 closed, assigned to nobody

[2022-06-09 15:17] #374 closed, assigned to gsehrlich, theecrit

[2022-06-29 03:46] #471 closed, assigned to nobody