[2018-11-18 17:45] TangoYankee commented on #4
@r-b-g-b My desire is to build the WOEIP from scratch, simply referencing the code of the previous project. That way, it easier to implement best practices as the code is rebuilt. Also, in order to integrate with the rest of the team, we should place a broad topic like this in the [WOAQ Trello](https://trello.com/b/EBnxZHmx/west-oakland-air-quality). We'll use these issues for specific implementat

[2018-11-29 01:35] TangoYankee opened #2 "Readme Description"
@clintonb In reference to the readme TODO, a (not brief) description exists on a branch of my fork for the previous woeip repo. [Draft Readme](https://github.com/tangoyankee/woeip/tree/readme-contributing)

[2018-12-01 03:51] #2 closed, assigned to nobody

[2018-12-08 23:13] TangoYankee opened #4 "Docker Curriculum"
An intro for the confused: [Docker Curriculum](https://docker-curriculum.com/)

[2018-12-20 15:07] clintonb opened #13 "Add `choices` attribute to `Sensor.unit`"
Forcing users to input their units will lead to strange data—spacing, capitalization, misspellings, duplicates. Avoid this issue by defining [`choices`](https://docs.djangoproject.com/en/2.1/ref/models/fields/#choices) for this field.

[2018-12-21 02:02] TangoYankee commented on #13
I've been needing this feature in my life!

[2019-01-27 22:47] r-b-g-b opened #16 "Use Session as foreign key to Data"
A key design consideration for the database was to have each sample in a separate row of the ``Data`` table. An hour session sampled at 1 Hz would have 3600 rows then. 1000 of those sessions would need 3,600,000 rows. To avoid getting too big ``Data`` shouldn't have too many columns. It should also probably not have any many-to-many fields, since they would lead to very large [bridging tables](htt

[2019-01-27 23:17] clintonb commented on #16
What problem are you trying to solve? 3.6M rose is not a lot of data in the grand scheme of things. Data issues will be a nice problem to have, but it’s not a problem that exists today.

The new schema also makes it impossible to know which data file is linked to a specific datum.

[2019-02-03 03:08] TangoYankee opened #20 "file page"
### Description
Create a file page where users upload dustrak and gps data files, which are joined together and saved.

### Pieces:
- A form which accepts
    * dustrak file
    * gps file
    * user data
- A url which holds the path to the upload page
- Templates
   * A base template that holds the meta, head, and body tags
   * An upload template which interfaces with the form
- A view to hold t

[2019-02-03 03:11] TangoYankee commented on #20
This might actually be two (or more) tasks.
1. The structure of the url, html, and authentication
2. The logic, execution, and feedback of uploading a file

[2019-02-03 04:12] r-b-g-b commented on #20
Thanks Tim! How do we do "Authentication, to prevent everyone from uploading a file" without a login screen?

[2019-02-03 05:39] TangoYankee commented on #20
At this stage, we do have a login screen: http://localhost:8080/admin/

[2019-02-03 05:46] clintonb commented on #20
The admin site is probably not what you want to use for non-admin users. Consider using an existing solution, like https://www.intenct.nl/projects/django-allauth/, to help with authentication for end users.

[2019-02-03 16:12] TangoYankee commented on #20
Thank you for the resource, @clintonb . I will explore it more depth, for future tasks. To clarify, I have zero intention of using the admin screen in the MVP. However, it is a good pre-built component to use in development. By using it for now, we can focus on the mechanics of allowing an authenticated user to upload two files.

[2019-02-03 16:15] TangoYankee opened #23 "User Account Management"
## Description
Create a login page for end-users to sign in

## Resources
- Possibly integrate [django-allauth](https://www.intenct.nl/projects/django-allauth/)
- Design card: https://trello.com/c/0bXmoD7K
- Wireframes:
[WOAQ-Wires-PasswordReveal-20180326.pdf](https://github.com/openoakland/woeip/files/3010986/WOAQ-Wires-PasswordReveal-20180326.pdf)

## Questions
How do control the process by whic

[2019-02-03 17:04] clintonb commented on #23
Flip the question. If someone is interested enough to find the site and register, what behaviors can you support for them?

Realistically, the odds of someone unaffiliated signing up are low. I would not worry about that problem now. Simplest option is to hide the signup link in the UI. Email it those who need it. You may also be able to use some form of signup code.

[2019-02-03 17:59] TangoYankee commented on #23
- People who are interested and find the site will have read access to the data and visualizations (which we haven't built yet).
- Interested parties can email us a request for an account.
- We create the account for them and give them their credentials in person or over the phone.
- They can change their credentials once they have an account

It's unorthodox. But, this is a small and community-ba

[2019-02-03 18:41] r-b-g-b commented on #23
I like the idea of having a login page but no signup page. For the "hidden signup URL" option, they have to request the link anyway, so why not just request we make them an account?

[2019-02-03 19:37] r-b-g-b commented on #20
Note: within the view files should be converted to utf-8 encoding using ``django.utils.encoding.force_text``. The ``woeip.apps.air_quality.dustrak.join`` function expects file handles open in text mode.

[2019-02-03 19:58] r-b-g-b commented on #16
The problem is that we do not make explicit where each field of ``Data`` comes from. For any given row of ``Data``, we see that it is linked to the ``SessionData`` for the Dustrak raw data file, let's call it ``dustrak1.csv``. But the assumption is that all fields of that ``Data`` row come from ``dustrak1.csv``, which is not true. Only the ``value`` field does; the ``lat`` and ``lon`` come from an

[2019-02-04 00:29] clintonb commented on #16
Ah. I agree with replacing `SessionData` with `Session`.

I wouldn't worry too much at this stage about knowing exactly which file created which field given it's obvious at this stage.

[2019-02-04 05:06] r-b-g-b commented on #20
Also: we should implement the database schema change suggested in #16 prior to making the upload form.

[2019-02-05 03:21] #4 closed, assigned to nobody

[2019-02-08 18:25] #13 closed, assigned to nobody

[2019-02-09 16:38] TangoYankee commented on #23
I'd like to use the built-in Django Groups to manage user permissions. We should start with two groups: **WOEIP** and **OpenOakland**.
*  **OpenOakland** Users have full rights to all the apps
* **WOEIP** members have full rights to manage the air quality model. However, they only have change rights to user models. They are then limited further by logic in `views.py` to edit their own user data.

[2019-02-09 18:02] TangoYankee opened #27 "Google Analytics"
## Description
We want to be able to track visitor behavior across the site via tracking analytics. Some options:

- Google Analytics
- [Open Web Analytics](http://www.openwebanalytics.com/) (free)
- Fathom ([paid](https://usefathom.com/) and [free Lite version](https://github.com/usefathom/fathom))
- Plausible ([paid](https://github.com/plausible/analytics), w/ an alpha-phase free self-hosted ver

[2019-02-09 19:28] r-b-g-b opened #28 "Add Latitude/Longitude to Sensor.unit_choices"
Sensors that record GPS location should be marked as having a unit of Latitude/Longitude.

[2019-02-09 20:34] TangoYankee commented on #20
[Validate User Permissions](https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Authentication)
[`Index` typically preferred over `home`](https://www.lifewire.com/index-html-page-3466505)
[Template naming and structuring conventions](https://oncampus.oberlin.edu/webteam/2012/09/architecture-django-templates)

[2019-02-09 23:01] Ethan-bradley commented on #28
Is anyone currently working on this?

[2019-02-10 00:14] TangoYankee commented on #28
@Ethan-bradley you are?

[2019-02-10 00:43] Ethan-bradley commented on #28
Yes

[2019-02-10 01:02] Ethan-bradley commented on #28
Does this mean having the latitude/longitude in the unit_choices dropdown or having a separate dropdown with lat/lon as an option?

[2019-02-10 01:54] TangoYankee commented on #28
Having lat/long as part of the unit_choices dropdown. It should be written as one entity ie) 'latlong'

[2019-02-10 01:57] TangoYankee opened #31 "As a user, I want to upload a pair of files via an easy interface"
**Is your feature request related to a problem? Please describe.**
The current interface depends on clicking on a button, which opens up file explorer. I would like to already have my location open and then drag the files onto the page.

**Describe the solution you'd like**
1) Upon navigating to the `add data`/`upload` page, I should see an area where I can drag and drop files.
2) In its initial s

[2019-02-10 01:58] TangoYankee opened #32 "Trello and Github Workflow (Formerly Navigation bar)"
Implement `Foundation Navigation Bar`

[2019-02-10 02:00] TangoYankee opened #33 "Footer"
**Is your feature request related to a problem? Please describe.**
A footer which navigates to external websites

**Describe the solution you'd like**
- It should contain links to the websites of affiliated websites, displayed only with text (no logos)
- It should respond to screen size

**Describe alternatives you've considered**
Considered using logos. However, this may confuse some users as to

[2019-02-10 02:07] TangoYankee opened #34 "Landing Page"
**Is your feature request related to a problem? Please describe.**
The website needs a page to occupy the base (`/`) url.

**Describe the solution you'd like**
 ~*TODO*: Design a simple, text only landing page. @theecrit, could this just be:~

~West Oakland Air Quality (WOAQ) puts local air quality data in the hands of West Oaklanders~

[Updated 3/26/19] Content requirements should be dictated by

[2019-02-10 04:01] Ethan-bradley commented on #28
thanks for clarifying.

[2019-02-14 01:55] #28 closed, assigned to Ethan-bradley

[2019-02-14 13:46] TangoYankee opened #35 "Contributing Document"
Create contributing document to solidify workflow

[2019-02-14 13:56] #35 closed, assigned to nobody

[2019-02-20 16:22] TangoYankee opened #42 "Contribution workflow"
Create Issue and PR templates. The concept is to standardize the workflow of identifying issues, discussing solutions, and implementing code. It should slow down coding and speed up development.

[2019-02-20 16:27] TangoYankee opened #43 "As a user, I would like the website to automatically know about my data"
**Is your feature request related to a problem? Please describe.**
Information about the dataset is available in the uploaded files. I would like the website to look through the files and automatically extract the data.

**Describe the solution you'd like**
A script that parses the data from the files and places it in a staging table

**Describe alternatives you've considered**
An alternative desi

[2019-02-20 16:34] TangoYankee opened #44 "Format Data Entries"
Guide the user to the correct data format on data entry.

[2019-02-20 16:36] TangoYankee commented on #44
Current TODO from ty/files-upload
`form.py`

[2019-02-20 18:02] theecrit commented on #42
Documenting a potential Issue template here until I get everything up and running locally and can properly do a branch and PR. (Note: "platform/dev environment" option could probably be phrased more appropriately.)

**Please open an Issue for bugs only.**
New feature requests should be filed as a card in the appropriate [Trello backlog](https://trello.com/invite/b/EBnxZHmx/6e43b909891f622463a67da6

[2019-02-20 18:04] theecrit commented on #34
Is this a landing page for Github, or for our end users (WOEIP)/the product itself? If the latter, I'd prefer to open a design card for this in Trello first, then move it to a Github Issue once it's fully defined. Does that make sense from a workflow perspective?

[2019-02-20 18:06] theecrit commented on #32
This needs a design card in Trello (I'm starting to see the pattern here re: workflow). My thought is that undefined feature requests should start in the Trello design backlog, then move into a Github Issue once it's defined enough to implement. Is that too much of a bottleneck? I just worry that we're going to end up with duplicate backlogs otherwise.

[2019-02-20 18:22] TangoYankee commented on #42
The trello board is too cumbersome and confusing for detailed technical discussions. I agree that large scope ideas need to be documented in the Trello, to keep the whole informed. I integrated that into the initial guidance I posted to Slack. However, fine-grained discussions need to move to GitHub, regardless of whether they are bugs or features.

[2019-02-20 18:29] TangoYankee commented on #32
The Trello is becoming a hindrance for code implementation. Trello will be good to document large scope ideas and track the progress of the team as a whole. However, we need to move a lot of technical discussions to GitHub. There will be a duplication of some tasks between Trello and GitHub. However, it is worth the effort.

Currently, the friction of documenting on Trello and implementing in GitH

[2019-02-20 18:39] theecrit commented on #32
Let's have an in-person conversation about this at the next Hack Night. Some of these open issues seem to require design before technical implementation is feasible (unless you want a bunch of technical rework once design is finalized after the fact).

Now, if _implementing_ the navigation doesn't require making decisions about things like interface labels and IA (ie it's implementing back-end fun

[2019-02-21 22:26] TangoYankee opened #47 "Account Request Email"
* Establish whether new accounts will truly be generated after making a request through email.
* Decide the email account which will receive requests
* Change the link in the navigation section to a valid email address

[2019-02-23 07:13] TangoYankee opened #54 "Bug: Log File"
**Describe the bug**
Log File is not being generated when logging to file is enabled

**To Reproduce**
* Within `docker-compose.local.yml`, under `app` -> `environment`, create the variable `ENABLE_LOGGING_TO_FILE` and set it to `True`

**Expected behavior**
* The expected behavior was that an app.log file would be created and populated with a known error

**Desktop:**
 - OS: Ubuntu 18.04.2

**Add

[2019-02-24 03:42] #54 closed, assigned to clintonb

[2019-02-26 14:16] theecrit commented on #42
Should we update this issue to cover only the PR template, given that we just addressed the Issue template in 53?

[2019-02-26 14:23] theecrit commented on #44
A cursory search led me to this Foundation-based date picker: http://foundation-datepicker.peterbeno.com/

Once I get the uploader installed locally, I’ll create wireframe for the upload screen and attach it here.

[2019-02-26 14:50] theecrit commented on #23
It’s very possible we’ll want to add a sign-up page at some stage. Will limiting this way now hamstring us in the future if/once we're ready to allow automated account sign-up?

(By “automated account sign-up,” I mean anyone can create a view-only account, but that user account would need to be granted any additional write entitlements/role by an admin user.)

[2019-02-26 14:56] theecrit commented on #27
Let’s also investigate Google Tag Manager when we tackle this; it may provide more flexibility as the project evolves.

[2019-02-27 00:26] TangoYankee commented on #42
@theecrit, yes. Adding comments to the chain, rather than editing earlier posts, is probably better. This way, we keep the history of changes.

[2019-02-27 00:28] TangoYankee commented on #23
Nope! We would just add the module, once we actually need it.

[2019-02-28 14:58] TangoYankee commented on #42
Issues templates are resolved and merged. We are using the GitHub Defaults
For Pull Requests:
- Link it to an issue and/or describe problem addressed and method used to solve it
  - Make pull requests based on issues that have already been discussed. This means that the solution has already been vetted. Discussions in the Pull Request can focus on code implementation.
- To the maximum extent possi

[2019-02-28 17:53] theecrit commented on #42
Looks great. Two questions:

1. Should we extend the length of time a PR should remain open? I've noticed that folks often need at least a couple of days. Maybe 48 hours would be a little more contributor-friendly?

2. Do we need to set a minimum number of reviewers to request? Not sure if there's a best practice/standard here.

Thanks!

[2019-03-01 03:31] TangoYankee commented on #42
Split the difference and call it 36 hrs? Again, we can always evolve if it seems necessary.

I've thought about increasing the number of reviewers. If this was a paid project, yes. However, a volunteer project is less predictable. One mandatory review is fine. Any more and we tie our hands.

[2019-03-06 04:09] TangoYankee commented on #47
For now, remove link to email. It's just a distraction.

[2019-03-06 04:26] Ethan-bradley commented on #32
Here is the foundation template for a navigation bar: https://www.tutorialspoint.com/foundation/foundation_navigation.htm

[2019-03-06 04:52] nbilenko commented on #44
Feature is unnecessary because the date collected can be retrieved from the data file.

[2019-03-06 04:52] #44 closed, assigned to nbilenko

[2019-03-06 13:25] theecrit commented on #42
@TangoYankee Works for me. What’s required to close this issue? Where do we want to document this? Should it go in a contributing doc?

[2019-03-06 13:28] theecrit commented on #34
Adding a backlog tag to this per 3/5 hack night discussion: current sign-in page will serve as landing page for MVP.

[2019-03-06 13:38] theecrit commented on #33
Can we label this as backlogged (not mvp), or is there a compeling reason this should be considered for MVP?

[2019-03-06 18:21] theecrit commented on #32
While we won't be doing mega menus, this is a great article about accessible menus in general: https://www.levelaccess.com/challenges-mega-menus-standard-menus-make-accessible/

[2019-03-07 20:38] TangoYankee commented on #42
I would like to expand this issue to include the general workflow to contribute. This includes

- [X] Issues Templates
- [x] Labels to track the status of issues
   - Required: Status (backlog, discussing, implementing)
   - Required: Bug (if bug...obviously)
   - Optional: topic, such as backend, frontend, accessibility, etc (if not bug)
- [x] Pull Request Template
   - [Current Conception](#issu

[2019-03-07 22:54] theecrit commented on #42
Looks great. Re: labels — we can use labels to track _status_ (e.g. In discussion/Needs input/Ready to work on/In progress), or we can we use them to track _topic_ (e.g. Feature request/Accessibility/Bug/Good First Issue...). Or, theoretically, both.

[2019-03-08 19:32] Ethan-bradley commented on #31
Here is a basic html file (have to convert from txt to html) of what the upload page would look like:
[test3.txt](https://github.com/openoakland/woeip/files/2957841/test3.txt)

[2019-03-08 20:27] TangoYankee commented on #31
@Ethan-bradley This functionality manipulates objects that are already in the web browser Can it be generalized to hold files that are dragged from a file explorer to the web browser?

[2019-03-08 20:55] TangoYankee commented on #20
Closing this issue. It is too large on its own. Instead, it has been decomposed into separate problems that are tracked in open GitHub issues.

[2019-03-08 20:55] #20 closed, assigned to r-b-g-b, TangoYankee

[2019-03-08 20:56] #16 closed, assigned to nobody

[2019-03-08 20:58] TangoYankee commented on #23
Generalized issue to discuss how user accounts should be created and managed, for the MVP.

[2019-03-08 21:00] TangoYankee commented on #47
Close this issue as it is now included under Issue #23, User Account Management

[2019-03-08 21:00] #47 closed, assigned to nobody

[2019-03-08 21:10] TangoYankee opened #58 "Views Testing"
**Is your feature request related to a problem? Please describe.**
Views Testing

**Describe the solution you'd like**
Create tests to check whether views are accomplishing their intended design

**Additional context**
Previous task that must be completed: Finalize functionality of views
[Views Testing Documentation](https://django-testing-docs.readthedocs.io/en/latest/views.html)

[2019-03-08 21:14] TangoYankee opened #59 "Forms Testing"
**Is your feature request related to a problem? Please describe.**
Forms Testing

**Describe the solution you'd like**
Create test cases to validate design of Forms meet intended use cases

**Additional context**
- Before beginning this task, the design of the forms must be finalized
- Addressed in PR #57

[Django Forms Testing Documentation](https://developer.mozilla.org/en-US/docs/Learn/Server-s

[2019-03-09 00:10] TangoYankee commented on #42
There will be a Pull Request with all of the changes proposed in this Issue. Once that Pull Request is merged into the code base, this Issue will be closed.

[2019-03-09 04:17] theecrit commented on #23
Added design card to description.

[2019-03-09 17:02] Ethan-bradley commented on #31
Yes, it is supposed to do that and seems to work on my computer.

[2019-03-13 03:05] Ethan-bradley opened #61 "Simplification of Getting Started part of readme"
The Getting Started section of the readme could be made more user-friendly by adding the following steps:
After make local.up, run make local.shell. Add ./manage.py createsuperuser to add in a username/password.

Go to localhost:8080 to access the site. Login with the username/password created above.

[2019-03-13 03:49] r-b-g-b opened #62 "Organize technical instructions"
**Is your feature request related to a problem? Please describe.**
The technical instructions in the README/contributing docs is a bit disorganized.

**Describe the solution you'd like**
README should contain enough for a moderately-experienced developer to go from cloning the repo to running the site locally.

Less experienced developers might want more detailed instruction, (links to git, docker

[2019-03-13 04:02] Ethan-bradley commented on #62
@r-b-g-b See the issue #61 I added for further simplification ability.

[2019-03-13 04:02] theecrit opened #63 "As a data uploader, I want to verify the information I've uploaded to the system."
**Is your feature request related to a problem? Please describe.**
Currently, the system automatically pairs uploaded csv and log files based on the data within the files. We want to make sure the system has gotten it right, provide the user with an opportunity to make corrections, and request additional data from the user that the system can't collect from the files themselves.

**Describe the so

[2019-03-13 04:04] Ethan-bradley commented on #31
Here is the finished version of the UI interface (convert to html and js):
[dragdrop.txt](https://github.com/openoakland/woeip/files/2959745/dragdrop.txt)
[dragdropjs.txt](https://github.com/openoakland/woeip/files/2959746/dragdropjs.txt)

[2019-03-13 08:00] nbilenko opened #64 "Implement session page"
Implement a skeleton session page with the session metadata.

Wireframe based on
https://trello.com/c/f81CfYp8/35-document-v2-ui-improvements-for-implementation

[2019-03-13 17:04] theecrit commented on #61
Moved feedback into issue 62 and closing this one as a duplicate.

[2019-03-13 17:04] #61 closed, assigned to nobody

[2019-03-13 17:05] theecrit commented on #62
Added @Ethan-bradley's feedback from #61 (closed that issue as a duplicate), and changed label to "Discussing" since there appears to be multiple approaches under consideration.

[2019-03-13 17:15] theecrit commented on #64
~Is this meant to be different from #63?~ Nevermind, I see this is the map view page. Carry on.

[2019-03-13 22:01] #42 closed, assigned to TangoYankee

[2019-03-14 03:49] TangoYankee commented on #63
- Fields:
  - `Date` and `Start` time will be combined and stored in the database as a `Datetime` in the field `date_collected` in the `session` model. They will be sourced from the `dustrak` file
  - The database does not track an `End Time`. It should be removed from the form.
  - `Device Information` is sourced from `dustrak` file
  - In `form` jargon, the `default` value for `collected_by` is

[2019-03-14 04:01] TangoYankee commented on #62
If we start adding detailed documents in the `.github` folder, it can start to feel cluttered. In the two other projects I've worked on, we instead provided a Beginner's Guide in the wiki. Here is an example one for [TrashTalk](https://github.com/openoakland/TrashTalk/wiki/New-Developer-Guide). We can add a line in the **Code Development**  section of the woeip contributing doc that says:

[2019-03-14 15:52] TangoYankee commented on #62
Proposed Structure:
- Move **Getting Started** from `readme.md` to `contributing.md`, under **Code Devopment**
- From @Ethan-bradley, add to **Getting Started**
  - > After make local.up, run make local.shell. Add ./manage.py createsuperuser to add in a username/password. Go to localhost:8080 to access the site. Login with the username/password created above.
- Move **Deployment** and **Terraform*

[2019-03-14 16:01] TangoYankee commented on #43
@r-b-g-b This script works with the [Javacript Upload Form](https://github.com/openoakland/woeip/issues/31) to automatically [pull fields](https://github.com/openoakland/woeip/issues/63#issuecomment-472693978) for the database. Could you and @Ethan-bradley work together to ensure that your *django upload script* and his *javascript drag and drop* functionality will work together?

Write your key c

[2019-03-14 16:38] TangoYankee commented on #31
[Version Three of the Wireframes](https://github.com/openoakland/woeip/files/2959738/WOEIP-UploadFlow-v3.pdf) has some intermediate functionality dependent on JS. @theecrit would you be open to reducing the number of dynamic elements, to simplify the MVP?
1. Eliminate the `Hover state`
2. Change Step 1 to read `Drag and Drop Dustrak and GPS files here`
3. Eliminate `file matching state`

@Ethan-br

[2019-03-14 17:10] theecrit commented on #63
Hi Tim,

While HTML and css implementation cover many a11y issues, best practices go well beyond that and impact UX and content, as well as code structure. Section 508 requires WCAG 2.0 compliance. However, CA law requires compliance with “Web Content Accessibility Guidelines 2.0, or a subsequent version” (at the AA level)[source](https://www.dor.ca.gov/Home/AB434). WCAG 2.1 was released mid-last

[2019-03-14 17:23] theecrit opened #66 "As a WOAQ team member, I want to understand our approach to accessibility"
**Is your feature request related to a problem? Please describe.**
When building a community-based tool intended to serve underrepresented populations, a11y becomes a fundamental issue of equity.

**Describe the solution you'd like**
A documented set of design principles that define our approach to and process for building an accessible solution. It should outline:
* Core principles.
* What standa

[2019-03-14 17:51] Ethan-bradley commented on #31
Sure, no problem

[2019-03-14 18:29] theecrit commented on #66
@TangoYankee Does it make more sense to move this into Trello as a Project Management card? Then the output of this process (a set of guidelines/checklist) can be attached to new implementation Issues.

[2019-03-14 18:34] theecrit commented on #31
Yes on #1. Can you explain your reasoning on #2 & 3 so I have some context? Thanks.

[2019-03-14 20:41] Ethan-bradley commented on #62
That sounds like a good structure plan to me.

[2019-03-14 23:54] theecrit commented on #43
Quick tangential question/clarification triggered by the views.py TODO above. Understanding that it's not fair to assume anything, is it fair to assume that the editable field is only editable to properly authenticated users within the upload confirmation flow? In other words, when non-authenticated/permissioned users are viewing a map, fields should not be editable.

[2019-03-15 00:04] theecrit opened #67 "Update WOEIP descriptions in README"
**Is your feature request related to a problem? Please describe.**
The current description of WOEIP and its activities aren't necessarily accurate, and haven't been vetted by WOEIP.

**Describe the solution you'd like**
* Under *Organizations:*

Replace

with

(pulled from WOEIP website; pending confirmation from Brian).
* Under *Project Description:*

replace

 with

**Describe alternatives you'v

[2019-03-15 20:38] theecrit commented on #62
While I tend to lean towards @TangoYankee's approach because it avoids reinventing the wheel, it's also worth considering the following: we're trying to build a system that's sustainable for WOEIP over time. We're also trying to build a solution rooted in the community it's intended to serve. In the spirit of community-driven problem solving, it's worth asking ourselves *how might we...create docu

[2019-03-15 21:33] theecrit commented on #63
@TangoYankee Re: implementation — this Issue is specific to the *confirmation* page only, not the entire upload flow. Bear that in mind regarding your implementation notes.

Also, re: the confirmation message—we need to think about what the system will allow and, therefore, where errors may occur that impact messaging.

### Use cases
What happens when:
* The user drag-and-drops multiple of each?
*

[2019-03-16 18:50] TangoYankee commented on #67
I agree with the changes and the reason behind making them. I vote to move from `discussing` to `ready`.

[2019-03-16 19:08] TangoYankee commented on #43
@theecrit Correct. We manage this by splitting what a `view` can do to a database. `views` can have a mix of read, write, edit, and delete rights. In HTTP terms, these capabilities are "methods" called `GET`, `POST`, `PUT`, and `DELETE`. Editable fields are contained in `views` with `PUT` or `POST` capability. Only logged in users can even access these `views`. Unauthorized users will be redirecte

[2019-03-16 19:38] TangoYankee commented on #31
1. After thinking it over, we could actually keep this. It's not too complex.
2. My lazy attempt to make up for initially deleting the `hover` state. I'm not married to it.
3. We are using two languages: Python and Javascript. Each language is capable of doing the requested function. However, we generally uses Javascript for Design only. We keep logic and data management in Python/Django. By makin

[2019-03-16 19:46] TangoYankee commented on #66
@theecrit yes. It would be better managed in a Trello Card. Also, I added a link to the Web accessibility tool that I've used in the past and Zurb's introduction to the topic.

[2019-03-16 19:52] TangoYankee commented on #63
@theecrit this Issue may be related to confirmation. However, it is dependent on the parts on listed above. Not all of these dependencies have been implemented or had issues opened. I created the list here, so that we can track the progress of open and addressing these prerequisite issues.

For the uses case, I am sure there will always be more. But, we've hit enough for a viable product.

[2019-03-17 18:22] TangoYankee opened #68 "Integrate Custom and Foundation CSS and Javascript"
**Is your feature request related to a problem? Please describe.**
The website needs to be organized and structured in a way that is beyond the capability of HTML.

**Describe the solution you'd like**
Integrate the Zurb Foundation CSS framework and files for custom css and js. For development, I would like to integrate Foundation using a CDN. The custom css and js would live in a file saved local

[2019-03-17 18:53] TangoYankee opened #69 "Mental Model for Contributing Doc"
**Is your feature request related to a problem? Please describe.**
The motivation of the contributing workflow is to help create a shared mental model of the code and its implementation. The contributing document fails to explicitly state this. This may lead to confusion over its intentions and a hesitation to follow its guidelines. I would like the motivation to be explained in the workflow.

**D

[2019-03-18 02:53] TangoYankee opened #70 "Static assets port mismatch"
**Describe the bug**
The static files are being stored on port 8080. The web browser is looking at port 8000, resulting in a 404 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a custom.css file, with css, in static/css folder
2. Load static into head of html template
3. Link to stylesheet using `<link rel="stylesheet" href="{% static 'css/custom.css' %}">`
4. Collect static fi

[2019-03-18 02:54] #70 closed, assigned to nobody

[2019-03-18 02:55] TangoYankee commented on #70
I'm an idiot. I need to switch the port I was using.

[2019-03-18 04:04] theecrit commented on #69
I think this is great. What do you think of the following revision (primarily to the intro sentences)?

[2019-03-18 04:08] theecrit commented on #68
If I'm understanding this correctly, the idea is to host the components elsewhere while we're building, then once we're ready for production we pull everything to keep it hosted local to the app? Sorry, I'm using cludgy language, I know.

[2019-03-18 04:12] theecrit commented on #66
Closing; moved to [Trello](https://trello.com/c/zfsYqv5H).

[2019-03-18 04:13] #66 closed, assigned to nobody

[2019-03-18 04:15] theecrit commented on #63
@TangoYankee Let's plan to write the outstanding related Issues tomorrow night? Assuming you'll be there, that is.

[2019-03-18 04:18] theecrit commented on #31
1. Cool, let's keep it in for now. We can de-scope if it becomes a time-suck.
2. n/a
3. Got it; makes sense to me. Let's de-scope from MVP. I'll update wires this week.

[2019-03-18 04:21] TangoYankee commented on #68
Yes. And it's faster because someone is already hosting it. We just need to reference it.

[2019-03-18 04:24] theecrit commented on #43
Got it. So would that mean we'd need a view for the "View Maps" page with only the `get` capability, if we want non-logged in users to be able to view that page without being able to edit it? And would that require redundant work (and if so, is there a more efficient alternative)?

[2019-03-18 04:50] theecrit commented on #68
Word. Sounds good to me. Feel free to re-label from `discussing` to `ready` if you feel it's good to go.

[2019-03-19 00:28] hawser commented on #69
I like the process introduced by Effective Mental Models for Code and Systems. For me, this project has demonstrated the value of reflection time and again. Think it through before action. I came up with an alternate to be considered, based on @theecrit  contribution but stripped down. Proposed:

Code for America attracts a diverse pool of talent. This diversity brings wide ranging skills, areas o

[2019-03-19 02:21] TangoYankee commented on #31
@Ethan-bradley, you are the one working on the code of this issue. What are your thoughts on the  changes?

[2019-03-19 03:48] Ethan-bradley commented on #31
@TangoYankee I agree on the second and third changes, as without a submit button the user may get confused on whether the files have been submitted (However, Jess may think that it adds more complexity). Additionally, for the second change it adds more clarity about what to do. Currently, the code already has the hover state, automatically updates, and automatically submits after dropping files (t

[2019-03-20 02:42] Ethan-bradley commented on #31
Here is an updated version of the drag and drop:
[dragdrop.txt](https://github.com/openoakland/woeip/files/2986330/dragdrop.txt)
[dragdropjs.txt](https://github.com/openoakland/woeip/files/2986331/dragdropjs.txt)

[2019-03-20 02:49] kepta commented on #68
Hey I might not have a lot of context, please let me know if my suggestion sounds out of scope. I was wondering if you have considered using [`gh-pages`](https://pages.github.com) as the CDN for the static assets?

[2019-03-20 02:52] r-b-g-b commented on #31
Agreed with what you all have come up with in the discussion so far. 1) Keep hover, it's nice and doesn't add too much complexity, 2) move all logic to Django. The drag and drop can really be as simple as uploading two files to the server. The server can handle figuring out which is air Q and which is GPS, if they are properly formatted, etc. I'd suggest moving this to PR so we can go over the cod

[2019-03-20 03:19] TangoYankee commented on #68
Before launch, we'll move the assets from the CDN to the static folder in the project itself. The CDN is only for development. It's not really worth moving, as we'll stop using it soon.

[2019-03-20 03:22] TangoYankee commented on #68
I assigned myself because I already have a prototype branch built. I'll make a PR tonight.

[2019-03-20 03:52] theecrit opened #71 "As a user, I want to be able to sign into my account."
**This issue covers the following features/flows**
- Account sign-in user interface (html template and CSS/JS styling)
  - Backend is already handled by Django built-in functionality
- Account creation
  - "Account creation" should be changed to read "contact [insert email address] to request an account"
  - It should be plain text, rather than a hyperlink
- Password hide/reveal
  - See note below

[2019-03-20 03:57] kiwisquash commented on #67
I can take this.

[2019-03-20 04:01] hawser commented on #69
Discussed and updated. Proposed:

[2019-03-20 04:05] r-b-g-b commented on #31
Caveat about relegating logic to python: A few things should be handled on the front end prior to upload:
 - Set max file size that will upload
 - Limit file extensions that will upload

[2019-03-20 04:24] Ethan-bradley commented on #62
Currently, the dustrak.py is not set up to edit the data after it pulls it from the files (needed for the form after uploading the data). Therefore, in order to edit the data in a form afterwards, the dustrak.py will need to be edited in order to fulfill that request.

Overall, the functionality is a good idea as it would allow the users to edit the data if there is a mistake in there. However, ma

[2019-03-20 05:54] TangoYankee commented on #31
@r-b-g-b I agree that it's ready for a prototype. @Ethan-bradley, could you push a branch to the repo? However, **don't open a pull request**, yet. A pull request should be just that- a request to be pulled into the code. For now, the team can look over the code in the shared branch. However, we should continue to have discussions about it in this Issue Thread.

[2019-03-20 06:09] TangoYankee commented on #69
I vote to move to implementing.

[2019-03-20 20:34] hawser commented on #69
I also vote to move to implementing.

[2019-03-20 23:05] Ethan-bradley commented on #31
I'll push a branch to the repo tommorrow once the script is in place inside the django app.

[2019-03-22 15:34] Ethan-bradley commented on #31
Here is the dragdrop interface branch:
https://github.com/openoakland/woeip/tree/eb/dragdrop2
The files are not uploaded yet to the app.

[2019-03-22 23:51] TangoYankee commented on #31
@r-b-g-b What are you thinking for max file size?

[2019-03-23 17:24] TangoYankee commented on #64
For the URL patterns, I opened a [URL mapping card](https://trello.com/c/pzgbHYU7/82-url-mapping) on Trello. That is the best place to discuss how we should structure our URLs.

[2019-03-23 17:30] TangoYankee commented on #34
The wireframes originally had the sign in and homepage as the same function. However, the builtin Django Authorization package is designed to have a page dedicated to logging in. Consequently, for the MVP, we will have a separate landing page.

[2019-03-23 18:28] TangoYankee commented on #33
The updated label and issue description reflects a discussion at the 19 Mar 2019 OpenOakland hack night

[2019-03-23 18:31] TangoYankee commented on #32
This issue turned into mostly a discussion on workflow. To preserve it, I'm going to rename it and close it. Anything related to navigation, I'll transfer into a new Issue for the Navigation bar.

[2019-03-23 18:32] #32 closed, assigned to nobody

[2019-03-23 18:46] TangoYankee opened #74 "Navigation bar"
**Is your feature request related to a problem? Please describe.**
Create a navigation bar for users to find top-level pages.

**Describe the solution you'd like**
A top bar menu that transforms into a hamburger menu on smaller screens.

**Describe alternatives you've considered**
A list of links and their descriptions in the body of the homepage. This may provide context for new users. However, i

[2019-03-23 19:10] TangoYankee commented on #23
@theecrit To recap our discussions:
- Every WOEIP citizen scientist will have an account
- For the MVP, the accounts will be created by OpenOakland, through the Django Admin page

Given these conditions, we will need to design a flow for WOEIP to request accounts and OpenOakland to create them. Part of that solution might include a WOAQ email account to which requests can be sent. This email accou

[2019-03-23 19:22] TangoYankee commented on #67
@kiwisquash The PR is approved. Go ahead and merge it when you're ready.

[2019-03-24 00:27] kiwisquash commented on #67
@TangoYankee I don't have write-access.

[2019-03-24 01:45] TangoYankee commented on #67
@kiwisquash I merged. If you'd like to keep contributing, let me know. I'll give you write access.

[2019-03-24 04:55] TangoYankee commented on #63
I had a thought about timezone. If we are saving the data to the database before allowing the user to confirm the data, then the dates will have already been converted from local to UTC time in the database. If the user changes the local time, then we will need to go through and change the time of every data point in the database.

This is probably an argument for not uploading all the data to the

[2019-03-24 07:05] kiwisquash commented on #67
@TangoYankee Thanks for doing the merge. And yes, I would like to keep contributing.

[2019-03-24 15:34] #67 closed, assigned to nobody

[2019-03-24 17:10] TangoYankee commented on #68
Reopening issue because pull request has multiple errors related
Errors:
- [x] Missing script to load JQuery
- [x] Missing `load script`
- [x] JS and CSS files still referenced as `custom` when name was refactored to `app`
- [x] Missing `%' from script for app js
- [x] Missing script to load foundation js

[2019-03-26 00:24] theecrit commented on #74
Wireframes attached: [WOAQ-Wires-Nav-20190325.pdf](https://github.com/openoakland/woeip/files/3005987/WOAQ-Wires-Nav-20190325.pdf)

[2019-03-27 00:16] theecrit commented on #71
Interesting [article from Luke Wroblewski](https://www.lukew.com/ff/entry.asp?1941/) on defaulting to show password, with [backup from Nielsen Norman](https://www.nngroup.com/articles/stop-password-masking/). I'm not married to either approach, but seems that defaulting to show password, with an option to hide, is more low-computer-skills friendly. And since security is not a primary part of the U

[2019-03-27 00:28] theecrit commented on #23
@TangoYankee Let's have OO create a woaq@openoakland.org email that forwards to both you and I?

[2019-03-27 00:38] theecrit commented on #64
@TangoYankee How do you feel about adding a "blocked" label to this, to indicate it can't be worked on until a dependency is resolved?

[2019-03-27 01:28] TangoYankee commented on #71
@theecrit I think hiding the password on default and then offering to show it is a good compromise between security and friendliness.

[2019-03-27 01:30] TangoYankee commented on #71
I also wouldn't object to making this issue encompass the whole sign in page front end. It seems we have the wireframes for it.

[2019-03-27 01:56] TangoYankee commented on #74
@theecrit Want a hamburger menu for mobile? I hope you say yes because I already figured it out.

[2019-03-27 02:31] TangoYankee commented on #74
Hamburger menu for MVP. We'll user test and iterate as the site develops.

[2019-03-27 02:39] TangoYankee commented on #34
For MVP, the url for home page will redirect to the login page.

[2019-03-27 02:46] theecrit opened #76 "As a user, I want my starting point to be the sign-in page"
**Is your feature request related to a problem? Please describe.**
The user needs a starting URL to begin their experience.

**Describe the solution you'd like**
Redirect /index to /signin (I'd prefer to use "sign in" language consistently over "log in" because it's more user-centric, as opposed to system-centric).

**Describe alternatives you've considered**
The resources to scope, design, and im

[2019-03-27 02:58] kiwisquash commented on #69
@TangoYankee, I'm not 100% sure where the proposed text is meant to go. Should it come after the first sentence in the *Issues* section?

[2019-03-27 03:17] theecrit commented on #69
@kiwisquash Good point; it feels a little heavy-handed dropped into the doc. How about we edit it way down and make it part of the **Issues** section:

[2019-03-27 03:19] kiwisquash opened #77 "`make docker.build` fails"
**Describe the bug**
Running `make docker.build` gives the following error:

`W: Failed to fetch http://deb.debian.org/debian/dists/jessie-updates/main/binary-amd64/Packages  404  Not Found`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the local copy of the git repository on terminal
2. Run `make docker.build`
3. See the error, be sad

**Screenshots**
<img width="570" alt="Screen Sh

[2019-03-27 03:20] theecrit commented on #71
@TangoYankee Would it make sense to combine it with https://github.com/openoakland/woeip/issues/23?

[2019-03-27 03:21] TangoYankee commented on #77
The cdn appears to have stopped carrying the image: [Debian Jessie CDN 404](http://cdn-fastly.deb.debian.org/debian/dists/jessie-updates/main/binary-amd64/Packages)

[2019-03-27 03:23] TangoYankee commented on #77
I'm exploring other base images for python 3.6.
The project originally used alpine. However, it was incompatible with the docker image for postgis.

[2019-03-27 03:48] TangoYankee commented on #77
As a temporary patch, switch the docker base image from `python3.6-jessie` to `python3.6`. If the jessie cdn is still down tomorrow, we may need to integrate this new base image into the code base. Or, find a different base image.

[2019-03-27 03:52] theecrit commented on #23
Closing and rolling leftover items into #71.

[2019-03-27 03:53] #23 closed, assigned to nobody

[2019-03-27 04:46] r-b-g-b commented on #62
I pushed a branch https://github.com/openoakland/woeip/tree/rg/technical-docs-%2362 that has everything except moving the Deployment and Terraform to the wiki. Is there general consensus about starting a project wiki and moving the Deployment and Terraform docs there? I'm in favor.

[2019-03-27 04:51] TangoYankee commented on #76
I swapped the tags. If I'm not mistaken, the landing page is **backlog** but this redirect is **MVP**. Also, I think it's ready from implementation.

[2019-03-27 04:59] TangoYankee commented on #62
I'm in favor of making a wiki. I vote to make the wiki and move the Deployment and Terraform sections to it. Then, this branch will be ready for a PR.

[2019-03-27 05:39] theecrit commented on #34
Quick tweak to issue description, since needs will change by the time we're ready to work on this.

[2019-03-27 05:43] theecrit commented on #76
@TangoYankee When you say we have /signin redirecting to /index, do you mean once the user is signed in, they are redirected to /index?

[2019-03-27 05:44] theecrit commented on #74
@nbilenko Should I re-label this as `implementing`?

[2019-03-27 05:45] theecrit commented on #71
@TangoYankee Can you review and re-label this as `ready` if you concur?

[2019-03-27 07:04] clintonb commented on #77
Here is an explanation of the issue: https://github.com/circleci/circleci-images/issues/366.

Jessie (Debian 8) is nearing EOL: https://wiki.debian.org/DebianReleases#Production_Releases, so repos were archived. The solution is to upgrade to a later version of Debian (e.g. Stretch). `python3.6` will always link to the latest version of Debian (e.g. `stretch` until 2020), so that is wise to use. No

[2019-03-27 14:53] TangoYankee commented on #76
Currently, yes. However, if they originally asked to go to `add data` but are stopped by the `signin` page, then signing in will redirect them to `add data`. That's the behavior I'm going for, by have `index` redirect to `add data`. If I'm not mistaken, that's the original flow you designed.

[2019-03-27 14:56] TangoYankee commented on #34
So Shiny!

[2019-03-27 15:27] #77 closed, assigned to nobody

[2019-03-27 18:49] nbilenko commented on #74
Here's a branch: [nb/nav-bar](https://github.com/openoakland/woeip/tree/nb/nav-bar), building on the prototype branch + added styling based on wireframe and accessibility features.
Can I open a pull request at this stage?

[2019-03-28 03:40] TangoYankee commented on #74
I looked it over. Smells good to me. I opened the PR myself because I was curious as to how git would handle the different versions of the Docker file- python:3.6 is now the official base image.

Of course, now we're in the awkward position where it's your code. But, ... I can't review it and you can. Whoops.

Anyway, add your review and approve the changes when you see fit. I'll leave the PR open

[2019-03-28 06:07] nbilenko commented on #74
Cool, I added a comment but it doesn't let me approve (maybe b/c I'm not under "approving reviewers").

[2019-03-28 18:17] kiwisquash commented on #69
Closing the issue since the merge is complete.

[2019-03-28 18:17] #69 closed, assigned to kiwisquash

[2019-03-28 22:10] #68 closed, assigned to TangoYankee

[2019-04-01 01:18] TangoYankee opened #81 "As a user, I want to upload air quality and location data to the website"
**Is your feature request related to a problem? Please describe.**
After collecting air quality data, I would like to upload it to WOAQ to be stored.

**Describe the solution you'd like**
I will have two files:
1) A csv file which contains air quality measurements taken by a dustrak sensor
2) A log file which contains GPS location data taken by a ....gps?... @theecrit, what's the device?

As a sig

[2019-04-01 18:06] theecrit commented on #81
@TangoYankee Under "Additional Context," you mention that "This issue is a prerequisite for issue #31. It provides the backed structure to the upload process." Can you clarify the relationship between this issue and https://github.com/openoakland/woeip/issues/43? My gut says that #43 needs to be clarified before it's actionable, and so that it's mutually exclusive from this Issue.

[2019-04-01 21:13] TangoYankee commented on #81
100% #43, dustrak upload needs to be re-written and clarified. It's a remnant from before we had the proper workflow.

This issue (#81) is a pre-requisite for #43. Under #43, we will extract the meta data of the file and send it to the verification view (#63). We might actually want to consider combining #43 and #63.

[2019-04-03 02:45] r-b-g-b commented on #31
Mmmmm largest file of the ~10 sessions I have is 2MB, so maybe like 25MB?

[2019-04-03 03:07] Ethan-bradley commented on #31
Sounds good, I'll add that max file size in.

[2019-04-03 03:16] nbilenko commented on #31
Django could handle the max upload size issue - here's a snippet with an example https://www.djangosnippets.org/snippets/1303/

[2019-04-03 03:42] Ethan-bradley commented on #31
Thanks, I am currently using the javascript max file size function but I will look at the Django implementation as well.

[2019-04-03 20:11] TangoYankee commented on #31
This PR looked like it was getting kinda big. I made #81 to handle the backend logic. That way, this PR can focus on the front end UI. My suggestion is to discuss #81, settle on a backend design, and then implement. From there, we can add on the front end from this issue. If ya'll disagree, let me know.

[2019-04-10 01:20] TangoYankee commented on #76
@r-b-g-b On the next iteration, we could look into nginx handling the redirect, instead of Django. Although, I don't think it's worth the research time for the MVP.

[2019-04-10 01:20] #62 closed, assigned to r-b-g-b

[2019-04-10 03:06] Ethan-bradley commented on #31
@TangoYankee Currently I am planning to use ajax to send the data to Django and forms to handle the backend logic (currently none for the moment). Additionally, the javascript determines file type and maxfilesize before sending it to the views.py.

[2019-04-10 03:13] theecrit opened #83 "As a developer I want to be able to designate which tests should be run as part of acceptance criteria for a given issue"
**Is your feature request related to a problem? Please describe.**
We'd like to implement a consistent principle of testing your own code, by designating which tests should be run at the time an issue is created. This ensures the tests are identified as part of Issue definition and serves as a reminder to test for whoever chooses to implement the Issue.

**Describe the solution you'd like**
As a d

[2019-04-10 03:21] Ethan-bradley commented on #81
@nbilenko Currently ajax is being used to send the data. Does that make sense for what data management you want to do?

[2019-04-10 19:06] theecrit opened #84 "As a WOAQ team member, I want a single public contact option with multiple fallbacks."
**Is your feature request related to a problem? Please describe.**
Currently, there's no direct contact info in the ReadMe doc, other than for reporting security issues, and that directs people directly to Tim's email address. This poses two problems:
- Visitors don't know how to reach WOAQ for general inquiries.
- Only one person is alerted of security issues, which means if that person is unavai

[2019-04-10 23:31] TangoYankee commented on #84
Vote to implement

[2019-04-12 03:49] TangoYankee commented on #76
I made two versions of this solution. The first version is [ty/upload-as-home](https://github.com/openoakland/woeip/tree/ty/upload-as-home). This is pull request #85 . It's the simplest solution. Also, when a user is already authenticated, then it will redirect to the upload page. The second version is [ty/login-as-home](https://github.com/openoakland/woeip/tree/ty/login-as-home). It modifies the

[2019-04-14 01:31] TangoYankee commented on #71
@theecrit Django defaults to logging in with username, rather than email. I'm not sure whether this makes a significant difference for you. I'm proceeding with username. Let me know if you want an issue to convert the login to email.

[2019-04-14 02:20] TangoYankee commented on #84
I'll combine this with the testing documentation issue (#83). The contributing document also includes a reference to my email for security issues. I'll be editing the contributing doc for that issue anyway. I think these are small enough issues that we can combine them.

[2019-04-14 17:15] TangoYankee opened #88 "Skeleton for verification page of metadata (1/3)"
**Is your feature request related to a problem? Please describe.**
A page where users can view, verify, and edit the meta data that was automatically generated for the session.

**Describe the solution you'd like**
The user should be brought to a page where they are presented with a form, pre-filled with data. The user can change the values of the data in the fields. The user can either save the d

[2019-04-14 17:34] TangoYankee opened #89 "Styling and Accessibility for Verification Page (3/3)"
**Is your feature request related to a problem? Please describe.**
A page where users can view, verify, and edit the meta data that was automatically generated for the session.

**Describe the solution you'd like**
The user should be brought to a page where they are presented with a form, pre-filled with data. The user can change the values of the data in the fields. The user can either save the d

[2019-04-14 17:55] TangoYankee opened #90 "Integrate data into verification page and handle errors (2/3)"
**Is your feature request related to a problem? Please describe.**
A page where users can view, verify, and edit the meta data that was automatically generated for the session.

**Describe the solution you'd like**
The user should be brought to a page where they are presented with a form, pre-filled with data. The user can change the values of the data in the fields. The user can either save the d

[2019-04-14 18:05] TangoYankee commented on #63
I split this topic into three issues, each with the label `verify-page`

[2019-04-14 19:03] theecrit commented on #71
I worry that username adds a level of complexity to a flow that's already something of a blocker/gate to the primary experience. It's another thing for CM and her team to have to remember, and she's already given us feedback in multiple instances that additional memorization can be tough on her ability to complete a given flow (she requires a lot of repetition and visual/text reference/prompts to

[2019-04-14 19:31] theecrit commented on #90
@TangoYankee Can you confirm the following relationships?

- **[31. As a user, I would like to drag and drop my gps and dustrak files to upload them](https://github.com/openoakland/woeip/issues/31):** Drop zone front-end for #81
- **[81. As a user, I want to upload air quality and location data to the website](https://github.com/openoakland/woeip/issues/81):** Comments suggest this is back-end log

[2019-04-16 04:46] TangoYankee commented on #71
Overwriting the email should be straightforward. For the scope of this issue, let's keep username. I'll open another issue to swap username for email, before MVP.

[2019-04-16 04:49] TangoYankee opened #91 "As a user, I want to login with my email address"
**Is your feature request related to a problem? Please describe.**
Remembering an additional username can feel cumbersome. I would like to sign in with my email.

**Describe the solution you'd like**
Email to be the primary user account information

**Describe alternatives you've considered**
A username as the primary login method.

**Additional context**
TBD

**Labels**
- [x] Add a status label

[2019-04-16 04:53] TangoYankee commented on #90
Yes. I added a few labels because I wrote many of them and even I'm confused by their relationships.

For #81, it focuses on the selection from local drive because that is the backend basis for the drag and drop frontend (unless my assumption is wrong). Also, the wireframes indicated that we still want to have a 'select from file explorer' backup to the drag and drop.

[2019-04-20 17:07] TangoYankee opened #92 "As a developer, I want to understand the team's approach to styling the frontend"
**Is your feature request related to a problem? Please describe.**
I would like to know the guidelines for styling elements on the website

**Describe the solution you'd like**
I would like the styling to default to the Foundation built-in styling, for the MVP.
- It requires no custom code
- The colors are currently at an 8.59:1 contrast ratio (meeting certain accessibility requirements)

Custom c

[2019-04-20 17:12] TangoYankee commented on #92
I took the idea of wireframes =/= redlines and applied it retroactively. I eliminated all the custom styling that was made based on the wireframes. The results are below and look like the best option to me. I also changed the html header tags to follow an ascending pattern, starting with the navigation title as h1. This is for accessibility considerations. The code is available at [ty/minimum-cust

[2019-04-20 21:20] theecrit commented on #92
Love it — I think this is a totally appropriate solution for MVP, and gives us the opportunity to create a visual and/or component style guide as a separate track.

[2019-04-24 03:18] theecrit opened #94 "As a user, I want to view my data set on a map"
## Description
Once I’ve uploaded  single CSV/GPS log pair and have confirmed the data ingested by the system is accurate, I want to be redirected to a map view of the data set.

## Acceptance criteria
- [ ] Map is defaulted to be zoomed into appropriate scale to view full route at once.
- [ ] User can zoom in/out and move location on the map.
- [ ] Data points are displayed as dots on their assoc

[2019-04-24 15:47] #83 closed, assigned to TangoYankee

[2019-04-24 15:48] #84 closed, assigned to TangoYankee

[2019-04-24 15:49] #76 closed, assigned to TangoYankee

[2019-04-24 16:16] TangoYankee commented on #91
@theecrit @nbilenko @r-b-g-b @Ethan-bradley
The correct way to implement email is to create a custom user model (tutorial linked under Technical Resources). It's not difficult. But, it takes time away from tasks like `password reset`. Also, we might throw it out when attempting to integrate with Truck Tracker.

The `move fast and be embarrassed by your MVP` method is to just make all the usernames

[2019-04-24 16:50] theecrit commented on #91
Sounds like a reasonable workaround to me. Can we add an Issue to the backlog for post-MVP to reevaluate the method, just so the to-do doesn’t get lost?

[2019-04-24 20:58] TangoYankee commented on #91
Strategy:
1. Implement the issue with the simple work around
2. Make a note that it needs to be changed and how
3. Add a `backlog` tag to the issue, rather than close it.

[2019-04-24 21:11] TangoYankee opened #96 "As a user, I need to manage my password (1/2)"
**Is your feature request related to a problem? Please describe.**
An ability to reset forgotten password. There is also a need to change the password originally set by the developer that created the account.

**Describe the solution you'd like**
Reset the password using the default django forms and email workflow

**Describe alternatives you've considered**
A magic login link. This flow is not as

[2019-04-24 22:44] theecrit commented on #91
Sounds like we can move this to the “ready” state?

[2019-04-25 03:24] #71 closed, assigned to TangoYankee

[2019-04-25 03:24] #92 closed, assigned to nobody

[2019-04-25 03:39] TangoYankee opened #97 "As a developer, I would like to send emails programmatically to reset user passwords (2/2)"
**Is your feature request related to a problem? Please describe.**
Users will be sent emails to with email reset passwords

**Describe the solution you'd like**
These emails should be sent with a service, such as SendGrid, MailGun or Mandrill.

**Additional context**
This is the second issue related to password reset. The first issue implements a development backend to store emails in a local fold

[2019-04-25 03:47] TangoYankee commented on #96
@theecrit In addition to resetting a password, users need a way to change their password. That's also part of the stock Django. The question is... where do we put the `change my password` link.

Usually, we would put it on the user's profile. But, we don't have one of those. I'm thinking the nav bar is the best place for it now.

[2019-04-25 05:56] theecrit commented on #97
Can we add a note to include due diligence around security issues for this particular feature?

And by extension, is it worth opening a new Issue to specifically do due diligence around security requirements as a whole? I think it’s worth treating it as intentionally as a11y.

[2019-04-25 06:46] TangoYankee commented on #97
These are all well-tread methods. The due diligence on this topic is basically "don't screw up the configurations or accidentally commit your credentials to github"

"Security requirements" is a broad topic and doesn't really lend itself to an issue. It would be better discussed in the format of a trello card and/or google doc.

[2019-04-25 15:30] TangoYankee opened #98 "Manage the django sites domain"
**Is your feature request related to a problem? Please describe.**
Django has a `domain` variable, set when using the [sites framework](https://docs.djangoproject.com/en/dev/ref/contrib/sites/). By default, it is set to `example.com`. When sending password reset emails, the email template references the `domain` variable. It needs to be set, so that users are directed to the correct domain.

**Des

[2019-04-25 15:31] TangoYankee commented on #98
@theecrit The aspect of choosing a production domain should probably be a Trello card?

[2019-04-25 15:34] TangoYankee commented on #96
The domain in the `password_reset_email.html` template is currently hard-coded with `localhost:8080`. I opened issue #98 to fix that, in a new pull request.

[2019-04-25 15:46] TangoYankee opened #99 "As a user, I want to view my password as I reset or change it"
**Is your feature request related to a problem? Please describe.**
On the login page, users are able to view their password as they enter it. However, the `show password` option does not exist anywhere else in the password reset or change workflows.

**Describe the solution you'd like**
Users should be able to reveal their password anytime they need to enter it.

**Describe alternatives you've con

[2019-04-25 17:55] theecrit commented on #96
I'd been thinking about this a bit already (account creation begs the question of account management). I *think* nav bar is ok for now but I have a card for addressing it within the larger question of IA: https://trello.com/c/MecWIQg8

Language will also need to be thoughtful (e.g. "My Account" vs "Reset Password" vs. something else).

[2019-04-25 18:53] theecrit commented on #97
Sure thing. Here's a broad card for the overarching question of "security and safety": https://trello.com/c/Er8vSgAS

And a card specific to addressing the security of users' personally-identifiable information: https://trello.com/c/pIS902jc

[2019-04-25 19:04] theecrit commented on #98
Done: https://trello.com/c/oP90jpQW

[2019-04-26 00:14] TangoYankee commented on #96
The code is in PR #100. The nav bar when signed in looks like:

![WOAQ Change Password 2019-04-25 17-11-15](https://user-images.githubusercontent.com/11068062/56775757-5e2b9c00-677d-11e9-838e-bb00920eb46c.png)

[2019-04-26 00:32] theecrit commented on #96
Let's keep capitalization consistent in the nav and use sentence case (only letter of first word of phrase is capitalized):

- Add data
- View maps
- Change password
- Sign out

[2019-04-26 01:09] TangoYankee commented on #96
Changed

[2019-04-26 17:57] theecrit commented on #81
Just want to check in on the progress of this issue (and its related https://github.com/openoakland/woeip/issues/31). @Ethan-bradley @nbilenko What are next steps for this one? Thanks!

[2019-04-30 22:41] theecrit opened #101 "As a WOAQ contributor, I want to know how to visually style front-end components."
**Is your feature request related to a problem? Please describe.**
The current contributing.md file contains a section titled "Style Guides." It does not yet reflect the latest decision to use default/out-of-box Foundation visual styles.

**Describe the solution you'd like**
Add a bullet item under "Style Guides" for "Visual/CSS styling: [Foundation 6 Global Styles](https://foundation.zurb.com/sit

[2019-05-01 01:45] TangoYankee commented on #101
@theecrit Want to try your hand at making a pull request with these changes?

[2019-05-01 01:48] theecrit commented on #101
@TangoYankee Yes! Will give it a shot tonight or tomorrow am. :)

[2019-05-01 01:58] TangoYankee commented on #101
Related to closed issue  #92

[2019-05-01 02:57] nbilenko opened #102 "As a developer, I want to know which accessibility elements need to be implemented"
## Description
The WOAQ team is currently developing a set of [accessibility guidelines](https://drive.google.com/open?id=1CKf6g1nd_pxdAKHI-9gbqEGoKWdSAW1PrpC1FTiXEUk). In the meantime, we want to make sure the tool is at least accessible to screen readers. This issue should cover putting together a draft set of minimum accessibility recommendations for an MVP launch.

## Tasks to consider includi

[2019-05-03 17:15] theecrit commented on #101
Closing w/ PR 103.

[2019-05-03 17:15] #101 closed, assigned to theecrit

[2019-05-04 18:58] TangoYankee commented on #96
PR #100

[2019-05-04 18:58] #96 closed, assigned to TangoYankee

[2019-05-04 19:00] TangoYankee commented on #91
Moved into backlog to implement with the ["correct" method](https://github.com/openoakland/woeip/issues/91#issuecomment-486311784).

[2019-05-14 23:55] theecrit opened #104 "As a user, I'd like site pages to follow a consistent grid so it's easier to navigate."
**Is your feature request related to a problem? Please describe.**
Currently, certain views (specifically "Add Data") do not conform to a grid layout that matches other views.

**Describe the solution you'd like**
For a Foundation-based grid to be applied to all views consistently as appropriate.

**Describe alternatives you've considered**
Non-grid based layouts introduce inconsistencies, introdu

[2019-05-15 15:46] TangoYankee commented on #104
`Add data`/`upload` is going to be completely restyled to match the wireframes. ie) Drag and Drop

[2019-05-16 01:31] theecrit commented on #104
Yes; just want to make sure we use a grid consistently across the product. Not sure the best way to ensure that happens if/as we create new pages/views to the site.

[2019-05-16 19:13] Ethan-bradley commented on #31
@TangoYankee Actually, now the plan is to use a django form to send the information. Currently this is working, though the backend form needs to be edited.

[2019-05-18 02:07] TangoYankee commented on #31
Thank you for letting me know. Is there anything you need help with?

[2019-05-22 02:13] theecrit commented on #104
Closing as won't fix (given it will be part of applying visual styling later).

[2019-05-22 02:13] #104 closed, assigned to nobody

[2019-05-22 02:30] theecrit commented on #97
Current blocker is choosing a service. I'm going to reach out to OO and see if they have existing recs/accounts.

[2019-05-22 02:35] theecrit commented on #90
Upload is blocking this.

[2019-05-22 02:51] theecrit commented on #64
Assigning to myself temporarily to flesh out issue further. Then will reassign to next available dev.

[2019-05-22 02:56] theecrit commented on #89
Blocked until Upload flow is implemented.

[2019-05-22 02:57] theecrit commented on #88
Blocked by upload implementation.

[2019-05-22 02:58] theecrit commented on #81
@TangoYankee Just assigned this to you; you're up.

[2019-05-22 03:12] theecrit commented on #90
@TangoYankee Don't forget about #63

[2019-05-22 03:13] theecrit commented on #63
Closing as covered via #88, #89, and #90

[2019-05-22 03:13] #63 closed, assigned to nobody

[2019-05-23 20:58] theecrit commented on #98
Do we want to re-map this to use woaq.org once that's secured?

[2019-05-27 00:40] theecrit opened #105 "Improvement: As a new project contributor, I'd like a birds-eye view of how to get started directly from the ReadMe doc."
**Is your feature request related to a problem? Please describe.**
Currently, the ReadMe doc provides minimal info, forcing new contributors to find their way to Contributing.md to get actionable details about getting started on the project before they have a clear understanding of what the project is. Once there, there's a *lot* of detail, making it difficult to easily hone in the particular way

[2019-06-03 22:25] nbilenko commented on #81
@TangoYankee Iterated on your already substantial progress, result is here: https://github.com/openoakland/woeip/tree/nb/dragdrop6
I think we're close to done on this issue.

Screenshots attached.

Users initiate the upload by selecting files (single or multiple) using the button or by dragging anywhere on page, and then pressing the "Upload" button to confirm. Only .csv and .log files can be uplo

[2019-06-03 22:59] theecrit commented on #81
Wow, looking really good! If I understand correctly, this now requires the user to 1) verify the files after selecting them to initiate the upload, *and* 2) submit the files once they've been uploaded.

This seems like a lot of steps for the user.

The original intention was for the files to begin uploading as soon as the user does one of two things:
1. Releasing dragged files over the drop zone,

[2019-06-04 00:28] TangoYankee commented on #81
This provides feedback that the correct files were selected. It also tells the user that their first file didn't disappear down a black hole.

Perhaps most importantly, it prevents a cascade of errors that we would need to spend a couple more weeks having to design catches for.

That said, the screen shots look like the user presses `upload` to get it added to the list. We could look into cutting

[2019-06-04 01:22] theecrit commented on #81
This implementation is a very different experience than what had been discussed based on the wireframes. If there are concerns about the design, we should discuss that rather than re-engineer the experience without discussion.

The intent of the experience is for the user to be able to select two files *at the same time*, and initiate upload by either: 1) dragging *both files together* and releasi

[2019-06-04 03:26] TangoYankee commented on #81
1) This is the conversation where it changed. This is just a dev branch. It's not even a pull on master.

2) Not every detail can be talked about and documented. Otherwise, nothing will ever get done. We'll be talking until 2021.

3) We're volunteers with day jobs. Compromises must be made to keep a reasonable technical scope.

[2019-06-04 05:02] nbilenko commented on #81
Agreed that it would be good to discuss what the flow should be. Having the file review instead of an immediate upload is a less straightforward implementation technically, but Tim found a great resource that had that option, so that's what he and I adapted.
There's an option to turn the review off and have the files upload immediately with this implementation as well. I thought it might be good t

[2019-06-04 14:45] theecrit commented on #81
Thanks for the context, @nbilenko. Let's just be sure to document these kinds of decisions on the Issues, so folks understand why decisions are being made.

[2019-06-12 04:13] Ethan-bradley opened #107 "Fix contributing.md"
### Current scenario
Contributing.md is not quite accurate or complete, making it difficult to onboard new developers.

### Proposed solution(s)
- Restructure the page to include clear sections for: Overview, Running the build locally (Docker & local machine), Team workflow & standards (forks & branches, issues & projects, labels, style guides, etc)

- Additional changes to include in *Running the

[2019-06-12 16:27] theecrit commented on #107
@Ethan-bradley A couple of questions:

1. What should replace the image for `./manage.py createsuperuser`?
2. Where should the `add go to http://0.0.0.0:8080/ to access...` bit be added?

I can take care of both of these tonight.

[2019-06-12 19:10] theecrit commented on #107
Added some additional detail to the issue itself for clarity.

[2019-06-13 01:46] TangoYankee commented on #81
Minor bookkeeping: this issue is for the backend collection of the files. The Drag and Drop UI functionality is issue #31. No biggie ¯\_(ツ)_/¯

Anyway, I haven't been able to get the Drag and Drop functionality working. It seems it will take more research. I pivoted to the backend collection of the csv and log files. The user interface will need to be addressed before launch. However, this solutio

[2019-06-14 21:19] Ethan-bradley commented on #107
Sorry for not adding more clarity earlier, here is the proposed solution:
That make local.shell shoud look like this:
![Screen Shot 2019-06-14 at 2 17 59 PM](https://user-images.githubusercontent.com/30478290/59538640-594ab500-8eaf-11e9-9901-45259daa7b32.png)
I think I made a mistake and referenced the ./manage.py instead of the make local.shell, I fixed that in the issue comment above. I can fix

[2019-06-15 03:04] TangoYankee commented on #43
@ifed3 I started looking into a more detailed overview of how this issue could be implemented. Based on the currently open [data upload PR](https://github.com/openoakland/woeip/pull/109), I was able to get a much better understanding.

It seems that we don't need a 'staging table'. We can simply set the 'initial values' of the `ConfirmForm`. The user can choose to keep or change these values. Once

[2019-06-19 02:11] Ethan-bradley commented on #107
Additional lines under workflow that needs to be edited:
Maybe add that estimated time to setup everything (including installing docker) is around 30-45 minutes.
Add Open terminal
Add Install git (May add instructions for git installation: https://docs.gitlab.com/ee/gitlab-basics/start-using-git.html) if not already installed. If you are on a mac, just type in git and hit ok to install software to

[2019-06-20 03:41] theecrit commented on #43
**Re: staging table**
@nbilenko, @r-b-g-b, and I chatted about this last night, and came to a similar conclusion. Natalia's proposal was to flag the data as "unvalidated" or similar, and remove the flag when the user confirms. I'll let them pipe in with any clarifications/additional thoughts.

**Re: navigation**
Been meaning to check this out and will do so before end of the week. Is this change t

[2019-06-20 22:51] #105 closed, assigned to theecrit

[2019-06-22 19:59] theecrit commented on #43
My preference is to *not* move data directly into the main table until the user has confirmed their details. I'd be interested to hear y'all's thoughts on the staging table vs. panda dataFrame, per:

![WOAQ-Data-Flow-Diagram-v3](https://user-images.githubusercontent.com/32755410/59968365-9b967680-94ed-11e9-982a-6ac628e7f079.png)

[2019-06-24 02:09] r-b-g-b opened #115 "Database schema revision"
**Is your feature request related to a problem? Please describe.**
Revisit the database schema to be straight forward for our current data needs (Dustrak/GPS) + able to accommodate future data needs. The current/first schema got us 90% of the way to what we need. I think this is a good time for a revision: we've had some time to notice some inadequacies of the current version, but we're not too fa

[2019-06-24 14:22] TangoYankee commented on #107
Many of the items in this list are issues for new developers in general. For a couple past projects, I have moved things like _open terminal_ and _install git_  to a **New developer guide** in the [woeip/wiki](https://github.com/openoakland/woeip/wiki). If it's something that is common to a lot of potential contributors, it may be worth finding an existing tutorial that we can incorporate.

Altern

[2019-06-24 17:10] theecrit commented on #107
I think the contributing.md should include the WOEIP-specific, step-by-step instructions for what it takes to get up and running. So that includes basics like opening terminal and running specific commands.

For more basic instructions around general workflows (getting comfortable with terminal, git, etc.), we could create a gist that links to existing resources aimed at beginners. I'd recommend a

[2019-06-26 02:07] theecrit opened #116 "Finalize a deployment workflow using woaq.org"
**Is your feature request related to a problem? Please describe.**
The current plan is to use woaq.org as the production domain for the time being, with the intention of having an easy-to-remember, standalone website accessible to the general public and credentialed users.

Client prod domain on woaq.org corresponding to master branch
Client staging domain on branch_name.woaq.org corresponding to

[2019-06-26 02:08] theecrit commented on #116
@ifed3 Feel free to edit anything in there and re-label accordingly. Thanks!

[2019-06-26 05:49] r-b-g-b commented on #115
New design we hashed out tonight. I don't know anything about UML so apologies if this isn't quite right. Feel free to ask for changes. https://drive.google.com/file/d/1JYCJ1we1j8xr4gPGpIjTsiAE09J1mueI/view?usp=sharing

[2019-06-26 06:12] ifed3 commented on #115
@r-b-g-b, I can't access the document. can you share the ungated version?

[2019-06-26 06:23] r-b-g-b commented on #115
Whoops, try the new link ^^^

[2019-06-26 16:54] theecrit commented on #115
Looks great at first glance, @r-b-g-b. I'll take a closer look tomorrow.

**Re: our naming conversation last night**
As a word nerd, I believe strongly that language is a critical component to making the database understandable to those who need to use it (current team and future teams, including potentially WOEIP staff). Here's a great approach that describes how to choose good names and how to f

[2019-06-28 17:08] TangoYankee commented on #115
1. The `Participant`/`User` labeling goes back to the conversation on how to manage the database of users. At the time, we decided that only members with accounts would be listed as uploaders/collectors. By extension, we would keep the standard `User` Django nomenclature.

2. I'm confused by trying track the relationship between `Calibration`, `Sensor`, and `Device`. I would prefer if they were on

[2019-06-28 18:51] ifed3 commented on #115
Hey @TangoYankee, we spend most of Tuesday discussing some of the points you mentioned and broadly agreed to this schema definition. We aimed to solve both the specific use case of WOEIP but also create a schema that's flexible enough for a general use case.

I've attached a V2 of what @r-b-g-b created separated by the event domain. I'll explain some of the nuances

# Schema V2
![WOEIP Schema V2](

[2019-06-28 19:13] theecrit commented on #115
@TangoYankee Before we go too much further, let me clarify a couple of things that may help...

**Modeling principles**
The conclusion we came to as a group on Tues (we being @nbilenko, @ifed3, @Ethan-bradley, @r-b-g-b, Niels, and myself), was to prioritize normalization and one-to-one relationships for the sake of flexibility and potential ability to scale, while recognizing that our priority use

[2019-06-29 21:59] r-b-g-b commented on #115
Whoa love the graph @ifed3 . Splitting up by domain is very nice, I'll keep that in mind in the future. Naming tweak: I'd call `SensorType` ->`Analyte` and `Analyte`->`Measurement`, but I won't die on that hill. Totally agree with @theecrit that this is best hashed out in person next week. Slight hitch: I'll be gone starting next week.

However, my design requirements can be summed up pretty simpl

[2019-06-30 17:26] TangoYankee commented on #115
Thank you @r-b-g-b @theecrit and @ifed3 for the documentation and explanation. I'm learning a lot from this discussion and the linked resources. I'll absorb and internalize as much as I can for Tuesday.

[2019-06-30 17:47] theecrit commented on #115
I'd agree that `SensorType` and `Analyte` language could be a little clearer. Using plain, unambiguous language whenever possible is important for accessibility reasons. "Pollutant" is the commonly used term among our audience to describe what we're calling "SensorType," so that would be my recommendation.

I like "Measurement," or even "PollutantValue," to make it clearer.

[2019-07-03 02:14] theecrit commented on #115
Here's the latest model from @ifed3:

![WOEIP Schema V2 (2)](https://user-images.githubusercontent.com/32755410/60558301-8bf10c00-9cfd-11e9-8116-136cafbefc9d.jpg)

[2019-07-03 02:16] TangoYankee commented on #33
While we discuss the database, I took the downtime to work on the footer. It's not mobile friendly. But, it's a start. Check it out and let me know what you think. Branch: [footer](https://github.com/openoakland/woeip/tree/footer)

![WOAQ Footer 02 July](https://user-images.githubusercontent.com/11068062/60558495-4ed94980-9cfe-11e9-9e0f-e6eca1d02c3d.png)

[2019-07-03 02:48] TangoYankee commented on #74
Modified the header so that it says 'West Oakland Air Quality' in the top bar, without needing a dropdown. Branch [ty/responsive-header](https://github.com/openoakland/woeip/tree/ty/responsive-header)

![WOAQ Responsive Header](https://user-images.githubusercontent.com/11068062/60559702-294e3f00-9d02-11e9-8ffe-eb21b09b35be.png)

[2019-07-03 03:38] theecrit commented on #115
Closing this issue as resolved per the latest model above. I'll open a new issue for implementation of the new model.

[2019-07-03 03:39] #115 closed, assigned to r-b-g-b, nbilenko, ifed3, TangoYankee, Ethan-bradley, theecrit

[2019-07-03 03:49] theecrit opened #117 "[Improvement] Implement updated database schema"
**Is your feature request related to a problem? Please describe.**
Our current database model doesn't accommodate a number of dependencies and attributes that would allow it to scale as additional sensors/devices/data formats come into play. After much discussion, we've landed on a model that normalizes the data to what we feel is the right degree for where the project is now.

**Describe the solu

[2019-07-07 04:43] ChenglimEar commented on #107
It looks like the login is with the username and not the e-mail that was set up with `createsuperuser`.  When updating the doc with a login step, it should be clear what to enter to login.  Perhaps this is a bug in the login code and we want it to work with the e-mail instead of the username?

[2019-07-07 06:42] ChenglimEar commented on #107
It may be good to also update the test section and mention that `make test` will run the current set of tests.

[2019-07-29 17:04] theecrit commented on #107
Fixed w/ PR114

[2019-07-29 17:04] #107 closed, assigned to nobody

[2019-07-29 17:08] theecrit commented on #98
@TangoYankee Does this issue seem sufficiently detailed to relabel as `Ready`? If so, I'll update.

[2019-07-29 20:58] theecrit commented on #89
@TangoYankee @ifed3 If we end up moving to a React front-end, this issue would need to be closed and addressed as part of the larger design system, correct?

[2019-07-29 21:00] theecrit opened #122 "Explore shifting the tech stack to take a microservices approach"
**Is your feature request related to a problem? Please describe.**
Currently, the team is getting a lot of javascript/React developers who are interested in contributing. These folks often struggle with our tech stack, and it impacts retention. Additionally, tying the Django database directly into the front-end Zurb framework may cause scalability issues in the future [needs confirmation/clarifica

[2019-07-31 04:04] nbilenko commented on #117
This work is in progress at this [remote branch](https://github.com/openoakland/woeip/tree/nb-database-update).
A few additions were made to the schema above, please comment if you have any feedback!
* `Calibration.calibrated_at: datetime`
* `Collection.route: string` (can be blank for now)
* `CollectionFile.url => CollectionFile.file` (using the FileField will take advantage of django file handli

[2019-07-31 17:37] theecrit commented on #117
@nbilenko Looks good to me, thanks for the update!

Does this mean `Collection.route: string` requires a controlled vocab, and assumes a manual input from the user? (That would make sense to me, just want to ensure I address that dependency on the design side.)

[2019-08-10 16:40] TangoYankee commented on #117
@theecrit I'm reviewing the code. It looks like the route is user-inputted, optional, and independent from other fields. There is no control to the vocab and no real system need to control it. SGTM.

[2019-08-10 18:18] nbilenko commented on #117
Yes - we can add a controlled vocab later on, but for now this leaves route as an optional freetext field.

[2019-09-04 03:24] r-b-g-b opened #126 "As a developer, I want to know how to create the database manually if needed."
In some cases, developers may need to manually create the database when starting the site with
[code]

Currently, this issue has been observed by @nbilenko but wasn't reproducable by other devs. We'd like to run a few more installs to see if we can reproduce. If we can confirm this is an ongoing issue, we should set an entry point to create the database.

**Describe the solution you'd like**
As @n

[2019-09-04 16:56] theecrit commented on #122
Closing as addressed by PR125.

[2019-09-04 16:56] #122 closed, assigned to ifed3

[2019-09-04 21:00] #117 closed, assigned to nbilenko

[2019-09-11 16:54] theecrit opened #127 "[Enhancement] As a new contributor, I want to quicklly gain project context and know where to start"
**Is your feature request related to a problem? Please describe.**
When we revised the ReadMe to reflect the new system architecture, we moved all project context out of that file and into an about.md file. This link is somewhat hard to spot in the ReadMe, and subsequently new visitors may be unlikely to find it easily.

**Describe the solution you'd like**
Re-surface the most important informatio

[2019-09-17 21:05] theecrit opened #129 "As a user, I want to upload a pair of files via a file browse-and-select interface"
*Description*
I have a CSV and log file from a single session, and I’d like to upload them to the server as seamlessly as possible using a file browse-and-select model per the attached happy path prototype (below).

**Note:** this issue is a counterpart to #184. Whichever is complete first should serve as the basis for the other.

*Acceptance criteria*
- [x] Upload interface includes affordance fo

[2019-09-17 21:08] theecrit commented on #31
Closing as "won't fix": since tech stack moved front-end to React, this issue is now covered by #129.

[2019-09-17 21:12] theecrit opened #130 "As a data contributor, I want to store raw data sets safely in one place so their data can be used by the system"
**Description**
Currently, a WOEIP AQ data collection session (named collection in the database) is represented by a pair of CSV and GPS log files.  We want to store all files on a single cloud-based server in a way that is easily accessible to the system (ultimately designing the system so they’re accessible to WOEIP staff).

**Acceptance criteria**
- [x] ~S3 destination directory set up on AWS.~

[2019-09-17 21:15] theecrit commented on #98
Closing.

[2019-09-17 21:15] #98 closed, assigned to nobody

[2019-09-17 21:16] #31 closed, assigned to Ethan-bradley

[2019-09-17 21:21] theecrit opened #131 "As a user, I want to understand if the files I uploaded aren't correct in some way"
## Description
I would like the system to display visual feedback in real time that informs me if I've uploaded the wrong file type, too many files, etc—and how to correct the issue.

## Acceptance criteria
- [ ] Once user initiates upload, visual indicator remains in motion while upload is in progress.
  - [ ] API Upload endpoint: see #145 and #146
- [ ] If files are successfully uploaded, system

[2019-09-17 21:23] theecrit commented on #81
Closing as "won't fix" due to tech stack updates.

[2019-09-17 21:23] #81 closed, assigned to nbilenko, TangoYankee

[2019-09-17 21:26] theecrit opened #132 "As a user, I want to be able to correct inaccurate metadata in the files I just uploaded"
## Description
Once I’ve uploaded session files, I want to know that the information was loaded into the system correctly and be able to make changes before saving tot the database.

## Acceptance criteria
- [x] System should automatically extract certain relevant metadata from the dataFrame or staging table and display them back to the user for confirmation:
  - [x] ~Collection date~ _Delegated t

[2019-09-17 21:30] theecrit commented on #88
Closing as "won't fix" due to changes in tech stack. Now covered by issue #132.

[2019-09-17 21:30] #88 closed, assigned to nobody

[2019-09-17 21:31] theecrit commented on #90
Closing as "won't fix" due to changes in tech stack; now covered in issue #132.

[2019-09-17 21:31] #90 closed, assigned to TangoYankee

[2019-09-17 21:49] theecrit commented on #64
Closing as "won't fix" due to tech stack changes; now covered by issue #94.

[2019-09-17 21:49] #64 closed, assigned to theecrit

[2019-09-17 21:50] theecrit commented on #89
Closing as "won't fix" - will be covered by other issues TBD.

[2019-09-17 21:50] #89 closed, assigned to nobody

[2019-09-17 21:52] theecrit opened #133 "As a user, I want to locate and navigate to a specific session map"
## Description
The current assumption is that a user will be redirected to the map view of the data set they just uploaded from the Data Confirmation view. This doesn’t account for other uses cases:
As a data contributor, I want to view a specific data set I uploaded previously.
As a site visitor, I want to view a specific data set someone else uploaded.

## Acceptance criteria
- [ ] There’s an af

[2019-09-17 21:55] theecrit opened #134 "As a user, I’d like to be able to view a list of all available session maps in one place"
## Description
We want any user to be able to navigate to a view of all the maps, sorted by date.

## Acceptance criteria
- [ ] Clicking on a link in the global nav loads a view of all maps on an ordered grid.
- [ ] View is accessible to all users (authenticated and unauthenticated).
- [ ] Maps are arranged in reverse chronological order.
- [ ] Maps are organized by month.
- [ ] Grid displays map

[2019-09-17 22:39] theecrit opened #135 "As a user, I’d like to be able to navigate from one session map to another"
## Description
When I’m viewing a map from a particular session, I want to be able to view the map before or after it chronologically.

## Acceptance criteria
- [ ] "View a different day" date picker implemented per wire.
- [ ] "Other sessions from today" implemented per wire (only displays on days with multiple sessions).
- [ ] All open questions in Issue have been answered or moved into new Issu

[2019-09-17 22:44] theecrit opened #136 "When there is more than one mobile session collected on a single day, I want to know which one I’m viewing"
## Description
In some cases, there will be multiple mobile sessions collected on any given day. When I’m viewing any of these sessions, I want to understand where the current one I’m viewing is in the sequence. Additionally, when the system displays a multiple sessions (e.g. in a grid or list view), it should display them in correct reverse chronological order. This requires each session to have

[2019-09-18 03:16] r-b-g-b opened #137 "As a developer, I want an endpoint that returns geo-tagged pollutant data for a single session"
**Is your feature request related to a problem? Please describe.**
https://docs.google.com/document/d/1iGCEn3bd37aEJvZQFn6aI0h8mdcPaEzMpTt20h-i83Q/edit#heading=h.p7pm5qhtxvgn

Under the subsection, View session

**Describe the solution you'd like**
Return the pollutant value, lat/lon sufficient for displaying a map

**Testing Outline**
Test that a call returns a list of pollutant values and collec

[2019-09-18 03:22] r-b-g-b opened #138 "As a developer, I want a testing framework for the API"
**Describe the solution you'd like**
A testing framework for the API

**Technical Resources**
https://pytest-django.readthedocs.io/en/latest/

[2019-09-18 18:51] theecrit commented on #136
@nbilenko I'm wondering if this should be deleted, based on my Q in PR140:

[2019-09-18 19:02] #127 closed, assigned to theecrit

[2019-09-18 19:40] nbilenko commented on #136
That'll be a front-end issue - PR140 addresses the backend capability for providing the sequence number.

Question re:

Is this needed? We discussed that if the user isn't uploading the sessions in order, this might be confusing. Additionally, this would be technically challenging - the data isn't yet saved to the database during the metadata verification step, and so the sequence number won't be

[2019-09-18 20:18] theecrit commented on #136
Yeah, I think you're right — I'll remove those, and if we discover during MVP testing that the user needs affordance for sequence in the upload flow, we can revisit. I do think it matters in the View Maps view, but PR140 enables the backend functionality for that.

[2019-09-18 21:59] ifed3 opened #141 "Let's be consistent about using `'` vs `"` across the codebase. It looks like there are slightly more `'` so I would lean towards sticking to that for simplicity (and `"""` for docstrings), but no strong preference aside from consistency!"
Let's be consistent about using `'` vs `"` across the codebase. It looks like there are slightly more `'` so I would lean towards sticking to that for simplicity (and `"""` for docstrings), but no strong preference aside from consistency!

_Originally posted by @nbilenko in https://github.com/openoakland/woeip/pull/139_

[2019-09-18 22:00] #141 closed, assigned to nobody

[2019-09-18 22:00] ifed3 opened #142 "As a developer, I want a standard and automatic linting and formatting process for python files"
**Is your feature request related to a problem? Please describe.**
We currently require devs to manually perform linting checks on their machine before creating a PR. If a dev forgets, the build fails and a new commit is required to fix style errors.

Additionally devs have differing notions on what stylistic choices (singlequotes vs. doublequotes, tabs vs. spaces, single import vs. multiple impor

[2019-09-22 16:54] #137 closed, assigned to r-b-g-b

[2019-10-06 22:15] #142 closed, assigned to ifed3

[2019-10-09 05:37] nbilenko opened #145 "As a system, I want to process the uploaded files sent by POST request"
Backend complement of https://github.com/openoakland/woeip/issues/129

The upload endpoint should accept files passed by the frontend using a POST request, initialize a Collection with associated CollectionFiles, save files to cloud, and return either a success or an error.

**Acceptance criteria**
- [x] Collection is initialized based on `starts_at` and `ends_at` metadata fields passed by the fro

[2019-10-16 01:53] theecrit commented on #129
Update: currently waiting on upload API endpoint to wrap up: https://github.com/openoakland/woeip/issues/145

[2019-10-16 02:00] theecrit commented on #138
Now that we have some testing in progress, I'm closing this as adequately resolved.

[2019-10-16 02:00] #138 closed, assigned to nobody

[2019-10-22 22:34] theecrit commented on #130
Current estimate is <1GB data storage for MVP.

[2019-10-23 00:13] theecrit opened #147 "User account management UX"
## Description
In order to manage permissions and protect the integrity of the data uploaded to the system, we would like to create a user authentication process that covers the following potential use cases:

**MVP**
- As an anonymous user, I want to create a secure account associated with my personal identity at a logical/low-friction point in the user flow.
- As an account-holder, I want to rec

[2019-10-23 00:59] theecrit commented on #97
Rolled into #147

[2019-10-23 00:59] #97 closed, assigned to theecrit

[2019-10-23 02:02] r-b-g-b opened #148 "As a developer, I want to know how to use the API"
## Description
We should make it easy to find documentation containing the input and output format for each API endpoint. We'd like it to be automatically generated from code to minimize manual upkeep work.

## Acceptance criteria
- [ ] Input/output format for each API is clearly documented in one location (either this repo's wiki, or a Google Doc in the [*WOAQ > Engineering* folder](https://drive

[2019-10-23 02:39] r-b-g-b opened #149 "As a developer, I want to include static files when developing locally"
Currently the standard development mode of `docker-compose up --build` does not serve the static files for the API UI.

**To replicate**

[code]

And visit http://api.lvh.me No static files, very :(

**Describe the solution you'd like**
One fix is to add the static urls to the `woeip/api/woeip/urls.py` with the following:
[code]

This (plus running `collectstatic` from the `woaq-api` container) wo

[2019-10-23 05:21] r-b-g-b opened #150 "As a developer, I want to be able to create collections using the rest framework UI"
Our recent implementation of the collection upload API endpoint broke the collection creation from the built-in Django rest framework UI. This is useful functionality for testing and easy enough to add back.

**Replicate**
[code]
Add a collection file:
[code]
Visit http://api.lvh.me/admin/air_quality/collection/

Fill in the built-in HTML form:
- "starts_at": "2019-01-01T12:00:00"
- "ends_at": "20

[2019-10-30 01:35] nbilenko commented on #145
Closing via https://github.com/openoakland/woeip/pull/146

[2019-10-30 01:35] #145 closed, assigned to nbilenko

[2019-10-30 16:13] #150 closed, assigned to r-b-g-b

[2019-11-06 02:28] nbilenko commented on #59
Closing this issue b/c it's no longer relevant.

[2019-11-06 02:28] #59 closed, assigned to nbilenko

[2019-11-06 02:28] nbilenko commented on #74
Closing this issue b/c it's no longer relevant.

[2019-11-06 02:28] #74 closed, assigned to nbilenko

[2019-11-06 02:29] nbilenko commented on #58
Closing this issue b/c it's no longer relevant.

[2019-11-06 02:29] #58 closed, assigned to nobody

[2019-11-06 07:01] nbilenko commented on #136
Sequence is now exposed as an API call `/collection/<id>/sequence` via https://github.com/openoakland/woeip/pull/152

[2019-11-06 20:48] r-b-g-b commented on #149
Don't have time to read these at the moment, but could have some useful bits:

- https://testdriven.io/blog/dockerizing-django-with-postgres-gunicorn-and-nginx/
- https://medium.com/faun/tech-edition-django-dockerization-with-bells-and-whistles-and-a-tad-bit-of-cleverness-2b5d1b57e289

[2019-11-12 02:30] r-b-g-b opened #153 "Collection upload endpoint creates two collections"
It looks like a single call to the collection API endpoint creates two collections.

**To Reproduce**
Steps to reproduce the behavior:
1. `docker system prune --volumes` or `python manage.py flush` to start from an empty database.
2. `docker-compose up --build` to start everything.
3. Create a new collection using the admin interfact, API interface or calling
[code]
4. Observe that 2 collection ob

[2019-11-12 02:38] r-b-g-b commented on #153
One potential solution is to remove the call to `super().create` and replace https://github.com/openoakland/woeip/blob/2f808073cdaa37980483a24dd1abd89d72639d2a/api/woeip/apps/air_quality/serializers.py#L76

with `return collection` to return the previously created collection. Not sure if there are other important things that happen in `super().create`.

[2019-11-13 04:03] jayqi commented on #148
This appears to be currently-maintained main way people autogenerate API documentation for Django REST Framework.

https://github.com/axnsan12/drf-yasg

The readme makes it seem like it should be reasonably straightforward to implement.

[2019-11-13 04:34] jayqi commented on #148
I'm taking a crack at this right now.

[2019-11-13 05:47] theecrit commented on #130
@r-b-g-b @nbilenko Created **open-oakland-woaq**, but I'm now thinking we should store raw data files separately from any other objects that may end up here, and that it should be named semantically to be really clear (i.e. **open-oakland-woaq-raw-data-archives**). Thoughts?

Also, I think we should move the following section of the issue to a dedicated ticket:

[2019-11-14 06:04] r-b-g-b opened #154 "As a developer, I want to know the sequence of API calls needed to upload a new collection"
@nbilenko and I have started discussing the sequence of API calls that the front end developers need to implement in order to perform a complete upload of a new data collection. This is just an attempt to write it all down and start hashing out the details. Here is one version of how it can go. We don't need to worry too much about what is supported by the API currently -- even this version will r

[2019-11-15 01:48] theecrit commented on #136
@nbilenko Can we safely close this, given #152 is now merged? These criteria are still open, so I'm not clear if there's more work to be done:

[2019-11-15 05:08] jayqi commented on #149
Read a bunch about this. I think ultimately the directions here are going to be most relevant because it's specifically about serving static files with jwilder/nginx-proxy: https://stackoverflow.com/questions/54571819/serving-static-files-from-jwilder-nginx-proxy

This article from the Django docs is also helpful just about the general topic of Django and static files: https://docs.djangoproject.c

[2019-11-15 06:05] jayqi commented on #149
I got it all to work! Need permissions to push my branch though.

<img width="600" alt="Screen Shot 2019-11-14 at 10 04 58 PM" src="https://user-images.githubusercontent.com/2721979/68920696-e201a180-072a-11ea-9cd4-5a719d85357e.png">

[2019-11-15 07:56] nbilenko commented on #136
#152 completed the backend part of this issue, but I didn't close this since the frontend hasn't been implemented yet. I'd alternatively be fine with closing the issue and having a new issue for the frontend (that separation would probably make sense in general) - what do you think @theecrit?

[2019-11-18 17:51] theecrit opened #156 "As a user, I want to know certain details about the session whose map I'm viewing."
## Description
Issue #159 creates the ability to view a single session's data on a map. As a user viewing this map, I'd like to be able to see additional info about the session alongside the map itself.

## Acceptance criteria
- [ ] Metadata appears alongside map in a single view. This issue covers only the following metadata items:
 - [x] Session date
 - [x] Session sequence number (see #136; nee

[2019-11-18 17:53] theecrit commented on #136
@nbilenko Yeah, since the front-end piece has a dependency on the View Session Map view, I think we should close this and address the front-end display as part of a single issue addressing the various session metadata components we want to display next to a session map (see #156).

[2019-11-18 17:53] #136 closed, assigned to nbilenko

[2019-11-20 04:00] theecrit opened #158 "As the database, I want to be able to ingest Truck Tracker data"
## Description

We want to create a new table in the database to accommodate the data coming from [Trucker Tracker](https://github.com/WOEIP/truck-tracker), a [stand-alone app](http://www.trucktracker.net) built for our partner, WOEIP, that allows West Oaklanders to report truck activity in their neighborhood. Truck Tracker will send its data to our database so it can be seen together with the AQ

[2019-11-20 04:16] motching opened #159 "Map display component"
## Description
Once I’ve uploaded  single CSV/GPS log pair and have confirmed the data ingested by the system is accurate, I want to be redirected to a map view of the data set.

## Acceptance criteria
- [x] Map is defaulted to be zoomed into appropriate scale to view full route at once.
- [x] User can zoom in/out and move location on the map.
- [x] Data points are displayed as dots on their assoc

[2019-11-20 04:18] #149 closed, assigned to nobody

[2019-11-21 01:00] #148 closed, assigned to jayqi

[2019-11-23 22:16] r-b-g-b commented on #158
I don't have a detailed understanding of the TruckTracker data, but here goes... An observation is defined as:
- [ ] What type of polluter (AC bus, 2 axle, 3 axle, bobtail, etc)
- [ ] Observation time
- [ ] Observation location
- [ ] User
- [ ] Upload time

I propose two new tables:
- [ ] `Polluter`
  - `name`: str, e.g., "2-axle", "bobtail"
  - `description`: str, e.g., "A semi-truck with two axl

[2019-11-25 03:16] motching commented on #158
@r-b-g-b thanks for picking this up! My comments and questions:

== General ==
 * My understanding is that it's good practice to have an `id`column in every table as a unique primary key.
* How easy is it to change tables later, i.e. should we futureproof the schema or we can do DB version bumps, migrations when we want?

== Polluter ==
 * If we name the table `Polluter` and not `Truck`, I think w

[2019-11-27 01:55] theecrit commented on #158
Thanks for starting to unpack this. Before we problem-solve this particular data set, though, I think it would be good to have a defined approach to solving for new additions in general. My suggestion:

1. First identify the data points that exist for the new set.
2. Map data points to existing tables where possible.
3. Identify the gaps and either adjust or add tables as appropriate.

So we have

[2019-11-27 03:23] theecrit opened #164 "As a developer, I want to know how to access the API endpoints documented via Swagger"
## Description
Thanks to @jayqi's efforts on #148 and #160, we now have auto-generated API documentation. We want to make sure the contributing.md doc points developers to this resource.

**Describe the solution you'd like**
Add a link to the API docs to contributing.md and/or readme.md

[2019-12-04 03:14] motching commented on #159
As far as I understand, Luke is working on this now. I'll stay assigned to keep an eye on it so I can adjust my map according to what I learn here. :)

[2019-12-05 22:05] lukehtravis commented on #159
Got a basic map up on the ia/start-interface-branch ... Next step is to find out how to get mock data into the database so I can use it to develop map overlays

[2019-12-08 21:22] theecrit commented on #131
Added new v5 wires and revised acceptance criteria to reflect them. Once approved, we can change label from "needs definition" to "ready" and move it into the *Prioritized & Ready to Work On* column.

[2020-01-08 04:14] jayqi opened #165 "Create job queue for processing uploaded data to store time geo and pollution records"
(This was actually opened by @ifed3)

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solution

[2020-01-08 06:58] jayqi commented on #165
@ifed3 don't forget to finish writing this up

[2020-01-08 07:08] jayqi opened #166 "As a developer, I want to populate the database with data for development"
**Is your feature request related to a problem? Please describe.**

@lukehtravis is developing a frontend map component for #159, and he needs some data in his local development database to render. We need a a straightforward, documented procedure to populate data.

**Describe the solution you'd like**

Current proposed solution is to use the factory classes in `woeip.apps.air_quality.tests.factor

[2020-01-15 03:25] jayqi opened #168 "Codecov automated coverage reporting not working"
**Describe the bug**

We are using the Codecov service to automatically report test coverage. Unfortunately, this integration is currently broken. The following is the relevant log snippet from our [most recent Travis build](https://travis-ci.org/openoakland/woeip/jobs/634626061):

[code]

[2020-01-15 04:18] r-b-g-b opened #170 "As as developer, I want to request a subset of pollutant values"
Most times, the user will want to view a subset of the entire dataset. Just spit-balling, but things like return all data points from a:
- date or date range (2018-01-01 12:00:00 to 2018-01-02 12:00:00)
- user
- pollutant type (PM2.5)
- etc.

I realize this is a pretty vague issue, but thought it would be good to get the discussion going. The discussion I imagine involves first deciding on which o

[2020-01-15 06:14] jayqi opened #171 "As a developer, I would like APIs to provide data in GeoJSON format"
**Is your feature request related to a problem? Please describe.**

[GeoJSON](https://geojson.org/) is a widely-used format standard for encoding GIS data. Many GIS and mapping libraries natively handle GeoJSON data. For example, [`geojson` is a data type that Mapbox GL JS natively understands](https://docs.mapbox.com/mapbox-gl-js/example/geojson-markers/).

**Describe the solution you'd like**

C

[2020-01-15 06:20] jayqi commented on #171
@lukehtravis FYI: I think this would make #159 easier. Thoughts?

[2020-01-15 06:33] jayqi opened #172 "As a developer, I would like to *not* see APIs that I'm never expected to use"
**Is your feature request related to a problem? Please describe.**

Currently, the WOAP API has the full complement of endpoints for each model. However, there are probably endpoints that we will not expect anyone to ever use. For example, is there a use case to ever create TimeGeo objects directly via API rather than via uploading a Collection file?

Less is more. It would be easier for developer

[2020-01-15 18:20] theecrit commented on #172
@r-b-g-b @nbilenko I know you two put your heads together when creating the initial end points and we had also documented end point requirements across a couple of different issues based on contextual front-end requirements. Can you share your thoughts on @jayqi's suggestion here?

I think it's definitely worth more formally documenting functionally necessary end points. I do think that process sh

[2020-01-17 17:31] theecrit commented on #170
Definitely agree that it's worth having a discussion about which endpoints are necessary, which are nice-to-haves, etc. Since those decisions need to be informed by what we want to do with the data, it's a conversation that needs to happen collaboratively with WOEIP. I've chatted with Brian, and we both agree it would be good to get the team together in the next 2-3 weeks. I see us doing a generat

[2020-01-17 17:39] theecrit opened #174 "Update Django to 2.2.9 or later"
**Describe the bug**
Our version of Django is not the most current version, and therefore is less secure. More [here](https://github.com/advisories/GHSA-vfq6-hq5r-27r6).

**Acceptance criteria**
-[ ] Identify and rectify any dependencies
-[ ] Upgrade to Django 2.2.9 or later
-[ ] Update any relevant documentation

[2020-01-21 07:58] #174 closed, assigned to nobody

[2020-01-21 08:00] #168 closed, assigned to jayqi

[2020-01-22 03:35] theecrit opened #176 "When I upload a data set, I want the system to automatically check for duplicates"
**Is your feature request related to a problem? Please describe.**
There may be cases when a volunteer accidentally tries to upload data that's already been uploaded. This would cause duplicate data to be added to the database, which would increase resource load unnecessarily and may pose issues with data cleanliness.

**Describe the solution you'd like**
There should be a way for the system to re

[2020-01-22 04:45] ifed3 commented on #170
Others from suggestion from chatting today:
- date filter -> two date pickers of last 30 days
- pollution type
- collected by me (only visible if signed in)

[2020-01-22 04:54] jayqi commented on #166
This is resolved by #167.

[2020-01-22 04:54] #166 closed, assigned to jayqi

[2020-01-22 20:57] theecrit commented on #129
Updated wireframes based on more recent development decisions captured here: https://github.com/openoakland/woeip/issues/132

[2020-01-22 20:58] theecrit commented on #129
@ifed3 Also, does this issue need to be updated with any other changes/progress?

[2020-01-22 21:05] theecrit commented on #154
Related: https://github.com/openoakland/woeip/issues/132

[2020-01-23 03:16] #165 closed, assigned to nobody

[2020-02-05 02:44] theecrit commented on #129
Added data flow diagram per 12/8/19 developer discussion.

[2020-02-05 02:52] theecrit commented on #154
~Meeting is set for **Thursday, Tues. Feb 6, 2020** from 5:30-6:30pm:~

Rescheduling to accommodate more folks.

[2020-02-05 02:57] theecrit commented on #94
Closing as dupe of #159

[2020-02-05 02:57] #94 closed, assigned to theecrit

[2020-02-05 04:40] theecrit commented on #159
This issue is a duplicate of the original (#94), so I've moved that issue's content into this one and closed 94.

[2020-02-07 19:08] theecrit commented on #129
@ifed3 Ask and ye shall receive. Prototype links have been added — let me know if you run into any other questions.

[2020-02-07 19:34] theecrit commented on #131
Added prototypes and clarified description slightly.

[2020-02-19 03:24] jayqi opened #183 "Travis CI builds sometimes fail on frontend due to memory issue."
**Describe the bug**

The `woaq-web` service (frontend) CI build sometimes fails due to an error with `razzle build`. It appears to be an out-of-memory issue. This can cause PR builds to fail, even if they are unrelated to `woaq-web`.

This is something @ifed3 has known about for a while, but capturing it in an issue for documentation.

Log snippet:

[code]

Example build:
https://travis-ci.org/op

[2020-02-19 03:25] jayqi commented on #183
#180 to switch to GitHub Actions is potentially a solution to this problem.

[2020-02-26 04:44] #153 closed, assigned to r-b-g-b, nbilenko

[2020-02-26 04:49] #126 closed, assigned to nobody

[2020-03-04 04:13] jayqi commented on #154
So per the changes from #181, there is only a single API call to do all of the necessary entity creation and processing in the backend.

What I think is perhaps a simpler flow vs. the top comment: Steps 1-3 send the files to the backend, then Step 8 does the join. I think that is enough to get us through development of #129.

Steps 4-7 can be a separate thing after Step 8 is already done.

[2020-03-11 02:07] theecrit opened #184 "As a user, I want to upload a pair of files via a drag-and-drop interface"
*Description*
I have a CSV and log file from a single session, and I’d like to upload them to the server as seamlessly as possible via a drag-and-drop model.

**Note:** this issue is a counterpart to #129. Whichever is complete first should serve as the basis for the other.

*Acceptance criteria*
- [x] Upload interface includes affordance for drag-and-drop per the attached prototype.
- [x] User ca

[2020-03-18 04:43] jayqi commented on #147
I'm starting on implementing the basic roles and permissions for MVP.

My current thoughts are:

- Use the [DjangoModelPermissionsOrAnonReadOnly](https://www.django-rest-framework.org/api-guide/permissions/#djangomodelpermissionsoranonreadonly) DRF permissions setting
- Create Django [Group](https://docs.djangoproject.com/en/3.0/ref/contrib/auth/#django.contrib.auth.models.Group) objects for each

[2020-04-01 02:40] jayqi opened #186 "Update /pollutant_value to return structured time_geo"
**Is your feature request related to a problem? Please describe.**

Currently the `/pollutant_values` endpoint returns the timestamp and geolocation of observation as a string formatted like `"2020-02-10 11:15:24 (37.803838, -122.272514)"`. This is not ideal as consumers have to do string parsing to grab the timestamp and location.

**Describe the solution you'd like**

Instead, the endpoint shoul

[2020-04-01 02:48] jayqi opened #187 "Standardize and document latitude, longitude coordinate format"
Currently there is not clear documentation and guardrails on lattitude, longitude coordinate ordering.

- The `python manage.py generate_data` script currently uses `(lat, lon)`.
- Dustrak parsing does `(lon, lat)`
  - https://github.com/openoakland/woeip/blob/master/api/woeip/apps/air_quality/dustrak.py#L265

The more common standard is to do `(lon, lat)` to be equivalent to `(x, y)`.

- The Djan

[2020-04-01 03:03] jayqi commented on #187
To fix `python manage.py generate_data`:

The main script is here: https://github.com/openoakland/woeip/blob/master/api/woeip/apps/air_quality/management/commands/generate_data.py

But it uses factories to create the objects here: https://github.com/openoakland/woeip/blob/master/api/woeip/apps/air_quality/tests/factories.py

[2020-04-01 03:12] nbilenko opened #188 "Ingest elevation data if available"
**Is your feature request related to a problem? Please describe.**
Currently only latitude and longitude are processed from GPS data and not elevation (optional).

**Describe the solution you'd like**
Modify `dustrak.py` code and `TimeGeo` serializer to process elevation if needed.

**Describe alternatives you've considered**
Isn't necessary if elevation isn't used, but may be needed for some data

[2020-04-01 18:41] TangoYankee commented on #187
GeoJSON [RFC 7946 spec](https://tools.ietf.org/html/rfc7946)

While Django does not seem opintionated on Point (x, y) being (lon, lat), [PostGIS](https://postgis.net/docs/ST_Point.html) is.

Dustrak.py follows this when saving the point to the database. However, it often flips the order when documenting and organizing the code.

To help ease this confusion, I'd like to update this ordering. It won

[2020-04-01 21:00] TangoYankee opened #190 "Update pull request and testing instructions"
**Describe the bug**
- The pull request template instructions to execute tests are outdated.
  - They rely on `make local.shell` to enter the docker environment
  - Should read: 1. `docker-compose exec api /bin/bash` 2. `make test`
  - Should include instructions for jest tests
- [Testing Section](https://github.com/openoakland/woeip/blob/master/.github/contributing.md#testing) of contributing doc

[2020-04-01 23:28] nbilenko commented on #186
Other potential structures discussed:
[code]
or
[code]

[2020-04-09 17:20] TangoYankee opened #193 "As a developer, I would like to consider options for the tool used to make HTTP requests"
**Is your feature request related to a problem? Please describe.**
The React Front End uses the built-in [`fetch`](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API) to make http requests to the Django API. `Fetch` provides a relatively low level interface. It may require several abstractions into custom modules as the front end grows.

**Describe the solution you'd like**
Rather than cre

[2020-04-13 21:54] #187 closed, assigned to TangoYankee

[2020-04-15 01:59] #183 closed, assigned to nobody

[2020-04-15 02:03] TangoYankee commented on #193
From the discussion with @ifed3, Fetch had the advantage of being built in. This was helpful to isolate the memory issue with the Travis Integrations. Now that the tests are passing, we can attempt to use axios while keeping an eye on the Travis checks.

[2020-04-16 17:09] TangoYankee opened #196 "Front end tests: memory issues, config warnings, and reference errors"
1. Memory Issue
    - From running `npm test`
    - `Error: watch /home/millertim108/woeip/web ENOSPC`
    - ENOSPC -> no space left on device
    - Another warning associated with the error `--watch is not supported without git/hg, please use --watchAll `
    - Investigating that error brought me to this [Create-React-App-Typescript Issue](https://github.com/wmonk/create-react-app-typescript/issu

[2020-04-18 19:03] joshling1919 commented on #129
Using https://www.figma.com/file/YJGrbzkh0dei32uAH3Q5m3/WOAQ-Data-Flow?node-id=165%3A247 instead of the "Prototype: happy path" mentioned in the issue.

[2020-04-22 01:54] theecrit opened #199 "As a user, I need a way to recover if I forgot my email or username when signing in."
## Description
As a user, I need a way to recover if I forgot my email or username when signing in. This should likely be a simple, clear, visible but non-intrusive prompt during the sign-in flow (e.g. "Forgot which email you used?" or "Forgot your email or password?").

## Acceptance criteria
- [ ] Messaging has been stress-tested for clarity.
- [ ] Design implementation affords for recovery of a

[2020-04-22 20:19] #193 closed, assigned to TangoYankee

[2020-04-22 20:40] #190 closed, assigned to nobody

[2020-04-23 02:04] TangoYankee opened #201 "As a developer, I want to expand my ability to test React"
**Is your feature request related to a problem? Please describe.**
The Jest Documentation indicates testing React can be facilitated by additional modules.

**Describe the solution you'd like**
[React Testing Libary](https://testing-library.com/docs/intro)
&
~~[react-test-renderer](https://www.npmjs.com/package/react-test-renderer)~~
React Testing Library seems to [support rendering](https://testi

[2020-04-25 23:14] joshling1919 commented on #196
@TangoYankee looks like we can pass in "dev" and "whitelisted modules" to resolve the TSLint errors. Since we've now resolved aliases with tslint and testing, let's stay with aliased paths for now since it can make refactoring a lot more straightforward (especially since we seem to have to import `styled` from 'src/theme` pretty often).

[2020-04-27 02:01] #196 closed, assigned to TangoYankee

[2020-04-27 02:02] #201 closed, assigned to TangoYankee

[2020-04-29 03:40] joshling1919 opened #205 "Un-nest the files object"
**Is your feature request related to a problem? Please describe.**
It's currently kind of difficult to upload the collection files due to how the API endpoint expects the file to be nested under an object. Here's a good example of how the API currently expects the data to come in:

https://github.com/openoakland/woeip/blob/edf2a65706ede90733d51305cfd1b29f66795568/api/woeip/apps/air_quality/tests/t

[2020-04-29 20:41] Ajay-Vishwanath opened #206 "As a user, I want to confirm session details after uploading my pair of files before saving them to the database."
_Description_

I have submitted my log and CSV files from a single session, and I'd like to confirm the details concerning collection date, start time, and collection device before sending that information to the server.

_Acceptance Criteria_

- [ ] User can change ~each respective field~ device name per the design prototype
- ~[ ] User interface includes the calendar and time select components~

[2020-04-29 21:04] #184 closed, assigned to nobody

[2020-04-29 21:11] TangoYankee commented on #205
Related: #154

[2020-04-29 21:13] TangoYankee commented on #206
Related #132 Correct Inaccurate MetaData

[2020-04-29 23:40] TangoYankee commented on #205
~~I would prefer the post request to match what the API already expects. Changing the endpoints may lead to additional changes needed downstream in the API. However, I understand the diminishing returns of chasing the post request.~~

Nah, you right. All the documentation and best practices for FormData indicates that the files should all be on the top level.

Though, I do think looking for `dustr

[2020-04-29 23:49] #164 closed, assigned to TangoYankee

[2020-04-30 00:39] TangoYankee commented on #206
@theecrit I'm not sure whether this has been mentioned in the past- the `start` and `end times` are used as parameters of the `Collection` rather than the `Pollutant`. The pollutants will use the times listed in the files, regardless of what the user inputs. This is actually a good thing. The users will not have as accurate an idea of the start time as the files do and it's important that the time

[2020-04-30 00:53] TangoYankee opened #208 "Date & Time validation utility in front end for upload function"
**Is your feature request related to a problem? Please describe.**
Delegated from Issue #132.
The API will only accept hits to the collections endpoint that have all the required fields, including start and end time. The front end is also expected to check whether the times from both files match.

**Describe the solution you'd like**
I would like functions in the front end that partially parse the

[2020-04-30 16:51] theecrit commented on #208
(Attached the database schema to the issue above.)

I think this was the intended solution when we initially discussed the definition of a session, though we didn't define the time window for matching. I think 10 minutes is too long based on the use case. Data collectors turn both devices on at approximately the same time, and I think a 2-minute window may be more realistic. Then we can extract ea

[2020-04-30 17:02] theecrit commented on #206
@Ajay-Vishwanath This is duplicate of #132, not just related — since 132 is more detailed, I'm going to close this one and reassign 132 to you.

@TangoYankee Two things:

Yep, this is a good catch. One possible solution is to make the field not editable, and include some help text to the effect of "Wrong date or time? You may have uploaded the wrong file. <ins>Try again</ins>." I'll run this by Ni

[2020-04-30 17:44] theecrit commented on #147
@jayqi Just want to confirm that this is on hold until we finalize some of the design considerations, correct? I'm moving into `In Progress` regardless, given that we're actively working on those flows.

[2020-04-30 18:03] TangoYankee commented on #206
@theecrit you are correct. In my original comment, `Pollutant` should read `TimeGeo` referenced by `PollutantValue`. The database hasn't been changed but I believe the quirk still remains.

[2020-04-30 18:08] theecrit opened #209 "The system needs a way to indicate which data has been reviewed and found to be clean."
## Description
One of the long-term use cases for the database is to store data that's been collected according to WOEIP's specific data collection requirements. For example, they may conduct a formal, grant-funded study in which certain collection requirements must be met to ensure clean data.

Per the [most recent data flow diagram](https://drive.google.com/drive/folders/16QblNdanx4DG1SzeeX_AnoA

[2020-04-30 18:22] theecrit opened #210 "As an Org Host user, I want to discover, review, clean, and approve uploaded data."
## Description
One of the long-term use cases for the database is to store data that's been collected according to WOEIP's specific data collection requirements. For example, they may conduct a formal, grant-funded study in which certain collection requirements must be met to ensure clean data.

Per the [data flow diagram](https://drive.google.com/file/d/1oCfbhN_KG6E-0KgR9B6o9j1OOTmS9StO/view?usp=

[2020-04-30 21:19] TangoYankee commented on #209
- It seems we're converging on the "staging table" existing as a Form or Object in the front end. This will be flushed automatically when the data is sent to the backend.

- I think the flag should exist in the `Collection` model as a field labeled `validated_at`. It will be `null` for unvalidated data and contain a `datetime` when it is validated.

[2020-04-30 21:26] TangoYankee commented on #132
- Delegated to issue #208

[2020-04-30 21:39] TangoYankee commented on #132
As discussed in this [Slack Thread](https://app.slack.com/client/T02FEGG84/C95U7371C/thread/C95U7371C-1588203857.255500) (see [contributing doc](https://github.com/openoakland/woeip#contact) for authorization to view), the front end will be able to use [FormData](https://developer.mozilla.org/en-US/docs/Web/API/FormData) or another Object to fulfill these design requirements better than a [SQL Sta

[2020-04-30 21:59] TangoYankee commented on #208
Depends on the file.
- The [GPS file](https://github.com/openoakland/woeip/blob/master/api/woeip/apps/air_quality/tests/data/gps.log) lists timestamps for each geo point taken. They're in the lines marked [ $GPRMC](http://aprs.gids.nl/nmea/#rmc).
- The [dustrak file](https://github.com/openoakland/woeip/blob/master/api/woeip/apps/air_quality/tests/data/dustrak.csv) only lists the time once and the

[2020-04-30 22:07] theecrit commented on #132
Updated issue description to reflect this.

[2020-04-30 22:16] theecrit commented on #209
It's not the `Collection` being validated, though. The validation is that the `TimeGeo` and `PollutantValue` pairs are accurate. So I'm not sure which table the field should live in. Maybe `CollectionFile`? The end use case is when the user is viewing a map and needs to view "only validated data," "only unvalidated data," or "all data."

So my two questions are specifically:

1. Which table should

[2020-04-30 22:23] theecrit commented on #208
I see; that makes sense to me. As far as this being bespoke to these particular files, I think it's worth worrying about that once we're in a position to ingest other data.

The most likely "next data type" to ingest will be Truck Tracker data, just FYI.

[2020-04-30 22:35] TangoYankee commented on #209
1. My concern is that there could be hundreds or thousands of `PollutionValues` per `Collection`
2. SQL [Where IS (NOT) NULL](https://www.w3schools.com/sql/sql_null_values.asp) should do the trick for all our needs.

[2020-04-30 23:04] theecrit commented on #209
1. An understandable concern. So if the Org Host user validates per `Collection`, then how does the system query, say, only validated data ranging across a series of Collections? In other words, the Collection concept is finite (a short span of data from one session), likely only to be viewed right after a Project Contributor uploads their session data. More often, users will be viewing a map that

[2020-05-01 00:03] TangoYankee commented on #209
1. Yeah, that's basically how it works. Fortunately, SQL is designed to perform those operations quickly and in one [JOIN](https://www.w3schools.com/sql/sql_join_inner.asp) command.
2. The parentheses indicate two separate commands- one using `NULL` and another using `NOT NULL`. If you wanted all the values, you would omit the filter altogether. The back end chooses which filter to apply based on

[2020-05-01 03:45] joshling1919 commented on #205
sure thing! btw, is there an easy way to test django locally?

[2020-05-01 03:49] TangoYankee commented on #205
Will this do? [Testing](https://github.com/openoakland/woeip/blob/master/.github/contributing.md#testing)

[2020-05-01 04:59] TangoYankee opened #211 "Remove Item Triggered on Load of Page"
**Describe the bug**
The remove item function is triggered every time the upload [component renders](https://upmostly.com/tutorials/react-onclick-event-handling-with-examples). It currently reads:
[`<IconButton icon={true} onClick={removeItem(i)}>`](https://github.com/openoakland/woeip/blob/081ca917b25e1244eb86ceb901134b70d1f9ed7a/web/src/components/Upload/index.tsx#L176)
It should read:  ~~`<Icon

[2020-05-01 05:25] joshling1919 commented on #211
good catch/optimization! we should probably avoid calling splice on `files` since that mutates the state, but removing the returned callback sounds good to me.

[2020-05-02 21:40] theecrit opened #212 "As a content author and/or developer, I want a straightforward way to manage text strings throughout the experience."
## Description

As we build out the user interface, we'll be managing an increasingly large set of interface copy strings. I'd like a systematic way to manage these strings both in the codebase and externally during the authoring process.

## Potential solution
We probably don't have enough quantity to justify a full-blown (headless) CMS-type solution for managing interface copy, but we should ide

[2020-05-04 16:34] TangoYankee commented on #211
There is also a warning from `innerRef` being deprecated. I'd like to include that in this fix.

[2020-05-05 18:33] TangoYankee opened #216 "Check type of file"
**Is your feature request related to a problem? Please describe.**
Checks for the type of file rely on the type of file being in the name. ie a `dustrak` file will have `dustrack` in the name. This check is prone to the file being renamed. I would like a more robust pair of checks.

**Describe the solution you'd like**
The type of file is listed as part of the metadata. Additionally, the content o

[2020-05-05 18:34] #211 closed, assigned to TangoYankee

[2020-05-06 20:45] theecrit commented on #131
@joshling1919 @jayqi Does it make sense to assign this to one of you and move it into "In Progress"? (I don't recall who was specifically working on confirmations.) This has some accessibility requirements that might be worth a review, too.

[2020-05-06 20:48] theecrit commented on #216
@TangoYankee Does this still need definition or can we move it into `Ready`?

[2020-05-06 21:03] #206 closed, assigned to Ajay-Vishwanath

[2020-05-06 21:10] theecrit opened #217 "As a user, I want appropriate feedback if I upload a pair of files whose dates match but start times don't"
## Description
Per team decision on 5/5/2020, if I upload a pair of files whose dates match but start times don't, I will get a generic error message and my files won't upload. I'd like to get more specific feedback that includes what's gone wrong and how to fix it.

## Acceptance criteria
- [ ] Error flow options have been sufficiently explored and reviewed by team.
- [ ] Final error behavior, fi

[2020-05-07 00:46] TangoYankee commented on #216
I'm good with calling it ready is @nbilenko is

[2020-05-07 18:50] joshling1919 commented on #131
@theecrit I think the the PR (https://github.com/openoakland/woeip/pull/214) that @TangoYankee is working on addresses this issue!

[2020-05-07 20:25] #216 closed, assigned to nobody

[2020-05-12 00:42] Ajay-Vishwanath opened #219 "Passing uploaded files and data between upload and confirmation pages on the frontend before API call."
**Is your feature request related to a problem? Please describe.**
Part of Issue #132.
The upload page will pass the uploaded files and parsed data to the confirmation page which will eventually make the post request with the updated data to the endpoint.

**Describe the solution you'd like**
I would like the FormData object to be passed from the upload page to the confirm-upload page when the use

[2020-05-15 21:41] TangoYankee commented on #219
Could we combine the `Upload` and `Confirmation` pages onto one route/url path? We would render one or the other sets of components based on some state that's derived from the validation step. Ie) The `upload button` is shown only when there is no error message. We would change it so that the `Confirmation components` are shown when there is no error message.

It would look like two separate pages

[2020-05-20 04:18] joshling1919 commented on #219
@TangoYankee That idea sounds good to me!

If you ever did end up wanting to separate them into two routes, something like `useContext` (https://medium.com/@seantheurgel/react-hooks-as-state-management-usecontext-useeffect-usereducer-a75472a862fe) might be a good choice as a lightweight alternative to redux.

[2020-05-20 17:59] theecrit commented on #219
Are there dependencies between this issue and #209, which outlines the unvalidated data flagging process?

[2020-05-20 20:14] TangoYankee opened #221 "Dustrak and GPS File names: Refactor Front End"
High-level comment - sometimes the files are distinguished using terms 'csv' and 'log' (like here) and sometimes 'gps' and 'dustrak' (elsewhere). It would be better to use the same naming scheme and make it fairly use case agnostic (e.g. 'gps'/'sensor' or 'location'/'sensor').

_Originally posted by @nbilenko in https://github.com/openoakland/woeip/pull/214_

Proposed Solution:
[Use GPS and Dustra

[2020-05-20 20:17] TangoYankee opened #222 "Reset files state only on success: Front End Upload"
this is unrelated to your PR, but it just occurred to me that we should probably move `setFiles([])` that's currently on line 154 to inside the success `then` block so that we don't clear their files until it has successfully hit the API. I'm sure lots will change soon with the upload logic, but just wanted to note that.

_Originally posted by @joshling1919 in https://github.com/openoakland/woeip/

[2020-05-20 20:19] #131 closed, assigned to TangoYankee

[2020-05-20 20:19] #208 closed, assigned to TangoYankee

[2020-05-20 20:29] TangoYankee commented on #219
There are two stages of checking the files. The first is a front end check that the correct files were dropped onto the page and their times match. The second is a backend check where someone manually reviews the data and flips a `flag` in the database. Issue #209 touches on both these aspects of file checking/validating. This issue (#219) depends on the front end checks but is independent of the

[2020-05-20 21:31] theecrit commented on #221
Language will necessarily vary based on context but yes, definitions and usage should be consistent. For example:

**Definitions:**
- _Device:_ The term for a physical unit used to collect data.
  - Instantiation: Make + Model (e.g. DustTrak II 8530, AMOD AGL3080)
- _Sensor:_ The term for a physical _part_ of a device used to collect _a specific type_ of data.
 - Instantiation: Varies; on single-s

[2020-05-20 21:34] theecrit commented on #221
If folks feel the above is practical, I'll document it more permanently somewhere.

[2020-05-20 22:05] Ajay-Vishwanath commented on #219
Thanks for this resource @joshling1919! @TangoYankee - this seems like a more lightweight way of passing state between the two components and could allow us to have separate routes for upload and confirmation (i.e /upload and /confirm-upload pages). Do we want to keep these two pages separate or under one url? @theecrit any thoughts here?

[2020-05-26 16:23] TangoYankee commented on #219
@Ajay-Vishwanath Whatever you feel most comfortable with implementing

[2020-06-10 00:16] theecrit commented on #222
@TangoYankee Could you rewrite this issue so it's able to be picked up by someone with relatively little project context? Maybe something like current situation > what needs to change/why > any necessary documentation and/or relevant dependencies?

[2020-06-10 00:16] theecrit commented on #222
Also, should this be considered MVP?

[2020-06-10 01:54] theecrit commented on #219
Are there compelling pros/cons for either? Any use case for eventually needing to link to the confirmation page specifically? (I don't think that's likely.)

Having the two URLs could help reinforce/communicate progress to the user, so perhaps that's enough reason to differentiate.

[2020-06-10 02:32] theecrit opened #227 "Investigate (and potentially implement) a 2-route path for upload confirmation"
**Is your feature request related to a problem? Please describe.**
Currently, we combine the Upload and Confirmation pages onto one route/url path. There may be a use case where the user is trying to navigate back to the confirmation or upload page [@TangoYankee can you edit this if I've got it wrong?], and having two routes (e.g. /upload and /confirm-upload) would solve for this.

We also may wan

[2020-06-10 02:33] theecrit commented on #219
Will continue with single-route for MVP.

[2020-06-10 02:34] theecrit commented on #205
Closing; merged.

[2020-06-10 02:34] #205 closed, assigned to nobody

[2020-06-10 02:56] theecrit commented on #221
Will be addressed alongside other work.

[2020-06-10 03:04] theecrit commented on #186
Related to #171

[2020-06-10 03:04] theecrit commented on #171
Related to #186

[2020-06-10 03:42] theecrit commented on #130
I'm going to compile hosting comparison of following:
- Cost
- Server memory
- Tech stack support
- Ethics
- Tech support
- UI ease
- Security
- Uptime
- etc

Will look at:
- MS Azure
- Amazon AWS
- Dreamhost
- Heroku
- Digital Ocean
- On-premise server
- etc

Then we'll review as a team and bring an informed opinion to WOEIP.

[2020-06-10 03:55] theecrit commented on #129
Completed alongside #184.

[2020-06-10 03:55] #129 closed, assigned to ifed3

[2020-06-10 03:56] theecrit commented on #135
Requires completion of #159.

[2020-06-17 03:33] theecrit opened #230 "When canceling my upload, I want the system to make sure I really meant to cancel."
### Description
When the user is viewing the data confirmation page, they have the option to save the session (in which case, the map displays their session), or cancel. When selecting "cancel," the system currently flushes the data and redirects the user to the "About" landing page. Instead, we'd like the system to serve a disruptive modal dialog that forces the user to confirm their decision bef

[2020-06-17 03:35] theecrit commented on #230
Note: I'm not including this in MVP.

[2020-06-17 03:37] theecrit opened #231 "When I cancel my upload, I want to be redirected to the Upload page."
### Description
Currently, the MVP pushes the user to the About page if they select "Cancel" when viewing the data confirmation page. Instead, we'd like the system to redirect them to the Upload page (empty state).

**Continued by @TangoYankee**
This comes from the way state is managed between the components. The `upload` component is able to change its `file state` whenever a file is placed on th

[2020-06-20 19:43] TangoYankee opened #232 "As User, I want the Device Name to be detected automatically from the file"
**Is your feature request related to a problem? Please describe.**
The dropdown field in the upload confirmation component is a list of devices that don't necessarily reflect the actual device names used by EIP.

**Describe the solution you'd like**
I would like the device name field to be populated by the name listed in the dustrak file

**Describe alternatives you've considered**
Currently, it i

[2020-06-20 19:52] TangoYankee opened #233 "As a developer I want the File Confirmation date and time to be a specific format."
**Is your feature request related to a problem? Please describe.**
PR #226 has a date and time format in the file confirmation form that does not match the wireframes.

**Describe the solution you'd like**
To have the formats match the wireframes.

[2020-06-20 20:04] TangoYankee opened #234 "As a user, I want the current active route to be highlighted"
**Describe the bug**
The header often fails to change the underlined route when the site navigates to a new route.

**Expected behavior**
I expect the underline to change to whatever route is currently active.

**Affected Components (For Developers)**
The header/navigation bar

**Technical Resources (For Developers)**
The underline is assigned and reassigned whenever the user directly clicks on a

[2020-06-20 20:08] TangoYankee opened #235 "Error when upload non-csv and gps.log files"
**Describe the bug**
"When you upload non-csv and gps.log files, the page errors out and says 'Unhandled Rejection(TypeError): Cannot read property 'text' of undeined'. That error stems from the upload confirmation component which shouldn't be hit unless file length and error message checks are met which is interesting"
- @Ajay-Vishwanath

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2020-06-20 20:18] TangoYankee commented on #232
Related Issue #132

[2020-06-24 22:46] #219 closed, assigned to Ajay-Vishwanath

[2020-06-24 22:46] #221 closed, assigned to TangoYankee, Ajay-Vishwanath

[2020-06-24 22:46] #222 closed, assigned to nobody

[2020-06-24 22:56] Ajay-Vishwanath commented on #235
**Error Reproduction**

1. Go to the upload page.
2. Drag/Drop or select 2 non-csv or log files - I chose .png files for instance.
3. Browser responds with this error:
<img width="1137" alt="Screen Shot 2020-06-24 at 3 53 09 PM" src="https://user-images.githubusercontent.com/47573228/85635583-0adc0480-b633-11ea-8651-13ba9c2b0174.png">

The source of this error is in the upload-confirmation compone

[2020-06-24 23:38] Ajay-Vishwanath commented on #235
**Proposed Solution**

In the current implementation, the checks are being met (`file.length` = 2 and no `errorMessage`) before `handleValidation` is called, and the confirmation component is then rendered with the incorrect files. We need to make sure `handleValidation` is called on the uploaded files and returns no `errorMessage` before proceeding.

One solution would be to have another variable

[2020-07-07 22:40] #235 closed, assigned to Ajay-Vishwanath

[2020-07-07 22:41] #233 closed, assigned to Ajay-Vishwanath

[2020-07-29 04:06] TangoYankee commented on #159
For the open question of data aggregation: @Ajay-Vishwanath and I believe that there will be few data points at a single location within a single session. Additionally, the points are stacked with dots without more metadata displayed at each point. Basically, we can table the issue until we start aggregating and analyzing the data.

[2020-07-29 04:09] TangoYankee commented on #133
@theecrit After discussing it, @Ajay-Vishwanath and I would like there to be two options. If a user navigates via the upload functionality, the user will see the session they just uploaded. If they navigate via the global bar, the user will see the most recently uploaded session date. In either case, user can select different session from within page.

[2020-08-02 18:25] TangoYankee commented on #134
The functionality will be replaced by a drop down menu to select a day of interest.

[2020-08-02 18:25] #134 closed, assigned to nobody

[2020-08-02 18:30] TangoYankee commented on #135
In the listed wireframes, only the bottom view may be needed.

[2020-08-02 18:39] TangoYankee opened #237 "Display and color code readings on the map"
## Description
The viewer wants to look at the data points displayed on a map and understand at a glance what the general degree of pollution is for those locations.

- [ ] Per conversations with WOEIP, we'll color code the data points on the map to reflect their PM2.5 levels, using the 24 hr average EPA color standard for PM2.5 for our air quality readings on the map (see [comment](https://github

[2020-08-02 19:42] theecrit commented on #237
I'm not sure an entirely new classification system is necessary but I like the idea of challenging the limitations of existing classifications. When we're ready to dig into this, we should also be sure to center the conversation around the work WOEIP has already done here—they already have a set of actual environmental indicators ([pdf attached](https://github.com/openoakland/woeip/files/5012723/n

[2020-08-02 22:52] theecrit commented on #135
Agreed, I think we can close this.

[2020-08-02 22:52] #135 closed, assigned to nobody

[2020-08-05 01:49] TangoYankee commented on #130
@theecrit Per our discussion, WOEIP already has a [Dreamhost](https://www.dreamhost.com/) account. To keep accounts consolidated, we would like to stick with Dreamhost. Because Dreamhost shared machines do not [support](https://help.dreamhost.com/hc/en-us/articles/217141627-Supported-and-unsupported-technologies) our tech stack, we are looking to have a [dedicated machine](https://www.dreamhost.co

[2020-08-05 01:52] theecrit commented on #130
@TangoYankee Which component of our tech stack doesn't DreamHost support?

[2020-08-05 02:15] theecrit commented on #130
Per team conversation on 8/4/2020, I'll run AWS by Brian and see if he'd prefer a more thorough evaluation via [this spreadsheet](https://docs.google.com/spreadsheets/d/1kPY3JD0S077_kXkl7GDN6PG0EHTLhFBp6HoMt1gBgC8/edit?usp=sharing).

[2020-08-07 01:51] TangoYankee opened #238 "As a developer, I want to know which collection a pollutant_value belongs to"
**Is your feature request related to a problem? Please describe.**
`Pollutant_values` does not have a link to the `collection` where it came from. This makes it impossible to display `pollutant_values` based on the collection where they were created.

**Describe the solution you'd like**
I would like to update the `pollutant_value` model to record the id of the `collection` that created it.

**Des

[2020-08-07 02:06] theecrit commented on #238
Shouldn't you be able to get to the related Collection via the pollutantValue's `collection_ID`, which has an associated  `collection_file_ID` per the [schema](https://drive.google.com/file/d/1bm2X4h3X-UnezP2JhbB_El41dQ4nUi2X/view?usp=sharing)?

I'll admit that the schema may be overly complicated but we got there through a *lot* of conversation and iteration in an attempt to make it scalable to o

[2020-08-07 02:28] TangoYankee commented on #238
@theecrit yes, your interpretation of the schema is correct and this issue is wrong. I updated my original slack message to reflect that I initially wrote this off the Swagger docs, which are incomplete. When I went through the code, I saw the relationship of pollutant_value -> collection_file -> collection.

As for the fate of this issue, my plan was to ghost delete it by simply changing it to an

[2020-08-07 02:31] #238 closed, assigned to nobody

[2020-08-07 17:06] TangoYankee opened #239 "As a developer, I would like retrieve a list of collections based on their start date"
**Is your feature request related to a problem? Please describe.**
Collections can currently only be retrieved by their ids. I would like to send a query string to retrieve a list of collections that occured on a given day.

**Describe the solution you'd like**
A url structured as `api.[domain]/collection?start_date=[yyyy-mm-dd]` should return a list of collections from that day.

**Additional con

[2020-08-07 17:56] theecrit commented on #239
While I can't speak to the specific query process, I do have a couple of questions about how user interaction and use cases may impact the definition of this issue (though they likely have implications beyond this issue):

The database schema doesn't indicate the format for `timestamp` but I'd have assumed it would be `yyyy-mm-dd-hh-mm-ss` rather than simply `yyyy-mm-dd`. In which case, we'd proba

[2020-08-07 17:59] theecrit commented on #239
Oh yeah, and next question: do we need to include `end date and time` in the query, too? As a user, I may want a range of dates. Again, this can be post-MVP but I'd like to create an issue and make sure we're not building something now that we'll have to unbuild right after launch.

[2020-08-07 20:37] TangoYankee commented on #239
1) Each data point already has its time recorded in the database. We're just not using time right now because the UI doesn't care.
2) a. Nope, it already holds that data b. Maybe? But that should be captured in issue #186

*Bonus Question!* The way queries work, we can send multiple parameters that build off each other. If we want a range, we can just add a second parameter later called `end_date`

[2020-08-07 21:20] theecrit commented on #239
Copy that.

[2020-08-07 21:41] theecrit opened #241 "Swagger docs not updating with code updates"
**Describe the bug**
The Swagger docs appear to be out of date. They should be updating when the codebase is updated but they don't appear to be doing so. This was noticed when @TangoYankee checked the Swagger docs for the call to access the `collection_id` via the `CollectionFile` but didn't find it. (Tim, please confirm if that's accurate and update accordingly.)

**To Reproduce**
Steps to repro

[2020-08-07 22:16] jayqi commented on #241
I don't think this issue is accurate. The problem that @TangoYankee ran into is not that the Swagger docs are out of date or incorrect. The Swagger docs are correct representations of the API and are fine, and these are automatically generated by the application live.

The problem that @TangoYankee ran into is that the API is distinct from the underlying database models and not a complete represen

[2020-08-07 22:33] Ajay-Vishwanath commented on #239
This query will be used in the map view in order to get collections by day. It will require a second request to get the data of a collection. ie) api.[domain]/collection/{id}/data Issue #133

Just to be clear the response for this request will be a list of collection IDs and then for the specific session mapping, an additional API request will need to be made to retrieve that collection's data, co

[2020-08-08 23:16] TangoYankee commented on #239
I'd like to keep it as two separate operations, to maintain a separation of concerns.

[2020-08-08 23:42] TangoYankee commented on #241
@jayqi  Thank you for the clarification on the Swagger documentation.

[2020-08-08 23:42] #241 closed, assigned to nobody

[2020-08-11 22:33] #239 closed, assigned to TangoYankee

[2020-08-11 22:49] #231 closed, assigned to nobody

[2020-08-11 22:51] #234 closed, assigned to nobody

[2020-08-12 02:12] theecrit opened #244 "How does the map display when there's a day with no data?"
## Description
Currently, the front-end displays a blank map when there's a day selected with no data.

## Potential solution
- Display an alert (style: yellow caution status) that says something to the effect of "We haven't collected data for this time period. Please select another date."

## Acceptance criteria to close issue
- [ ] Solution is documented in a wireframe and reviewed by team
- [ ]

[2020-08-12 03:16] theecrit opened #245 "[Placeholder] As an admin, I need a way to assign a reader-friendly nickname to a new device"
**Is your feature request related to a problem? Please describe.**
- front-end admin flow + API call

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots abo

[2020-08-12 03:21] theecrit commented on #232
@TangoYankee @Ajay-Vishwanath I'll let you two update this to reflect the decision we just made for MVP (pulling device nickname from within front-end).

[2020-08-12 03:54] #154 closed, assigned to r-b-g-b

[2020-08-12 03:57] theecrit commented on #43
Resolved.

[2020-08-12 03:57] #43 closed, assigned to ifed3

[2020-08-12 04:04] theecrit opened #246 "Develop About page content and add to site"
### Description
We'll want to include an About page that tells the public what they need to know about the project.

### Potential content requirements
- [x] Who's involved in the project and their roles (at the org level)
- [x] General context for the the project exists
- [x] Explanation of why this project is important
- [ ] ~Description of project success metrics/impacts if available~ `Won't in

[2020-08-12 17:19] TangoYankee commented on #33
I believe OpenOakland is stylized as one word, in Upper Camel Case

[2020-08-12 18:00] TangoYankee opened #247 "As a user, I want the browser tab to display the site correct title and favicon"
**Is your feature request related to a problem? Please describe.**
Our website title is currently `Razzle Typescript` and our favicon is the default react logo.

**Describe the solution you'd like**
- [ ] Replace `Razzle Typescript` with `West Oakland Air Quality`
- [ ] Replace React Logo with WOEIP weather vane.

**Describe alternatives you've considered**
Could also use custom WOAQ logo for favi

[2020-08-12 18:01] TangoYankee commented on #247
As it is such a small code change, I would like to combine it into the same PR as the Footer Issue #33

[2020-08-19 03:07] #33 closed, assigned to TangoYankee

[2020-08-19 03:07] #247 closed, assigned to nobody

[2020-08-20 01:24] TangoYankee commented on #232
Serial Numbers:
- 8530091203 -> A
- 8530094612 -> B
- 8530100707 -> C

[2020-08-20 01:30] TangoYankee commented on #232
@theecrit We're also getting rid of the option to change the device via a dropdown, right? We're treating it as another thing the computer knows more reliably than the user?

[2020-08-20 15:52] TangoYankee opened #250 "Migrate from TSLint to ESLint"
**Is your feature request related to a problem? Please describe.**
The front end relies on TSLint. TSLint is deprecated and is being replaced with ESLint.

**Describe the solution you'd like**
Implement ESLint for continued support

**Additional context**
As time progresses, TSLint will drift further from best practices- starting with the [TSLint -> ESLint roadmap](https://github.com/palantir/tsli

[2020-08-21 02:44] theecrit opened #252 "[Enhancement] Update ReadMe and Contributing files to make onboarding smoother"
### Description
While previous improvements made it easier for new team members to get up and running, the current ReadMe and Contributing docs are still a little long-winded and not super easy to navigate. The Contributing.md file is outdated at this point and may over-document the process to the point of being overwhelming/confusing.

### Recommended updates
- [ ] Consider adding the basic steps

[2020-08-21 02:55] theecrit commented on #176
@TangoYankee I'd like to nominate this for inclusion in MVP, given the potential for trouble in the database if it's punted.

[2020-08-21 03:04] TangoYankee commented on #176
Oh, it could be a lot of fun! #hashing

[2020-08-21 16:55] theecrit commented on #232
Yep!

[2020-08-24 14:23] TangoYankee commented on #252
If we want to get rid of the contributing doc, we can also utilize the [Pull Request Checklist](https://github.com/openoakland/woeip/blob/master/.github/pull_request_template.md) to guide the contributing process i.e) *Make sure you run your tests and linters*

[2020-08-26 02:51] theecrit commented on #252
I didn't even realize that existed.

[2020-08-26 14:33] #250 closed, assigned to nobody

[2020-08-29 02:16] #232 closed, assigned to TangoYankee

[2020-09-02 00:44] theecrit commented on #132
@Ajay-Vishwanath Can we safely close this now that #232 is closed?

[2020-09-03 00:03] theecrit commented on #27
@TangoYankee Do you think we need this for MVP? If MVP is really an internal staff testing period, I wonder if maybe we can punt this to post-MVP, when it gets rolled out to actual volunteers for real use.

[2020-09-07 17:35] TangoYankee commented on #27
I don't think it should be labeled MVP.

At the same time, it's a relatively light lift. It could be accomplished independently and in parallel with MVP issues.

[2020-09-07 18:38] TangoYankee opened #254 "As a developer, I want a script to programmatically seed the database with a default pollutant"
**Is your feature request related to a problem? Please describe.**
Uploading files to the database requires linking the data values to a type of pollutant. Currently, the front-end is hard coded to  use pollutant value of `id 1`. If there is no pollutant already in the database, then the API will throw an error- the pollutant doesn't exist and the data cannot be linked to a non-existent pollutant.

[2020-09-07 23:55] Ajay-Vishwanath commented on #132
@theecrit Yes! Sorry for the late reply but everything looks clear here.

[2020-09-07 23:56] #254 closed, assigned to nobody

[2020-09-08 18:56] theecrit commented on #27
Yeah, I feel like there are a handful of issues that don't *need* to be in MVP but could also be good issues for new folks to knock out as a way of getting familiar with the project. This may not be one of those (given that it requires admin-type access for the GA account), but throwin' it out there.

[2020-09-08 19:16] theecrit commented on #27
Added some issue description/detail

[2020-09-09 01:39] #132 closed, assigned to Ajay-Vishwanath

[2020-09-13 20:07] #252 closed, assigned to nobody

[2020-09-29 23:09] theecrit opened #257 "Improve UX on map loading"
## Description
Currently, when a user clicks "Save" there is a lag between the click and the time the system pushes them to the map page. Presumably, this is because the system is writing the data from the files to the database during this time, so it can render the map on the next page using those data points. However, there's no visual feedback for the user, so it seems like something is broken.

[2020-09-30 19:59] Ajay-Vishwanath opened #258 "Initial Error from Collection Date API Request"
**Describe the bug**
When changing the date on the Map Display page, the initial `collectionDateRequest` API call errors out which is printed to the console. This is not a huge deal as the next request is a successful 200-level request, but is worth fixing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Maps page
2. Open the Chrome console
3. Change the date
4. See that cancel was

[2020-09-30 20:03] Ajay-Vishwanath opened #259 "Device Name Saved to the Database"
## Description
WOEIP uses three DustTrack units, nicknamed `A`, `B`, and `C`. Currently, this comes into play in two places in the user flow:

1. On the Confirmation page (between Upload and View Map)
2. On the View Map page

We need to ensure the system is pulling and displaying the data accurately. Right now:

- [ ] The Confirmation page displays a proper device nickname, but I'm not sure if thi

[2020-09-30 20:07] Ajay-Vishwanath opened #260 "Links to Open Session Files on the Map Page"
**Is your feature request related to a problem? Please describe.**
On the Map display mockup on figma, there is a link to 'view raw data' in the bottom of the session information. We need this to open the CSV and GPS log files that were uploaded for that session.

**Describe the solution you'd like**
Implementation of a 'view raw data' link that either downloads those 2 files or opens them up in s

[2020-09-30 20:11] Ajay-Vishwanath opened #261 "Pushing Users to Appropriate Date and Session in Map After Upload"
**Is your feature request related to a problem? Please describe.**
Once users upload data, they need to be pushed to the appropriate date and session on the map page. Right now, it defaults to today's session information.

**Describe the solution you'd like**
On upload from upload confirmation, the user is pushed to the map display component where it shows the session information they just uploade

[2020-09-30 20:15] Ajay-Vishwanath opened #262 "Loading Indicator on Map While Markers are Being Placed"
**Is your feature request related to a problem? Please describe.**
In addition to the loading feature on file upload outlined in #257, we need a loading indicator once the markers are being generated before they are placed on the Mapbox map.

**Describe the solution you'd like**
Have a loading indicator above the Mapbox map which disappears once the markers have been generated and placed.

**Addit

[2020-09-30 20:20] Ajay-Vishwanath opened #263 "Reduce TypeScript 'Any' Values on Map and Control Panel Components"
**Describe the bug**
I used too many `any` TypeScript type specifications in the Map and Control Panel Components and would like to specify for their types for organization and for best practice.

**Labels**
- [x] Add a status label
  - `needs definition`
  - `needs help`
  - `ready to work on`
  - `in progress`
  - `backlog`
- [x] Add a `bug` label
- [x] Add additional labels as needed

**Affecte

[2020-09-30 21:34] theecrit commented on #262
@Ajay-Vishwanath If I understand what you're saying, #257 would add a loader to load the map layer, and then this issue would add another separate loader while loading the data layer? I'm wondering if it would be more seamless for the user if we just left the #257 loader going until both map and data were loaded. Thoughts?

[2020-09-30 21:40] theecrit commented on #260
Quick question re: the UX flow here. "View raw data" implies the interface will display the data, whereas "Download raw data files" is more accurate for the behavior described in the issue. I don't have a strong opinion either way, other than to make sure the language matches the behavior.

Viewing raw data in the interface probably requires more development overhead (New window/view or modal over

[2020-10-02 01:17] Ajay-Vishwanath commented on #260
@theecrit Definitely agree - we should make it say 'download raw data' and have it just do that for now.

[2020-10-02 01:20] theecrit commented on #260
Works for me!

[2020-10-02 01:21] Ajay-Vishwanath commented on #262
@theecrit I think we can delete this issue and consolidate with #257, I didn't read the solution closely enough. We also need to have that same loading indication happen when users change dates or sessions and not just when they are pushed over from upload, but that should be the same implementation.

[2020-11-11 04:12] #263 closed, assigned to TangoYankee

[2020-11-11 04:16] #133 closed, assigned to Ajay-Vishwanath

[2020-11-11 04:22] #262 closed, assigned to nobody

[2020-11-11 05:00] theecrit opened #265 "Document how to access the actual database in the ReadMe"
## Desription
The current ReadMe doesn't walk new contributors through the process of spinning up and accessing the database.

## Proposed solution
Add step-by-step instructions to the ReadMe so anyone can access and start querying the database directly via SQL e.g.

**Describe alternatives you've considered**
Simply viewing the schema and pinging the API limits how different thinkers might approa

[2020-11-11 05:20] theecrit commented on #244
Developers should feel welcome to implement the potential solution as-is, or request design support from the team to define a more appropriate solution.

[2020-11-13 02:01] #159 closed, assigned to Ajay-Vishwanath

[2020-11-15 19:37] TangoYankee commented on #116
[making sense of docker-compose overrides](https://medium.com/it-dead-inside/making-sense-of-docker-compose-overrides-efb757460d64)

[2020-11-16 13:57] theecrit commented on #116
Might also be worth taking a look at how OpenOUSD handles staging and deployment: https://github.com/openoakland/openousd-site

[2020-11-17 02:28] TangoYankee commented on #265
1) This would only be available for local machines as the Api exists specifically to control how people interact with the db.
2) With the KISS rewrite of the readme, we took out everything that isn't 'run this with docker'
3) Once the docker containers are running as outlined in the readme, the db can be accessed directly with the following commands:
1. `docker-compose exec db bash` (enters the do

[2020-11-18 07:49] #261 closed, assigned to nobody

[2020-12-02 01:46] theecrit opened #268 "Weird delete behavior following upload of multiple mismatched/duplicated files"
**Describe the bug**
With a pack of files uploaded, attempting certain files causes phantom behavior when attempting to clean up the batch.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to lvh.me
2. Click on "Select files from your computer"
3. Select one csv and gps file whose dates don't match
4. Observe "dates don't match" warning
5. Click "Select files from your computer" without de

[2020-12-02 03:42] TangoYankee commented on #268
Deleting another file would delete that file and cause another to re-display.

I would consider these to be in the scope of the solving the immediate bug. I believe the bug comes from the way react uses keys to identify list items. Because we were using the file path as the key, uploading a duplicate file would make a duplicate key. This seems to be confusing React when it tries to delete a file.

[2020-12-03 21:36] theecrit commented on #268
Closed by #269

[2020-12-03 21:36] #268 closed, assigned to nobody

[2021-01-13 20:20] brooksjessup opened #274 "Deprecated class in dustrak.py"
**Describe the bug**
When calling the function load_gps(), Python throws a warning: "FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead."

**To Reproduce**
Steps to reproduce the behavior:
1. Go to woeip/api/woeip/apps/air_quality/dustrak.py
2. Click on '....'
3. Scroll down to 'def combine_date_and_time..

[2021-01-27 01:58] theecrit commented on #156
@Ajay-Vishwanath Hello! I'm going to close this issue as complete and open new ones for "Device" and "Collected by" fields.

[2021-01-27 03:32] #156 closed, assigned to Ajay-Vishwanath

[2021-01-27 05:19] theecrit opened #276 "Update ReadMe for accuracy"
Current ReadMe is out of date.

- [x] Replace "West Oakland Air Quality (WOAQ) is a project of OpenOakland focused on building digital advocacy tools around air quality data collected by volunteers and citizen scientists." with `West Oakland Air Quality (WOAQ) aims to help West Oaklanders fight for better air by making their local air quality data more accessible and meaningful, and providing the

[2021-01-27 05:33] theecrit commented on #259
@Ajay-Vishwanath I think you're using _device type_ but really mean _device name_.

- Device type = model (e.g. DustTrak), which isn't technically used anywhere in the [database](https://drive.google.com/file/d/1U5tIkROnRMZkQJXmoQan81WKCapi7fOy/view?usp=sharing).
- Device name = nickname for each of the 3 DustTrak devices (which is what we want to display on the front-end, and is reflected in the

[2021-01-27 05:40] #260 closed, assigned to Ajay-Vishwanath

[2021-01-27 06:09] Ajay-Vishwanath commented on #156
@theecrit Sounds great, makes sense!

[2021-01-27 06:11] Ajay-Vishwanath commented on #260
@theecrit did we get this fully working with download raw data taking us all the way there? Was 90% of the way there with my last PR

[2021-02-02 19:29] theecrit commented on #257
@Ajay-Vishwanath I'm going to close this and open a separate issue for the lag on "save," which still seems to be occurring.

[2021-02-02 19:29] #257 closed, assigned to Ajay-Vishwanath

[2021-02-02 19:47] Ajay-Vishwanath commented on #257
@theecrit Sounds good - had a small note about that in my pr:

[2021-02-02 19:55] theecrit opened #280 "Add progress indicator to Upload view on save"
## Description

Currently, when a user clicks "Save" there is a lag between the click and the time the system pushes them to the map page. Presumably, this is because the system is writing the data from the files to the database during this time, so it can render the map on the next page using those data points. However, there's no visual feedback for the user, so it seems like something is broken

[2021-02-02 21:24] theecrit commented on #257
@Ajay-Vishwanath Oh yeah, that makes loads of sense (no pun intended). I'll update #280 accordingly.

[2021-02-05 19:54] hawser commented on #276
Much better. Feels long in a single sentence to my ear. Another option,

West Oakland Air Quality (WOAQ) was founded in support of the West Oakland community. We strive to make local air quality data more accessible and meaningful. With the necessary digital advocacy tools, we drive change in the neighborhood.

[2021-02-11 00:44] theecrit opened #282 "Add navigation controls to map"
## Description

Currently, the Mapbox integration on the View Map page doesn't display any visible navigational controls, so the user has to know to move around the map by using click-and-drag and scrolling behavior, which isn't always intuitive. We'd like to add some visible controls similar to those described in the [Mapbox docs](https://docs.mapbox.com/mapbox-gl-js/example/navigation/) to provi

[2021-02-13 15:58] #280 closed, assigned to TangoYankee

[2021-02-13 16:14] TangoYankee opened #283 "Convert to client-side rendering"
*Describe the solution you'd like**
Replace server-side rendering with client side

**Additional context**
- Reduce the demands on the server
- Reduce the complexity of site configuration

## Acceptance Criteria
- [x] Webpack builds a file that can be sent to the browser for rendering
  - [x] Babel compiler
  - [x] ESlinter
- [x] Static resources  configured
- [x] 'Docker compose up' still include

[2021-02-21 15:30] theecrit opened #284 "[Research] Map current database schema to external standards"
## Description

We originally designed the database schema to normalize incoming data enough that we would eventually be able to ingest other data types from other data sources (beyond the current DustTrak files) over time. Since then, some AQ-specific schemas have been released and/or come to our attention.

We want to understand how much effort it would be to align our schema with these, to dete

[2021-03-05 23:53] #282 closed, assigned to nobody

[2021-03-05 23:55] #230 closed, assigned to nobody

[2021-03-06 00:06] TangoYankee opened #289 "Create a simplified deployment that works on a single server"
# Description
A full scale production deployment is expensive in both time and financial resources. A deployment that relies entirely on a single server will be much faster and budget friendly to implement

# Acceptance Criteria
- [x] Provide a configuration that can run on a single server.
- [x] Be able to run the configuration with a single terminal command
- [x] Wrap the service into a Docker C

[2021-03-07 19:31] TangoYankee opened #290 "Downgrade from TypeScript to JSDoc and PropTypes"
## Description
Typescript places a significant time burden on developers. With only a handful of pages, the WOAQ application is small scale and does not reap the benefits of strict type enforcement offered by TypeScript. To make development more straightforward, we should remove Typescript.

The role of typechecking may be fall to JSDocs and PropTypes, instead.

## Acceptance criteria
- [x] Remove

[2021-03-07 19:36] TangoYankee opened #291 "Utilize Create React App"
## Description
With the switch to client-side rendering, we may remove Razzle. With the removal of Razzle, we could instead switch to a "Create-React-App" based builds. With Create-React-App, we can rely on pre-configured Webpack/babel/linting. This would greatly reduce the dev-ops burden and allow Developers to focus on writing code, rather than configurations.

## Acceptance Criteria
- [x]  Re-c

[2021-03-07 19:47] TangoYankee opened #292 "Cancel Map equest for pollutants when switching to a new day."
## Expected behavior
In the map, loading pollutants takes a long time. If I want to switch to viewing a new session of pollutants while a session is still loading, that loading session should cancel.

## Observed behavior
The map will switch to a new session but the data will still load in the background. After a few moments, the data will appear on the map- even though the map is supposed to be s

[2021-03-07 20:06] TangoYankee opened #293 "Simplify styling frameworks"
## Description
"Styled Components" introduces a non-standard pattern of using css directly in js(x) files. Using this pattern places an additional burden of learning a tool and pattern for volunteer developers. Volunteers should be able to jump in and start coding with familiar tools in familiar patterns.

"Theming" requires a greater level of abstraction and maintenance. We do not require theming

[2021-03-07 20:14] TangoYankee opened #294 "Organize the UI and Semantic UI Components"
## Description
Determine how to best import, export, and organize styled UI components for reuse throughout the codebase and document them in the ReadMe.

## Acceptance Criteria
- [ ] Self-Explanatory structure (Easy to learn)
- [ ] Clear reasoning and justification (Clearly Beneficial)
- [ ] Facilitates the reuse of components
- [ ] Facilitates the modular composition of new components

[2021-03-07 21:08] TangoYankee opened #295 "Testing Switch"
Tests for switch result in this error:
[code]

## Acceptance Criteria
- [x] Resolve Error
- [x] Do not break production build of map that is using hack that is triggering error
- [x] Write unit tests for switch component

[2021-03-07 21:09] TangoYankee opened #296 "Production and Development Styling do not match"
# Description
Some Semantic UI React components look tiny when compared to their development version

## Acceptance Criteria
- [ ] Production styling matches development styling

[2021-03-27 22:03] ontoneio opened #302 "[refactor] - API utilities"
Remove API utility tests in favor of a refactor of the utilities to have better error handling.

[2021-03-27 22:08] ontoneio opened #303 "[refactor] - Testing Folder architecture"
Refactor testing folder architecture to service level testing folder. Clarify the context of the tests.

[2021-03-27 22:11] ontoneio opened #304 "[refactor] - Consolidate UI tests"
UI tests for one component, can be consolidated into a single file and separated with Jest's testing suites.

[2021-03-27 22:31] #304 closed, assigned to nobody

[2021-03-27 22:32] ontoneio commented on #304
Doh! These were supposed to go to my fork!

[2021-03-27 22:32] ontoneio commented on #303
Doh! These were supposed to go to my fork!

[2021-03-27 22:32] #303 closed, assigned to nobody

[2021-03-27 22:32] ontoneio commented on #302
Doh! These were supposed to go to my fork!

[2021-03-27 22:32] #302 closed, assigned to nobody

[2021-04-01 00:26] #283 closed, assigned to TangoYankee

[2021-04-01 00:26] #289 closed, assigned to nobody

[2021-04-01 00:26] #290 closed, assigned to nobody

[2021-04-01 00:26] #291 closed, assigned to nobody

[2021-04-01 00:26] #292 closed, assigned to nobody

[2021-04-01 00:26] #293 closed, assigned to nobody

[2021-04-08 00:13] kbrdsk commented on #258
This seems to have been fixed in PR#288, cancel is still logged to the console but no more faulty requests are being made.

[2021-04-12 23:40] #217 closed, assigned to kbrdsk

[2021-04-14 00:49] theecrit commented on #130
Closing as we're moving to Digital Ocean.

[2021-04-14 00:49] #130 closed, assigned to theecrit

[2021-04-20 06:13] kwonangela7 opened #314 "As a user, I would like to see the 24 hr average EPA color standard for PM2.5 applied to the air quality readings on the map."

[2021-04-20 06:13] kwonangela7 opened #315 "As a user looking at a single collection session, I would like to see an aggregated min or max value along the path"
## Description
The viewer wants to look at the data points displayed on a map and understand at a glance what the general degree of pollution is for those locations, without being overwhelmed by each reading for every single unique point along the path.

### Technical Details
The proposed implementation plan is to pass a parameter to the database (i.e. n, which represents the size of the sample of

[2021-04-20 06:14] kwonangela7 opened #316 "As a user comparing the same path of 2 data collectors, per 3m, I would like to see the min and max across all of their data points."

[2021-04-20 06:16] kwonangela7 opened #317 "As a user comparing the same path of 2+ data collectors, per 3m, I would like to see the AQ averaged across all of their data points."

[2021-04-20 06:21] kwonangela7 opened #318 "As a user, if there are multiple sensor readings for a particular (lon, lat) point, I would like the reading for that (lon, lat) point to be the max of all the readings."

[2021-04-20 06:35] kwonangela7 commented on #314
This is a duplicate of https://github.com/openoakland/woeip/issues/237, so I'm closing this one and commenting over there.

[2021-04-20 06:35] #314 closed, assigned to nobody

[2021-04-20 06:39] kwonangela7 commented on #237
Per our conversation with him, Brian's recommendation is to use the 24 hr average EPA color standard for PM2.5 for our air quality readings on the map ([source](https://www.airnow.gov/sites/default/files/2020-05/aqi-technical-assistance-document-sept2018.pdf))
![image](https://user-images.githubusercontent.com/13878545/115349071-40288480-a168-11eb-9f17-f465266d0f8d.png)

I think everything Jess me

[2021-04-26 16:20] theecrit commented on #318
Related to #315

[2021-04-26 16:21] theecrit commented on #318
@kwonangela7 ~Would it be easier to just roll this into #315 as one of the acceptance criteria for that issue to close?~ On second thought let's just roll this and #315 into #237.

[2021-04-26 16:31] theecrit commented on #318
Also, for MVP I think the max is fine, but I would love to revisit this post-MVP and see if this is a specific area where we might actually explore creative ways to illustrate the conceptual differences between mean, min/max, range, etc. and what the implications might be for making meaning and applying it to real-world decisions.

[2021-04-26 16:53] theecrit commented on #315
@kwonangela7 I think this can also get rolled into #237 (along with #318).

[2021-04-26 17:54] theecrit commented on #102
Maybe helpful? https://allyjs.io/

[2021-04-26 18:03] theecrit opened #320 "Pre-launch checklist for live MVP"
## Description
In an effort to cross our t's and dot our i's, we'd like to develop an explicit checklist to guide the live rollout of our initial MVP. This should include two core sections:

1. Acceptance criteria for the system to go live
2. Steps to complete live launch

Below is an initial draft but it would be great for the team to refine as appropriate based on best practice for product launc

[2021-04-27 06:05] kwonangela7 commented on #315
@theecrit Is there a particular way I should roll up the issue? I'm thinking I'll just note this requirement on this ticket (and the one from #318) under #237's "Describe the solution you'd like"

[2021-04-28 00:55] theecrit commented on #315
@kwonangela7 Yep, I'd just add the requirements to the description, tagging these two issues, then go ahead and close them.

[2021-05-03 02:09] theecrit commented on #296
@TangoYankee Is this a post-MVP improvement, do you think?

[2021-05-03 02:20] theecrit commented on #276
Recommended update:

[2021-05-03 02:28] theecrit commented on #34
Need to decide how to handle this now that account sign-in is likely post-MVP.

[2021-05-03 02:33] theecrit opened #325 "Add "beta" notice in the UI that data may not be accurate"
## Description

If we're launching a live MVP site without account sign-in, we can't limit who uploads data. While it's highly unlikely anyone will upload non-WOEIP data given the fairly strict system requirements for file recognition, it would be irresponsible not to contextualize the data views.

### Recommended solution

- [ ] Apply a yellow `dismissable block message` ([reference](https://sema

[2021-05-03 02:36] theecrit commented on #27
Assigning to MVP, as MVP will be a live site.

[2021-05-05 19:58] TangoYankee commented on #296
yes. It will likely be resolved when we start applying our custom designs

[2021-05-11 23:43] TangoYankee opened #329 "As a developer, I would like the links to files in the database to use the same protocol as the rest of the environment"
**Describe the bug**
The database returns a path to download a collection file that is hard-coded with `http`. As the production environment uses `https`, then requesting the link results in an ["mixed content"](https://developer.mozilla.org/en-US/docs/Web/Security/Mixed_content) warning.

**Expected behavior**
The website is able to change the protocol based on environment.

**Additional context*

[2021-05-19 19:32] theecrit commented on #246
Current draft: https://docs.google.com/document/d/1iBKiQjxV_n5qQuHQLAfsX1r5mIDKn9-ggksfDwkkx4g/edit?usp=sharing

[2021-05-19 19:37] theecrit commented on #318
Closing, as this has been rolled into #237.

[2021-05-19 19:37] #318 closed, assigned to nobody

[2021-05-20 05:18] kwonangela7 commented on #315
Closing as this requirement has been moved to #237

[2021-05-20 05:23] kwonangela7 commented on #237
@brooksjessup is working on the color coding with @kbrdsk, so I assigned both of them to this one. Since this is a larger ticket, we may end up having several assignees.

[2021-05-20 22:42] theecrit opened #331 "As a neighborhood citizen scientist or resident, I want to understand what a dot on the map represents"
## Description
Each dot on the map represents a PM2.5 reading recorded at a specific time and place. Each dot will be color coded according to the EPA AQI (per #237). But as a citizen scientist, I may want more details, including:

- What the specific PM2.5 reading for that location is.
- What time of day the reading was recorded.
- Any other readings for that location (since the map defaults to d

[2021-06-15 16:25] abitrolly opened #339 "https://woaq.org/ is down"
1. Go to https://woaq.org/
...
4. See error

Is there any status monitor for OpenOakland?

[2021-06-16 02:53] turnerhayes commented on #329
Could you use [protocol-relative URLs](https://en.m.wikipedia.org/wiki/Uniform_Resource_Locator#prurl) for this?

[2021-06-17 03:49] turnerhayes commented on #212
I've had some success with https://formatjs.io/ and its project React-intl. It still requires some sort of CMS-ish system; I implemented a very basic site for managing strings in an ugly but simple frontend in https://github.com/codeforsanjose/census2020/tree/master/translate-site. It ain't pretty, but it works!

[2021-06-17 22:49] Ajay-Vishwanath commented on #259
Noticed that the app still doesn't save the `device_id` to the `collection` object upon creation, and can't display which device made which collection on the view map page. I think some backend work needs to happen first where there is an association made between those two tables and then the device_id is added to the `collection` object within the Collection Serializer. I will handle this and the

[2021-06-20 13:04] TangoYankee commented on #259
@Ajay-Vishwanath Looking at the [database schema](https://drive.google.com/file/d/1U5tIkROnRMZkQJXmoQan81WKCapi7fOy/view), it seems that the device is linked via the sensor and the sensor is linked via the collection file and the collection file is linked to the collection. Fun. Anyway, a lot of discussion went into [normalizing the database](https://en.wikipedia.org/wiki/Database_normalization).

[2021-06-30 17:40] theecrit commented on #325
@kbrdsk Assigned this to you, as I see you opened #341 to address it. :)

[2021-07-04 16:34] theecrit commented on #339
Hi @abitrolly, thanks for reporting this! We originally had the URL forwarding to this repo but have been working on configuring it to house the livewire branch via a semi-automated deployment flow.

@ontoneio and @TangoYankee have been troubleshooting.

[2021-07-04 20:02] TangoYankee commented on #339
To clarify, the website is functioning. It is the redirect from `https://woaq.org` to `https://www.woaq.org` that is malfunctioning.

The site can be reached at the later domain :)

[2021-07-05 04:05] kbrdsk commented on #325
Thanks! Sorry for not updating it

[2021-07-29 13:15] theecrit commented on #147
@wendy-wm-wu: I think we probably need to start breaking this issue out into implementable tickets for each of the MVP bullets:

1. Account creation (covered by prototype linked in "Related Documentation" section above)
2. Password recovery (covered by #199 which likely needs updating)
3. Account sign-in (covered by prototype linked in "Related Documentation" section above)
4. SysAdmin management:

[2021-07-29 19:36] TangoYankee commented on #199
Are we emailing a recovery code or a sign-in link?

[2021-08-01 12:54] TangoYankee opened #345 "As a data manager, I want to apply permissions to user roles"
**Is your feature request related to a problem? Please describe.**
Certain folks are trusted to perform certain actions The website should automatically enforce these permissions. The roles are fully outlined in the [WOAQ user accounts Google doc](https://docs.google.com/spreadsheets/d/1lfJVD3IqZpYeQr86rmdTuW4ASYuEpec5l7o0WiH6SZc/edit#gid=0)

**Describe the solution you'd like**
The MVP roles shou

[2021-08-04 04:17] theecrit opened #346 "Create front-end Sign In page"
## Description
As a user with an existing account, I need a place to sign into it using my user ID and password.

### Assumptions
- The Upload page will serve as the default home page for woaq.org for MVP.
- When visiting the Upload page, system will detect if user is signed in or not and if not, will display sign-in form by default.
- This issue covers only the creation of the front-end sign-in f

[2021-08-04 04:36] theecrit opened #347 "Create front-end Create an Account page"
## Description
As an unauthenticated visitor, I need a place to create an account.

### Assumptions
- The Upload page will serve as the default home page for woaq.org for MVP.
- When visiting the Upload page, system will detect if user is signed in or not and if not, will display a sign-in form by default.
- User can select "Create an account" link to be taken to this issue's Create an Account pag

[2021-08-04 04:49] theecrit opened #348 "[Placeholder] Email validation flow for account creation"
## Description
When I create a new account, I want to make sure the process is secure by verifying my new account via an emailed link.

### Assumptions
- #347 is complete.
- User receives success message and prompt to check email to validate account when submitting account creation form.
- Flow: User submits account creation form > System displays prompt to check email > System sends email w/ vali

[2021-08-04 05:02] theecrit opened #349 "[Placeholder] Adjust table schema to accommodate user-specific information"
## Description
Our [original schema](https://drive.google.com/file/d/1U5tIkROnRMZkQJXmoQan81WKCapi7fOy/view?usp=sharing) accounts for the following data to be tracked:
- User ID
- User name
- User email
- User password

### Open questions
- [ ] Should we include an `approved contributor` flag? Note: this is different than a `verified` account when a user self-verifies their new account via an emai

[2021-08-06 17:40] ontoneio opened #350 "OPS - Upgrade Ubuntu Server Version + Dependencies"
Server is due for some updates>

These dependencies need upgrade, before Ubuntu gets its LTS upgrade.

[code]

[2021-08-06 18:10] ontoneio opened #351 "OPS - custom checks for PR's - using Github Checks Action"
The required PR checks seems to be configured for another system `TravisCI` or `CircleCI`  I am guessing, but I am not able to find what in fact these checks are trying to validate. The tests don't seem to live in the repo itself if they are available.
Since we are trying to move everything CI/CD wise into GIthub Actions, I am going to change the remove branch checks for now.

[2021-08-06 18:14] ontoneio opened #352 "OPS - Change production branch name"
Change production branch to `main` in place of `livewire` to be more inline with new Github standards and workflow, as well as to clarify CI/CD structure and naming conventions to be followed in configuration.

[2021-08-06 18:22] ontoneio opened #353 "OPS - Configure New User Account on Ubuntu for CI/CD"
A user needs to be configured on the Server with it's own SSH keys and access to be able to Securely deploy the Server from Github. Currently the server only seems to be configured for the `root` user which would not be best practice to use for CI/CD deployment.

[2021-08-06 18:30] ontoneio opened #354 "OPS - Configure Basic Firewall"
Currently it when I  run the command
`~# ufw status` which is a CLI for the Uncomplicated FireWall program. It returns `Status: inactive`
Which means there is not currently any network protection, which is necessary for connecting up all the platforms needed. In addition to that I have checked to see if there is any kind of Digital Ocean Cloud Firewall in place and that currently isn't configured

[2021-08-06 19:10] ontoneio opened #355 "OPS - Investigate Codecov credentials"
This project uses a paid or freemium service call Codecov, but we have no access to this and cannot figure out what in fact it's purpose is. If anyone has access to this, we would love to get the credentials and document it. Otherwise we can find an alternative to the functionality this provides.

If it is not in fact helping the project in a measurable way, or we cannot configure it, we should co

[2021-08-11 13:17] theecrit opened #357 "Fix placement of error component on Upload page"
## Description

When uploading a single file, the error message component displays at the bottom of the screen, overlapping the footer. Still to investigate: whether this happens for just a single file upload error, or all errors/alerts.

### Steps to reproduce

1. Go to woaq.org
2. Select "Upload" in global nav
3. Select "upload files" or drag a single csv file to the drop zone.
4. See error disp

[2021-08-11 13:31] theecrit opened #358 "UI adjustments on Upload Confirmation screen"
## Description

When we moved to Create React App, all the components (form fields, labels) on the Upload Confirmation page became centered and the order got switched up. We want to bring them back to parity with wireframes.

### Acceptance criteria
- [ ] Components are left-aligned
- [ ] Field labels appear above or to the left of inputs
- [ ] Inline validation components appear to the right of o

[2021-08-11 23:53] theecrit commented on #353
@TangoYankee Can you weigh in on this? I feel like we had a conversation about how this would work?

[2021-08-11 23:54] theecrit commented on #351
@ontoneio I have access to CircleCI and can poke around there if it helps?

[2021-08-12 00:25] ontoneio commented on #351
@theecrit I haven't seen anything specific to CircleCI after this, so I am assuming we are in the clear, but I will let you know if anything pops up! Thanks!

[2021-08-16 18:22] theecrit commented on #295
@TangoYankee Is this a critical bug required for go-live functionality? Can it be moved into either "Ready to work on" or the P2 post-MVP project backlog?

[2021-08-16 18:32] theecrit commented on #176
@wendy-wm-wu @sribbleinc Is this work complete? I don't see an open PR but I feel like I remember this being addressed.

[2021-08-16 18:41] theecrit opened #359 "MVP closure"
## Description
This is all the stuff we need to do to launch the MVP and move the project into `Idle` or `Delivered` status.

- [ ] Meet with WOEIP to review MVP and gain sign-off.
- [ ] Host a retro with WOAQ (and WOEIP if available).
- [ ] Document some learnings for the openoakland.org blog.

[2021-08-17 00:42] wendy-wm-wu commented on #176
@theecrit Yes, this is complete

[2021-08-18 00:22] TangoYankee commented on #295
Yes, it can be moved to post MVP. It affects our ability to run unit tests. But, we're not really enforcing unit tests.

[2021-08-18 02:10] #176 closed, assigned to sribbleinc

[2021-08-18 02:11] #325 closed, assigned to kbrdsk

[2021-08-30 02:47] #295 closed, assigned to nobody

[2021-08-30 17:41] #355 closed, assigned to nobody

[2021-08-30 17:42] ontoneio commented on #355
Removed CodeCov status checks and integration due to lack of being able to access platform.

[2021-08-30 17:46] ontoneio commented on #351
### Done
- Removed Travis CI status checks
- Removed CodeCov Status Checks for `livewire` & `develop` branch
- Implement protected branch options for `main` branch which will act as the production branch

### Needs
- New custom checks for PR's - using [Github Checks Action](https://github.com/marketplace/actions/github-checks)

[2021-08-30 18:09] ontoneio commented on #352
New branch `main` now exists, `livewire` is deprecated.
Going forward all production changes will be populated through the `main` branch

[2021-08-30 18:09] #352 closed, assigned to nobody

[2021-08-31 08:45] abitrolly commented on #339
Looks like https://woaq.org/ is hosted by Netlify and https://www.woaq.org/ is on Digital Ocean. Is it the case?

[2021-09-08 00:07] TangoYankee opened #361 "As I developer, I want to prevent invalid requests for collections, pollutants, or files"
**Is your feature request related to a problem? Please describe.**
The map component makes requests whenever the collection of interest changes. However, as part of the State lifecycle, sometimes the data used to make the request is set to placeholder data, which is invalid for requests. This creates erroneous requests and errors. This makes it difficult to manage true errors. It also makes unnece

[2021-09-08 17:51] theecrit commented on #258
Closing per @kbrdsk's observation above.

[2021-09-08 17:51] #258 closed, assigned to kbrdsk

[2021-09-08 17:53] theecrit commented on #246
This is currently blocked as I'm unable to get Docker functioning on Mac Catalina ([known issue](https://github.com/docker/for-mac/issues/5037)).

[2021-09-08 17:55] theecrit opened #362 "Provide alternative to Docker for running local environment"
## Description

There is currently a [known, unresolved bug](https://github.com/docker/for-mac/issues/5037) running Docker on some Mac environments. This makes running WOAQ on a local environment a blocker for some developers.

### Requested solution

- [ ] Provide an alternative to Docker for developing WOAQ locally.
  - [ ] Developer can install the app on local Mac or PC environment
  - [ ] Dev

[2021-09-09 01:13] TangoYankee commented on #362
As much as it's meant to be an avenue for a "one-step setup", Docker also tends to be a barrier for entry to the project.

If I'm not mistaken, we're also removing it from our deploy process- rendering it meaningless from that perspective, as well.

Next, maintaining Docker files is tough. There is a lot of configuration and it must account for all the environments where it's used. If we are plann

[2021-09-09 03:51] theecrit commented on #362
Totally on board. I've updated the issue accordingly.

[2021-09-15 03:25] theecrit opened #365 "Style data points on the map via MapBox API"
## Description
Style data points on the map according to rules in #237.

## Success criteria
- [ ] TBD

## Dependencies
- Requires completion of #366 first.

[2021-09-15 03:29] theecrit opened #366 "Prepare MapBox styles for customization"
## Description
This issue covers prep work to enable non-React styling directly via MapBox API.

## Success criteria
- [x] Brooks' MapBox styling is publicly available
- [x] Angela can access styling in MapBox

### Dependencies
- Need to identify if more work is needed on PR #364 in order to complete this issue
- This issue needs to be completed for #237 to be considered complete
- This issue need

[2021-09-21 06:05] kwonangela7 commented on #366
Kabirdas' [PR](https://github.com/openoakland/woeip/pull/364) is complete; it just needs an approving review. The only dependency for this ticket to be complete has been fulfilled ✅